@import '_vars.m';

html, body {
	font-size: $t-main;
	line-height: 1.5em;
}

.lg {
	display: none !important;
}

.modal {
	width: 300px;
	margin-bottom: 75px;

	.close {
		padding: 5px 10px;
		font-size: $t-small;
	}
	.inner {
		clear: both;
		padding: 15px 15px 5px 15px;
		background-color: #FFF;

		.headline {
			margin-bottom: 15px;
			padding-bottom: 10px;
			border-bottom: 1px solid $c-light-1;
			font-size: $t-main;
			text-align: center;
		}
		.message {
			margin-bottom: 15px;
			font-size: $t-main;

			input[type=text],
			input[type=number] {
				width: 65px;
				border: none;
				border-bottom: 1px solid $c-mid-yellow;
				outline: none;
				text-align: center;
				font-weight: 700;
				color: $c-mid-yellow;
			}
			small {
				font-size: $t-small;
				color: $c-light-1;
			}
		}
		ul {

			li {
				position: relative;
				margin-bottom: 10px;
				text-align: center;
				font-size: $t-main;

				button {
					width: 100%;
					min-height: 45px;
					border: 1px solid $c-dark-blue;
					outline: none;
					background-color: transparent;
					padding: 0 30px;
					font-size: $t-main;
					cursor: pointer;
					transition: background-color .25s;

					.sub {
						font-size: $t-small;
						color: $c-light-grey;
					}
				}
				button.padded {
					padding: 10px 30px;
				}
				textarea {
					width: 100%;
					min-height: 300px;
					border: none;
					border-bottom: 1px solid $c-light-grey;
					outline: none;
					background-color: transparent;
					font-size: $t-large;
					resize: none;
					box-sizing: border-box;
				}
				label {
					position: absolute;
					top: -15px;
					left: 0;
					font-size: $t-main;
					color: $c-mid-yellow;
					transform: translateY(calc(#{$t-main}));
					transition: transform .25s, font-size .25s;
					cursor: pointer;
				}
				textarea:focus + label,
				textarea.has-value + label {
					font-size: $t-small;
					transform: translateY(0px);
				}
				input[type=date] {
					padding-bottom: 5px;
					border: none;
					border-bottom: 1px solid $c-light-grey;
					outline: none;
					font-size: $t-main;
					font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
					color: $c-dark-blue;

					&::before {
						content: none;
					}
				}
			}
			li:hover {
				button {
					background-color: $c-dark-blue;
					color: #FFF;
				}
			}
		}
		.foot {
			margin: 10px 0;
			text-align: center;

			button {
				border: none;
				outline: none;
				height: 45px;
				width: 100%;
				border-radius: 5px;
				padding: 0 30px;
				font-size: $t-main;
				background-color: $c-light-2;
				color: $c-dark-1;
				cursor: pointer;
				transition: background-color .25s;
			}
			button:hover {
				background-color: $c-dark-1;
				color: #FFF;
			}
		}
	}
}

.add-circle {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 15px;
	border-radius: 20px;
	background-color: $c-light-grey;
	color: #FFF;
	font-size: $t-mid;
	line-height: 19px;
	text-align: center;
	vertical-align: text-top;
}
