@import "_vars.card";

.home-body {
  margin: 0;
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--body-color);
  text-align: var(--body-text-align);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--heading-color);
}

.h1 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  .h1 {
    font-size: 1.75rem;
  }
}

.h2 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .h2 {
    font-size: 1.5rem;
  }
}

.h3 {
  font-size: calc(1.26rem + 0.12vw);
}

@media (min-width: 1200px) {
  .h3 {
    font-size: 1.35rem;
  }
}

.h4 {
  font-size: 1.25rem;
}

.h5 {
  font-size: 1.15rem;
}

.h6 {
  font-size: 1.075rem;
}

.b-card > hr {
  margin-right: 0;
  margin-left: 0;
}

.b-card-rounded {
  border-radius: 0.625rem;
}
.p-lg-17 {
  padding: 4.25rem !important;
}

.text-start {
  text-align: left !important;
}

.text-end {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}

@each $class, $value in $text-colors {
  .text-#{$class} {
    --text-opacity: 1;
    color: rgba(#{$value}, var(--text-opacity)) !important;
  }
}

.text-muted {
  --text-opacity: 1;
  color: var(--secondary-color) !important;
}

.text-gray-600 {
  color: var(--text-gray-600) !important;
}

.d-flex {
  display: flex !important;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

@for $i from 0 through 20 {
  .mb-#{$i} {
    margin-bottom: $i * 0.25rem !important;
  }

  .ms-#{$i} {
    margin-left: $i * 0.25rem !important;
  }
  .me-#{$i} {
    margin-right: $i * 0.25rem !important;
  }

  .my-#{$i} {
    margin-top: $i * 0.25rem !important;
    margin-bottom: $i * 0.25rem !important;
  }
  .mx-lg- {
    margin-right: $i * 0.25rem !important;
    margin-left: $i * 0.25rem !important;
  }

  .me-n#{$i} {
    margin-right: -#{$i * 0.25}rem !important;
  }

  .mb-n#{$i} {
    margin-bottom: -#{$i * 0.25}rem !important;
  }
  .mb-lg-n#{$i} {
    margin-bottom: -#{$i * 1}rem !important;
  }

  .ms-n#{$i} {
    margin-left: -#{$i * 0.25}rem !important;
  }
  .mt-n#{$i} {
    margin-top: -#{$i * 0.25}rem !important;
  }
  .my-n#{$i} {
    margin-top: -#{$i * 0.25}rem !important;
    margin-bottom: -#{$i * 0.25}rem !important;
  }
  .mx-n#{$i} {
    margin-right: -#{$i * 0.25}rem !important;
    margin-left: -#{$i * 0.25}rem !important;
  }
  .m-n#{$i} {
    margin: -#{$i * 0.25}rem !important;
  }

  .p-#{$i} {
    padding: $i * 0.25rem !important;
  }
  .pb-#{$i} {
    padding-bottom: $i * 0.25rem !important;
  }
  .pt-#{$i} {
    padding-top: $i * 0.25rem !important;
  }

  .pe-#{$i} {
    padding-right: $i * 0.25rem !important;
  }

  .ps-#{$i} {
    padding-left: $i * 0.25rem !important;
  }

  .px-lg-#{$i} {
    padding-right: $i * 0.25rem !important;
    padding-left: $i * 0.25rem !important;
  }

  .py-lg-#{$i} {
    padding-top: $i * 0.25rem !important;
    padding-bottom: $i * 0.25rem !important;
  }

  .gap-#{$i} {
    gap: $i * 0.25rem !important;
  }
}

@for $i from 1 through 10 {
  .fs-#{$i} {
    font-size: calc(1rem + #{$i * 0.05}rem) !important;
  }
  .fs-lg-#{$i} {
    font-size: calc(1rem + #{$i * 0.05}rem) !important;
  }
}

@for $i from 2 through 7 {
  .fs-#{$i}x {
    font-size: calc(1.275rem + (#{$i * 0.325}rem + #{$i * 0.3}vw)) !important;
  }
}

.fst-italic {
  font-style: italic !important;
}

.fst-normal {
  font-style: normal !important;
}

.fs-lg-base {
  font-size: 1rem !important;
}

@each $weight, $value in $font-weights {
  .fw-#{$weight} {
    font-weight: $value !important;
  }
}

.fw-semibold {
  font-weight: 500 !important;
}

.overlay {
  position: relative;
}

.overlay .overlay-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  opacity: 0;
}

.overlay.overlay-block .overlay-layer,
.overlay.overlay-show .overlay-layer,
.overlay:hover .overlay-layer {
  transition: all 0.3s ease;
  opacity: 1;
}

.overlay.overlay-block {
  cursor: wait;
}

@each $class, $value in $widths {
  .w-#{$class} {
    width: $value !important;
  }
  .w-xl-#{$class} {
    width: $value !important;
  }
  .mw-#{$class} {
    max-width: $value !important;
  }
  .mx-#{$class} {
    max-width: $value !important;
  }
  .h-lg-#{$class} {
    height: $value !important;
  }
  .h-#{$class} {
    height: $value !important;
  }
  .mh-lg-#{$class} {
    max-height: $value !important;
  }
  .mh-#{$class} {
    max-height: $value !important;
  }
}

@each $class, $value in $background-colors {
  .bg-#{$class} {
    --bg-opacity: 1;
    background-color: rgba(#{$value}, var(--bg-opacity)) !important;
  }
}

@each $class, $value in $background-opacities {
  .bg-opacity-#{$class} {
    --bg-opacity: #{$value};
  }
}

.bg-gradient {
  background-image: var(--gradient) !important;
}

.flex-root {
  flex: 1;
}

.flex-column-auto {
  flex: none;
}

.flex-column-fluid {
  flex: 1 0 auto;
}

.flex-row-auto {
  flex: 0 0 auto;
}

.flex-row-fluid {
  flex: 1 auto;
  min-width: 0;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-start {
  justify-content: start;
  align-items: start;
}

.flex-end {
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-stack {
  justify-content: space-between;
  align-items: center;
}

.flex-fill {
  flex: 1 1 auto !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}
.translate-middle {
  transform: translate(-50%, -50%) !important;
}
.top-50 {
  top: 50% !important;
}

.flex-equal {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
}

@each $position in $positions {
  .position-#{$position} {
    position: #{$position} !important;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  display: block;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}

.nav-link:focus,
.nav-link:hover {
  color: var(--link-hover-color-rgb);
}

.nav-link:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(62, 151, 255, 0.25);
}

.nav-link:focus,
.nav-link:hover {
  border-bottom-color: currentcolor;
}

.btn {
  --btn-padding-x: 1.5rem;
  --btn-padding-y: 0.775rem;
  --btn-font-size: 1.1rem;
  --btn-font-weight: 500;
  --btn-line-height: 1.5;
  --btn-color: var(--body-color);
  --btn-bg: transparent;
  --btn-border-width: 1px;
  --btn-border-color: transparent;
  --btn-border-radius: 0.475rem;
  --btn-hover-border-color: transparent;
  --btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --btn-disabled-opacity: 0.65;
  --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  color: var(--btn-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--btn-border-width) solid var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-bg);
  box-shadow: var(--btn-box-shadow);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 0;
  padding: calc(0.775rem + 1px) calc(1.5rem + 1px);
}

.btn:hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
}

.btn:focus-visible {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
  outline: 0;
  box-shadow: var(--btn-box-shadow), var(--btn-focus-box-shadow);
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  color: var(--btn-disabled-color);
  pointer-events: none;
  background-color: var(--btn-disabled-bg);
  border-color: var(--btn-disabled-border-color);
  opacity: var(--btn-disabled-opacity);
  box-shadow: none;
}

.btn-primary {
  --btn-color: #000000;
  --btn-bg: #3e97ff;
  --btn-hover-color: #000000;
  --btn-hover-bg: #5ba7ff;
}

.btn-native {
  --btn-color: #fff;
  --btn-bg: var(--native);
  --btn-hover-color: #fff;
  --btn-hover-bg: var(--mid-native);
}

.btn-native-secondary {
  --btn-color: #000000;
  --btn-bg: transparent;
  --btn-hover-color: #000000;
  --btn-hover-bg: var(--secondary);
}

.btn.active {
  color: var(--btn-active-color);
  background-color: var(--secondary) !important;
  border-color: var(--btn-active-border-color);
  box-shadow: var(--btn-active-shadow);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.775rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--gray-700);
  appearance: none;
  background-color: var(--body-bg);
  background-clip: padding-box;
  border: 1px solid var(--gray-300);
  border-radius: 0.475rem;
  box-shadow: false;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.border-transparent {
  border-color: transparent !important;
}

.octagon {
  clip-path: polygon(
    46.1731656763% 0.7612046749%,
    47.411809549% 0.3407417371%,
    48.6947380778% 0.0855513863%,
    50% 0,
    51.3052619222% 0.0855513863%,
    52.588190451% 0.3407417371%,
    53.8268343237% 0.7612046749%,
    82.1111055711% 12.4769334274%,
    83.2842712475% 13.0554747147%,
    84.3718855375% 13.7821953496%,
    85.3553390593% 14.6446609407%,
    86.2178046504% 15.6281144625%,
    86.9445252853% 16.7157287525%,
    87.5230665726% 17.8888944289%,
    99.2387953251% 46.1731656763%,
    99.6592582629% 47.411809549%,
    99.9144486137% 48.6947380778%,
    100% 50%,
    99.9144486137% 51.3052619222%,
    99.6592582629% 52.588190451%,
    99.2387953251% 53.8268343237%,
    87.5230665726% 82.1111055711%,
    86.9445252853% 83.2842712475%,
    86.2178046504% 84.3718855375%,
    85.3553390593% 85.3553390593%,
    84.3718855375% 86.2178046504%,
    83.2842712475% 86.9445252853%,
    82.1111055711% 87.5230665726%,
    53.8268343237% 99.2387953251%,
    52.588190451% 99.6592582629%,
    51.3052619222% 99.9144486137%,
    50% 100%,
    48.6947380778% 99.9144486137%,
    47.411809549% 99.6592582629%,
    46.1731656763% 99.2387953251%,
    17.8888944289% 87.5230665726%,
    16.7157287525% 86.9445252853%,
    15.6281144625% 86.2178046504%,
    14.6446609407% 85.3553390593%,
    13.7821953496% 84.3718855375%,
    13.0554747147% 83.2842712475%,
    12.4769334274% 82.1111055711%,
    0.7612046749% 53.8268343237%,
    0.3407417371% 52.588190451%,
    0.0855513863% 51.3052619222%,
    0 50%,
    0.0855513863% 48.6947380778%,
    0.3407417371% 47.411809549%,
    0.7612046749% 46.1731656763%,
    12.4769334274% 17.8888944289%,
    13.0554747147% 16.7157287525%,
    13.7821953496% 15.6281144625%,
    14.6446609407% 14.6446609407%,
    15.6281144625% 13.7821953496%,
    16.7157287525% 13.0554747147%,
    17.8888944289% 12.4769334274%
  );
}

.b-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: var(--body-color);
  word-wrap: break-word;
  background-clip: border-box;
  font-size: 13px;
}
