.goog-te-gadget-simple {
    width: 0px !important;
}

.googletranslator {
    padding-left: 0;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    margin-top: 30px !important;
}
.VIpgJd-ZVi9od-xl07Ob-OEVmcd {
    top: 40px !important;
    max-width: 100vw !important;
}
.VIpgJd-ZVi9od-vH1Gmf {
    max-width: 100vw !important;   
}

#goog-gt-tt {
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 12px !important;
}

#gtranslate-dummy-lang {
    width: 100px !important;
}