.login-module {
	padding: 30px 30px 15px 30px;
	border-top: 2px solid $c-dark-blue;
	background-color: #FFF;

	ul {
		li {
			position: relative;
			min-height: 45px;
			margin: 5px 0;

			.required {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				left: -30px;
				width: 30px;
				top: -5px;
				height: 100%;
				margin: 5px 0;
				text-align: center;

				input {
					display: none;
				}
				label {
					font-size: $t-mid;
					line-height: 1.5em;
					color: $c-light-grey;
					cursor: pointer;
					margin-top: 10px;
				}
				input:checked + label,
				label.active {
					color:	$c-dark-red;
				}
			}

			.input-group {
				position: relative;
				flex-grow: 1;

				input.toggle + label {
					margin: 0;
				}
			}

			input[type=text],
			input[type=password] {
				position: relative;
				width: calc(100% - 30px);
				height: 30px;
				border: none;
				outline: none;
				padding: 15px 15px 0 15px;
				background-color: #FFF;
				font-size: $t-mid-small;
				color: $c-dark-blue;
				border-bottom: 1px solid $c-light-grey;
			}
			input[type=text] + label,
			input[type=password] + label {
				position: absolute;
				left: 15px;
				top: 5px;
				font-size: $t-mid-small;
				line-height: 1.5em;
				color: $c-light-grey;
				transform: translateY(13.5px);
				transition: transform .25s, font-size .25s;
				pointer-events: none;
			}
			input[type=text]:focus + label,
			input[type=text].has-value + label,
			input[type=password]:focus + label,
			input[type=password].has-value + label {
				font-size: $t-small;
				line-height: 1.5em;
				transform: translateY(-2px);
			}
			input[type=email]:invalid,
			input[type=password].error {
				background: repeating-linear-gradient(
					45deg,
					#FFF,
					#FFF 3px,
					rgba(165, 30, 65, .1) 3px,
					rgba(165, 30, 65, .1) 6px
				);
			}
			button {
				width: 100%;
				min-height: 30px;
				border: 1px solid $c-dark-blue;
				outline: none;
				background-color: transparent;
				margin-top: 15px;
				padding: 0 30px;
				font-size: $t-main;
				cursor: pointer;
				transition: background-color .25s;
			}
			p.errormessage {
				color: $c-dark-red;
			}
		}
	}

    .ul-link {
        padding-top: 20px;
        font-size: 12px;

        p {
            padding-top: 20px;
        }
    }
}


@keyframes animate-down {
	from {
		transform: translateY(-30px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.session-alert {
	padding: 15px;
	border: 1px dotted $c-dark-red;
	box-sizing: border-box;
	margin: 15px 0;
	animation: animate-down 1s;

	p {
		color: $c-dark-red;
	}
	small {
		color: $c-light-grey;
		font-size: $t-small;
		line-height: 1.2em;
	}

	form {

		table {
			margin: 15px 0 0 0;
			width: 100%;
			color: $c-mid-grey;
			font-size: $t-mid-small;
			line-height: 1.5em;
			border-collapse: separate;
			border-spacing: 0 5px;

			thead {
				th {
					height: 30px;
					padding: 0 10px;
					text-align: left;
					border-bottom: 1px solid $c-light-grey;
				}
			}
			tbody {
				tr {
					&:hover {
						background-color: $c-light-2;
					}
					&.all {
						font-weight: bold;
					}

					td {
						min-height: 30px;
						padding: 0 10px;

						&.highlight {
							background: repeating-linear-gradient(
								45deg,
								rgba(255, 255, 255, 0),
								rgba(255, 255, 255, 0) 3px,
								rgba(165, 30, 65, .1) 3px,
								rgba(165, 30, 65, .1) 6px
							);
						}
						&:last-child {
							padding-right: 0;
						}

						button {
							width: 100%;
							min-height: 30px;
							border: 1px solid $c-dark-red;
							padding: 0 5px;
							background: transparent;
							outline: none;
							color: $c-dark-red;
							font-size: $t-small;
							line-height: 1.5em;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}