main#mobilize-new {
	/* THIS MIMICS THE div.document IN pad.ejs  */
	display: block;
	float: left;
	width: calc(300px * 3 + 15px * 2);
	padding-top: 30px;
	height: calc(100vh - 30px);

	form {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;

		.modal {
			width: calc(100% - 120px);
			padding: 30px 60px 15px 60px;
			background-color: #FFF;
			border: 1px solid $c-light-2;
			z-index: 100;

			.inner {
				position: relative;
				padding: 0;
				background-color: transparent;

				.head {
					display: flex;
					width: calc(100% + 120px);
					margin: -30px 0 15px -60px;
					font-size: $t-main;

					.btn-group {
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						height: 30px;
						padding: 15px 10px 0 10px;
						margin-bottom: 15px;

						button {
							height: 30px;
							padding: 0 10px;
							margin: 0 5px;
							border: 1px solid $c-dark-blue;
							outline: none;
							background-color: transparent;
							font-size: $t-main;
							line-height: 1.5em;
							cursor: pointer;

							label {
								cursor: pointer;
								pointer-events: none;
							}
						}
						button.next {
							background-color: $c-light-blue;
							border-color: $c-light-blue;
							color: #FFF;
						}
						button:disabled {
							background-color: transparent;
							border-color: $c-light-2;
							color: $c-light-2;
							pointer-events: none;
							cursor: default;
						}

						.title {
							font-weight: 700;

							i {
								vertical-align: middle;
								transform: rotate(90deg);
							}
						}
						.contributor-count {
							flex-grow: 1;
							text-align: center;
							color: $c-dark-blue;
						}
						.global-opt {
							padding: 0 7px 0 5px;

							input {
								display: none;
							}
							label {
								cursor: pointer;
								font-weight: 700;
								font-style: italic;
								color: $c-dark-blue;
							}
						}
						.global-opt:hover {
							label {
								text-decoration: underline;
							}
						}
						// .global-opt.active {
						// 	label {
						// 	}
						// }
					}
				}
				.head.status-0 {
					background: repeating-linear-gradient(
						-45deg,
						transparent,
						transparent 3px,
						rgba(255, 193, 14, .1) 3px,
						rgba(255, 193, 14, .1) 6px
					);
				}
				.head.status-1 {
					background: repeating-linear-gradient(
						-45deg,
						transparent,
						transparent 3px,
						rgba(50, 190, 225, .1) 3px,
						rgba(50, 190, 225, .1) 6px
					);
				}
				.body {
					position: relative;
					min-height: 65px;

					h1 {
						margin-top: 30px;
						font-size: $t-mid;
						line-height: 1.3em;
					}

					.input {
						position: relative;
						border-bottom: 1px solid $c-light-grey;

						label {
							color: $c-light-grey;
						}
					}
					.filter {
						position: relative;

						label {
							color: $c-light-grey;
						}
					}

					menu {
						max-height: 300px;
						overflow: scroll;
						box-shadow: inset 0 5px 5px rgba(100, 100, 100, .1);
						border-top: 1px solid $c-light-grey;
						overflow: scroll;

						li {
							display: flex;
							max-width: 100%;
							align-items: center;
							justify-content: space-around;
							color: $c-light-2;
							padding: 0 20px 0 15px;
							color: $c-dark-grey;

							div {
								padding: 0 5px;
								text-align: left;
								cursor: pointer;

								label {
									/* THE FOLLOWING IS TO COMPENSATE FOR _base.lg.scss */
									position: static;
									padding: 5px 0;
									cursor: pointer;
								}
							}
							.preview {
								color: $c-dark-blue;

								i {
									vertical-align: middle;
									font-size: $t-main;
									cursor: pointer;
								}
							}
							.main {
								label {
									color: $c-dark-grey;
								}
							}
							.grow {
								flex-grow: 1;
								padding: 0 10px;
								text-align: left;
								word-break: break-word;

								label {
									display: inline-block;
									width: 100%;
									transform: translateY(0);
								}
							}
							.count,
							.position,
							.country {
								vertical-align: baseline;
								color: $c-light-grey;

								label {
									font-size: $t-small;
								}
							}
						}
						li.status-0 {
							background: repeating-linear-gradient(
								-45deg,
								transparent,
								transparent 3px,
								rgba(255, 193, 14, .1) 3px,
								rgba(255, 193, 14, .1) 6px
							);
						}
						li.status-1 {
							background: repeating-linear-gradient(
								-45deg,
								transparent,
								transparent 3px,
								rgba(50, 190, 225, .1) 3px,
								rgba(50, 190, 225, .1) 6px
							);
						}
						li.checked {
							background-color: $c-light-blue;

							.preview {
								i {
									color: #FFF;
								}
							}
							div {
								label {
									color: #FFF;
								}
							}
							.count,
							.position,
							.country {
								label {
									color: #FFF;
								}
							}
						}
						li:not(.checked):hover {
							background-color: $c-light-2;
						}
					}
					input[type=text] {
						width: 100%;
						height: 50px;
						border: none;
						outline: none;
						margin: 15px 0 0 0;
						background-color: transparent;
						font-size: $t-large;
					}
					label {
						position: absolute;
						top: 5px;
						left: 0;
						font-size: $t-main;
						transform: translateY(26px);
						transition: transform .25s, font-size .25s;
						cursor: pointer;
					}
					input[type=checkbox] + label {
						position: static;
						transform: none;
					}
					input[type=checkbox] + label + p {
						font-size: $t-mid-small;
						color: $c-light-grey;
					}
					input[type=checkbox]:checked + label + p {
						color: $c-dark-blue;
					}
					input[type=text] + label {
						pointer-events: none;
					}
					input[type=text]:focus + label,
					input[type=text].has-value + label {
						font-size: $t-small;
						transform: translateY(0px);
					}
					input:-webkit-autofill,
					input:-webkit-autofill:hover,
					input:-webkit-autofill:focus,
					input:-webkit-autofill:active  {
						/*-webkit-box-shadow: 0 0 0 40px $c-mid-1 inset !important;*/
						-webkit-text-fill-color: $c-dark-blue !important;
					}
					textarea {
						position: relative;
						display: block;
						width: 100%;
						min-height: calc(#{$t-main} * 1.5);
						height: 1px;
						padding: 15px 0 15px 0;
						margin-top: 15px;
						border: none;
						outline: none;
						background-color: transparent;
						font-size: $t-main;
						line-height: 1.5em;
						text-align: left;
						overflow: hidden;
						resize: none;
					}
					textarea + label {
						pointer-events: none;
						position: absolute;
						left: 0;
						top: 15px;
						font-size: $t-main;
						line-height: 1.5em;
						color: $c-mid-grey;
						transform: translateY(0);
						transition: transform .25s, font-size .25s;
					}
					textarea:focus + label,
					textarea.has-value + label {
						font-size: $t-small;
						line-height: 1.5em;
						transform: translateY(-20px);
					}
					label.inline {
						position: relative;
						display: block;
						color: $c-light-grey;
						transform: none;
					}
					label.small {
						font-size: $t-small;
						line-height: 1.5em;
					}
					input[type=number] {
						width: calc(#{$t-xlarge} * 3);
						border: none;
						outline: none;
						margin: 15px 0 0 10px;
						font-size: $t-xlarge;
						font-weight: bold;
						line-height: 1.5em;
						color: $c-dark-blue;
						text-align: center;
					}
					.cron-option {
						display: flex;
						align-items: center;
						margin: 15px 0;

						.toggle-option {
							width: 150px;
							padding: 0 30px;
							text-align: center;
						}
						input[type=date] {
							padding-bottom: 5px;
							border: none;
							border-bottom: 1px solid $c-light-grey;
							outline: none;
							font-size: $t-main;
							font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
							color: $c-dark-blue;

							&::before {
								content: none;
							}
						}
						input[type=date]:disabled {
							color: $c-light-grey;
							background-color: transparent;
							border-color: $c-light-2;
						}
					}
				}
				.body.center {
					text-align: center;
					/*margin: 30px 0 15px 0;*/
				}
				.foot {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					min-height: 30px;
					margin: 10px 0 0 0;
					font-size: $t-mid-small;

					input[type=checkbox] {
						display: none;
					}
					input[type=checkbox] + label {
						display: block;
						margin: 15px 0;
						cursor: pointer;
					}
					input[type=checkbox]:checked + label {
						border-color: $c-dark-blue;
					}
					input[type=checkbox]:checked + label + p {
						color: $c-dark-blue;
					}
					.contributor-count {
						margin: 15px 0;
						color: $c-light-grey;
					}
					button {
						height: 30px;
						width: 100%;
						padding: 0 10px;
						border: 1px solid $c-light-blue;
						border-radius: 0;
						outline: none;
						background-color: $c-light-blue;
						font-size: $t-mid-small;
						color: #FFF;
						cursor: pointer;
						transition: none;
					}
					.global-opt.active {
						button {
							border-color: $c-dark-blue;
							background-color: transparent;
							color: $c-dark-blue;
						}
					}
					p {
						justify-self: start;
						margin-left: 15px;
						color: $c-light-grey;
					}
				}
				.foot.stretch {
					justify-content: space-between;
				}
			}
		}
		// .modal.m-1 {
		// 	/*width: 600px;*/

		// 	/*.foot {
		// 		border-color: #FFF;
		// 	}*/
		// }
	}
}
.modal.template-preview {
	align-self: flex-start;
	width: auto;
	margin: 0 auto 30px auto;

	main#template {
		padding: 0;
		margin: 0 auto;

		.inner {
			padding: 60px;
		}
	}

}

main#mobilize-existing {
	width: calc(300px * 4 + 3 * 15px);
	margin: 125px auto 0 auto;
	padding:  60px 0 0 0;

	.inner {
		position: relative;
		.new {
			position: fixed;
			top: 30px;
			margin-left: -45px;
			z-index: 10000;

			text-align: center;
			a {
				button {
					width: 90px;
					height: 90px;
					border: none;
					outline: none;
					background-color: $c-light-red;
					font-size: $t-xlarge;
					color: #FFF;
					cursor: pointer;
					transform: rotate(45deg);
					transition: background-color .25s;

					div {
						transform: rotate(-45deg);
					}
				}
				button:hover {
					background-color: $c-dark-red;
				}
			}
		}
		.overview {

			.summary-statistics {
				width: 100%;

				.statistic {
					position: relative;
					width: 100%;
					text-align: center;
					color: $c-mid-2;

					h1 {
						font-size: $t-xxlarge;
						line-height: $t-main;
						white-space: nowrap;

						small {
							font-size: $t-main;
						}
					}
					h2 {
						font-size: $t-xlarge;
						line-height: $t-main;

						small {
							font-size: $t-main;
						}
					}
				}
				.statistic:first-child {
					grid-column-start: 3;
				}
			}
		}
		.mobilizations-container {
			clear: both;
			position: relative;
			margin: 60px 0 60px 0;
			border-top: 1px solid $c-mid-2;

			.pub-status {
				display: block;
				text-align: center;
				margin-bottom: 30px;

				label {
					position: absolute;
					bottom: 100%;
					left: 0;
					white-space: nowrap;
					padding: 5px 10px;
					background-color: $c-mid-2;
					font-size: $t-small;
					/*color: #FFF;*/
				}
			}
			.input-group {
				clear: both;
				width: 100%;
				display: flex;
				justify-content: center;
				margin: -30px 0 30px 0;

				button {
					border: none;
					outline: none;
					height: 45px;
					background-color: transparent;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
					padding: 0 30px 0 20px;
					font-size: $t-small;
					cursor: pointer;
					transition: background-color .25s;

					i {
						vertical-align: middle;
						margin-right: 5px;
						cursor: pointer;
					}
					label {
						cursor: pointer;
					}
				}
				button:hover {
					background-color: $c-light-2;
				}
				button.highlight {
					background-color: $c-dark-1;
					color: #FFF;
				}
				button:disabled {
					pointer-events: none;
					color: $c-light-2;
				}
			}
			.mobilizations-layout {

				.mobilization {
					position: relative;
					width: 100%;
					height: 100%;
					vertical-align: top;
					margin-bottom: 15px;
					border-left: 1px solid $c-light-2;

					.inner {
						position: relative;

						/*a {
							text-decoration: none;*/

							.body {
								display: flex;
								padding: 0 10px 10px 10px;

								/*.meta.row-1 {
									display: flex;
									justify-content: space-between;
									align-items: center;
									margin-top: 5px;

									.meta-sdgs {
										font-size: $t-small;
										margin-top: 5px;

										span {
											margin-right: 3px;
											color: $c-light-1;
										}
										a {
											margin: 0 3px;
											color: $c-mid-1;
											font-weight: 700;
											text-decoration: none;
										}
										a:hover {
											text-decoration: underline;
										}
									}
									.meta-engagement {
										button {
											position: relative;
											width: 30px;
											height: 30px;
											border: none;
											border-radius: 30px;
											outline: none;
											margin: 0 0 0 10px;
											background-color: transparent;
											color: $c-light-1;
											transition: background-color .25s;

											i {
												font-size: $t-mid;
												line-height: 30px;
												font-style: normal;
												cursor: pointer;
											}
										}
										button:hover {
											background-color: $c-light-2;
										}
										button.active {
											color: $c-mid-1;
										}
										button::after {
											content: attr(data-count);
											position: absolute;
											left: 0;
											top: calc(100% - 7px);
											width: 100%;
											text-align: center;
											font-size: $t-xsmall;
											font-weight: 700;
											pointer-events: none;
										}
									}
								}*/
								.head {
									flex-shrink: 0;
									width: 300px;
									margin-right: 15px;

									.meta-tags {
										margin-top: 5px;

										a {
											text-decoration: none;

											.tag {
												display: inline-block;
												margin: 5px 5px 0 0;
												padding: 3px 5px;
												background-color: transparent;
												border: 1px solid $c-mid-1;
												border-radius: 5px;
												color: $c-mid-1;
												font-size: $t-small;
												transition: background-color .25s;
												cursor: pointer;

												label {
													cursor: pointer;
												}
											}
										}
										.tag:hover {
											background-color: $c-mid-1;
											color: #FFF;
										}
									}
									.meta-contributor {
										margin: 5px 0 10px 0;
										font-size: $t-small;
										color: $c-light-1;

										a:hover {
											text-decoration: underline;
										}
									}
									.media-title {
										overflow-wrap: break-word;
										margin-top: 10px;
										/*padding: 0 20px;*/
										font-size: $t-main;
										line-height: 1.5em;
										color: $c-dark-1;
										font-weight: 700;
									}
								}
								.content {
									flex-grow: 1;
									display: flex;
									position: relative;
									margin-right: 15px;

									.media-txt {
										flex-grow: 1;
										overflow-wrap: break-word;
										margin-top: 10px;
										font-size: $t-main;
										line-height: 1.5em;
										color: $c-mid-2;

										small {
											font-style: italic;
										}
									}
									.meta-stats {
										align-self: center;
										flex-shrink: 0;
										width: 150px;

										a {
											h1 {
												margin-top: 10px;
												text-align: center;
												line-height: $t-main;
												white-space: nowrap;
												cursor: pointer;

												small {
													font-size: $t-small;
												}
											}
										}
										a.disabled {
											h1 {
												color: $c-mid-2;
											}
										}
										a:hover {
											text-decoration: none;
										}
										a:not(.disabled):hover {
											/*h1 {
												text-decoration: none;
											}*/
											small {
												text-decoration: underline;
											}
										}
									}
									.btn-group {
										display: none;
										position: absolute;
										bottom: 0;

										form {
											display: inline-block;
											margin: 10px 5px 0 0;

											.btn-overlay {
												padding: 5px;
												background-color: $c-mid-2;
												border: none;
												outline: none;
												font-size: $t-small;
												color: #FFF;
												cursor: pointer;
											}
										}
									}
								}
							}
						/*}*/
					}
				}
				.mobilization:hover {
					.inner {
						.body {
							.content {
								.btn-group {
									display: block;
								}
							}
						}
					}
				}
				.mobilization::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $c-light-2;
					border-bottom-right-radius: 5px;
					border-top-right-radius: 5px;
					opacity: 0;
					mix-blend-mode: multiply;
					pointer-events: none;
					transition: opacity .25s;
					z-index: 10;
				}
				.mobilization:hover::after {
					opacity: 1;
				}
			}
			.mobilization-layout.unpublished {
				.mobilization {
					background: repeating-linear-gradient(
						-45deg,
						transparent,
						transparent 10px,
						rgba(211, 172, 43, .1) 10px,
						rgba(211, 172, 43, .1) 20px
					);
				}
			}
			.mobilization-layout.publishable {
				.mobilization {
					background: repeating-linear-gradient(
						-45deg,
						transparent,
						transparent 10px,
						rgba(163, 198, 196, .15) 10px,
						rgba(163, 198, 196, .15) 20px
					);
				}
			}
		}

	}
}
footer {

}
