nav#languages {
	position: fixed;
	display: flex;
	width: 100%;
	height: 30px;
	top: 0;
	font-size: $t-small;
	background-color: $c-dark-blue;
	text-align: center;
	z-index: 10000;


	menu {
		display: flex;
		justify-content: space-between;
		width: 100%;

		li {
			display: inline-block;
			width: 30px;

			a {
				color: #FFF;
			}
			a.active {
				color: $c-light-green;
				text-decoration: underline;
			}
		}
		li.home-btn {
			flex-grow: 1;
			padding-left: 15px;
			white-space: nowrap;
			text-align: left;

			a {
				color: $c-light-green;
			}
		}
		li.options {
			flex-grow: 1;
			ul {
				li {
					display: inline-block;
				}
			}
		}
		li.disabled {
			a {
				color: $c-mid-grey;
				cursor: default;
			}
			a.active {
				text-decoration: underline;
			}
		}
		li.user-id {
			flex-grow: 1;
			padding-right: 15px;
			text-align: right;
			color: #FFF;

			u {
				color: $c-light-green;
			}
		}
	}
}
nav.tabs {
	position: fixed;
	top: 30px;
	/*width: calc(55% - 30px);*/
	/*min-width: calc(300px * 3 + 15px * 2);*/
	width: calc(300px * 3 + 15px * 2);
	height: 75px;
	margin-left: -15px;
	padding: 0 15px;
	border-bottom: 1px solid $c-dark-blue;
	background-color: #FFF;
	z-index: 10000;

	.inner {
		width: 100%;

		div.lg {

			menu,
			ul {
				display: flex;
				width: 100%;
				scroll-snap-type: x mandatory;
				overflow: scroll;

				li {
					position: static;
					display: inline-block;
					vertical-align: top;
					margin: 30px 0 0 0;
					scroll-snap-align: start;

					a {
						display: block;
					}

					button {
						position: relative;
						height: 45px;
						padding: 7px 10px 0 10px;
						outline: none;
						border: none;
						background-color: transparent;
						font-size: $t-mid-small;
						color: $c-light-grey;
						cursor: pointer;
						overflow: hidden;
						white-space: nowrap;

						.count {
							position: relative;
							display: inline-block;
							font-size: $t-small;
							margin: 0 0 5px 15px;
							color: $c-light-grey;
						}
						.count::before {
							content: '';
							position: absolute;
							height: 20px;
							width: 0;
							left: -10px;
							top: -2px;
							border-left: 1px dotted $c-light-grey;
						}
						&::after {
							content: '';
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 3px;
							background-color: $c-light-2;
							transform: translateY(3px);
							transition: transform .15s;
						}
					}

					.inner {
						position: relative;

						input[type=text] {
							position: relative;
							min-width: 100px;
							height: 38px;
							padding: 4.5px 15px 0 15px;
							border: none;
							outline: none;
							background-color: transparent;
							border-bottom: 3px solid transparent;
							font-size: $t-mid-small;
							color: $c-dark-blue;
						}
						label {
							position: absolute;
							left: 15px;
							font-size: $t-mid-small;
							line-height: 1.5em;
							color: $c-light-grey;
							transform: translateY(13.5px);
							transition: transform .25s, font-size .25s;


							.count {
								position: relative;
								display: inline-block;
								font-size: $t-small;
								margin: 0 0 5px 15px;
								color: $c-light-grey;
							}
							.count::before {
								content: '';
								position: absolute;
								vertical-align: middle;
								height: 20px;
								width: 0;
								left: -10px;
								top: 0;
								border-left: 1px dotted $c-light-grey;
							}

							&::after {
								content: '';
								position: absolute;
								top: 4px;
								left: 100%;
								margin-left: 10px;
								width: 15px;
								height: 15px;
								background: url('../imgs/icons/i-search-sm.svg');
							}
						}
						input[type=text] + label {
							width: calc(100% - 50px);
							pointer-events: none;
							white-space: nowrap;
						}
						input[type=text]:focus + label,
						input[type=text].has-value + label {
							font-size: $t-small;
							line-height: 1.5em;
							transform: translateY(-5px);

							&::after {
								top: 2px;
							}
						}
					}

					.dropdown {
						position: absolute;
						max-height: 0;
						max-width: 300px;
						top: calc(100%);
						background-color: #FFF;
						box-shadow: 0px 10px 10px rgba(0,0,0,.1);
						overflow: scroll;
						border-top: 1px solid $c-dark-blue;
						z-index: 100;
						transition: max-height 0.25s ease-out;

						menu {
							display: block;
							width: 100%;
							padding-bottom: 0;
							scroll-snap-type: y mandatory;

							li {
								width: 100%;
								margin: 0;

								a {
									display: block;
									position: static;
									padding: 5px 20px 5px 15px;
									color: $c-dark-grey;
									font-size: $t-mid-small;
									line-height: 1.5em;
									transform: none;
									text-align: left;
									/*white-space: nowrap;*/
								}

								&:hover {
									background-color: $c-light-3;
								}
							}
						}
					}
				}
				li:hover,
				li.active {
					button {
						&::after {
							transform: translateY(0);
						}
					}
					input[type=text] {
						border-color: $c-light-2;
					}
				}
				li.active {
					button {
						font-weight: bold;
						color: $c-dark-blue;

						.count {
							font-weight: normal;
						}
						&::after {
							background-color: $c-dark-blue;
						}
					}
					input[type=text] {
						border-color: $c-dark-blue;
					}
				}
			}
			/*menu.sub {
				padding-bottom: 15px;

				li {
					margin: 0;
					background-color: #FFF;
					flex-grow: 1;
					text-align: center;

					button {
						padding-top: 0;
						height: 25px;

						&::after {
							content: none;
						}
					}
				}
				li.active {
					background-color: $c-dark-blue;

					button {
						color: #FFF;
					}
				}
			}*/
		}
	}
}
header {
	width: calc((100vw - (300px * 3 + 15px * 4)) / 2);
	display: block;
	min-height: 100vh;
	float: left;
	pointer-events: none;

	.inner {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		width: calc((100vw - (300px * 3 + 15px * 4)) / 2);
		top: 0;
		z-index: 10001;

		nav#site-title {
			display: block;
			margin-top: 30px;
			pointer-events: all;

			.inner {
				position: static;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				left: 0;
				width: 100%;
				height: auto;

				img.logo {
					height: 125px;
				}

				.create,
				.save {
					position: relative;
					margin-top: 31px;

					button {
						/* width: 100px;*/
						min-height: 45px;
						margin: 0;
						padding: 0 30px;
						border: 1px solid $c-dark-blue;
						outline: none;
						background-color: transparent;
						font-size: $t-main;
						cursor: pointer;
					}
					.dropdown {
						display: none;
						position: absolute;
						top: 0;
						left: 100%;
						background-color: #FFF;
						z-index: 1000;
						box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
						border-top: 2px solid $c-dark-blue;
						box-sizing: border-box;
						-moz-box-sizing: border-box;
						-webkit-box-sizing: border-box;

						ul {
							width: 100%;

							li.filter {
								position: fixed;
								height: 45px;
								width: 100%;
								background-color: #FFF;
								border-bottom: 1px solid $c-light-grey;
								z-index: 100;

								input[type=text] {
									position: relative;
									width: calc(100% - 30px);
									height: 30px;
									padding: 15px 15px 0 15px;
									border: none;
									outline: none;
									background-color: transparent;
									font-size: $t-mid-small;
									color: $c-dark-blue;
								}
								label {
									position: absolute;
									left: 15px;
									/*width: calc(100% - 30px);*/
									font-size: $t-mid-small;
									line-height: 1.5em;
									color: $c-light-grey;
									transform: translateY(13.5px);
									transition: transform .25s, font-size .25s;

									&::after {
										content: '';
										position: absolute;
										top: 4px;
										margin-left: 10px;
										width: 15px;
										height: 15px;
										background: url('../imgs/icons/i-search-sm.svg');
									}
								}
								input[type=text] + label {
									pointer-events: none;
								}
								input[type=text]:focus + label,
								input[type=text].has-value + label {
									font-size: $t-small;
									line-height: 1.5em;
									transform: translateY(2px);
								}
							}
							li.padding {
								width: 100%;
								height: 45px;
							}
							li {
								position: relative;
								max-width: 300px;
								width: 300px;

								img {
									vertical-align: text-bottom;
									width: 30px;
									height: 30px;
									margin-right: 10px;
								}

								button {
									display: flex;
									flex-direction: row;
									justify-content: flex-start;
									align-items: center;
									width: 100%;
									margin: 0;
									padding-right: 15px;
									background-color: transparent;
									border: none;
									text-align: left;
									/* white-space: nowrap; */
									cursor: pointer;
									color: $c-light-grey;

									label {
										cursor: pointer;
									}
									.expandable {
										margin-left: auto;
										/* padding-left: 45px;*/
										cursor: pointer;
									}
								}
								button:hover {
									background-color: $c-light-2 !important;
								}
								button.wrapable {
									flex-direction: column;
									justify-content: center;
									align-items: flex-start;
									width: 300px;
									white-space: normal;
									padding-top: 5px;
									padding-bottom: 5px;

									.sub {
										font-size: $t-small;
										color: $c-light-grey;
									}
								}
								a {
									button,
									button:hover {
										color: $c-dark-grey;
									}
								}
								a:hover {
									text-decoration: none;
								}
								form {
									display: flex;
									flex-direction: row;
									align-items: center;
									width: calc(100% - 45px);
									height: 45px;
									line-height: 45px;
									margin: 0;
									padding: 0 15px 0 30px;
									text-align: left;
									white-space: nowrap;
									cursor: pointer;

									input[type=file] {
										display: none;
									}
									input[type=file] + label {
										display: block;
										flex-grow: 1;
										color: $c-dark-grey;
										cursor: inherit;
									}
								}
								.dropdown {
									display: none;
									margin-top: -2px;

									ul {
										li {
											.dropdown {
												display: none;
												max-height: 300px;
												overflow: scroll;

												button {
													font-size: $t-mid-small;
													line-height: 1.5em;
												}
											}
										}
										li.open {
											.dropdown {
												display: block;
											}
										}
									}
								}
							}
							li.open {
								.dropdown {
									display: block;
								}
							}
							li:hover > button,
							li.open > button,
							li:hover > form,
							li.open > form {
								background-color: $c-light-2 !important;
							}
							li.status-0 {
								button {
									background: repeating-linear-gradient(
										-45deg,
										transparent,
										transparent 3px,
										rgba(255, 193, 14, .1) 3px,
										rgba(255, 193, 14, .1) 6px
									);
								}
							}
							li.status-1 {
								button {
									background: repeating-linear-gradient(
										-45deg,
										transparent,
										transparent 3px,
										rgba(50, 190, 225, .1) 3px,
										rgba(50, 190, 225, .1) 6px
									);
								}
							}
							/*li.status-2 {
								button {
									background: repeating-linear-gradient(
										-45deg,
										transparent,
										transparent 3px,
										rgba(150, 150, 150, .1) 3px,
										rgba(150, 150, 150, .1) 6px
									);
								}
							}*/
						}
					}
				}
				.create:hover,
				.create.open {
					button {
						background-color: $c-dark-blue;
						color: #FFF;
					}
					.dropdown {
						display: block;
					}
				}
				.create:not(.open) {
					li {
						.dropdown {
							ul {
								li:hover {
									.dropdown {
										display: block;
									}
								}
							}
						}
					}
					li:hover {
						.dropdown {
							display: block;
						}
					}
					li:hover > button,
					li:hover > form {
						background-color: $c-light-2 !important;
					}
				}
				h1 {
					margin-top: 15px;
					font-size: $t-large;
					line-height: 1.2em;
					margin-bottom: 10px;

					/*small {
						display: block;
						font-size: $t-mid;
						line-height: 1.2em;
						margin-bottom: 5px;
					}*/
				}
				h2 {
					margin: 5px 0;
					/*font-family: 'Noto Serif', serif;*/
					font-weight: 300;
					color: $c-light-green;
					font-size: $t-main;
				}
				.search {
					margin-top: 15px;

					button {
						border: none;
						outline: none;
						background-color: transparent;

						img {
							width: 60px;
							height: 60px;
							cursor: pointer;
						}
					}
				}
				.save {
					button {
						background-color: $c-light-blue;
						padding:  0 15px;
						border-color: $c-light-blue;
						color: #FFF;
					}
				}
				.save.saved {
					button {
						background-color: $c-mid-blue;
						border-color: $c-mid-blue;
						color: #FFF;
					}
				}
			}
		}
		// nav#site-title.public {
		// 	/*margin-top: 90px;*/
		// }
		nav#modules {
			margin-bottom: 120px;
			pointer-events: all;

			menu {
				list-style: none;

				li {
					position: relative;
					text-align: center;

					a {
						display: block;
						width: 100%;
						max-width: 150px;
						margin: auto;
						padding: 15px 0;
						color: $c-light-grey;
					}
					a:hover {
						text-decoration: none;
					}
				}
				li.active {
					a {
						font-weight: bold;
						color: $c-dark-blue;
					}
				}
				li:not(:first-child)::before {
					content: '';
					position: absolute;
					width: 100px;
					height: 0px;
					left: calc(50% - 100px / 2);
					border-top: 1px dotted $c-light-grey;
				}
			}
		}
		nav.pagination {
			margin-bottom: 60px;
			width: 100%;
			pointer-events: all;

			.inner {
				display: initial;
				position: static;

				ul {
					text-align: center;

					li {
						display: inline-block;
						margin: 0 5px;

						a.page-link.active {
							font-weight: 700;
							text-decoration: underline;
						}
					}
					li.disabled {
						color: $c-light-grey;
					}
				}
				ul.padded {
					padding: 0 45px;
				}
			}

			img {
				width: 180px;
				height: auto;
			}
		}
	}
}
header.center {
	min-height: calc(100vh - 225px);

	.inner {
		/*justify-content: space-around;*/
		height: calc(100vh - 225px);

		/*img.logo {
			position: absolute;
			top: 30px;
		}*/
	}
}

.sidebar {
	position: sticky;
	display: block;
	float: right;
	top: 0;
	vertical-align: top;  // FIXME ignored because of display block
	width: calc((100vw - (300px * 3 + 15px * 4)) / 2);
	min-height: 100vh;
}
.sidebar > .inner {
	position: relative;
	width: calc((100vw - (300px * 3 + 15px * 4)) / 2);
	height: 100vh;

	#statistics {
		display: flex;
		flex-wrap: wrap;
		padding: 45px 30px 15px 5px;

		.statistic {
			display: inline-block;
			position: relative;
			width: 50%;
			margin: 15px 0;
			text-align: center;

			h1 {
				font-size: $t-large;
				line-height: 1.5em;
				color: $c-dark-blue;
			}
			p {
				margin: 0;
				font-style: normal;
				font-size: $t-mid-small;
				line-height: 1.5em;
				color: $c-dark-blue;
			}
			small {
				font-size: $t-small;
				line-height: 1.5em;
				color: $c-light-grey;
				font-weight: normal;
			}
		}
		.statistic:first-child {
			width: 100%;
			margin: 15px 0;

			h1 {
				font-size: $t-xlarge;
				line-height: 1.2em;
			}
			p {
				font-size: $t-main;
			}
		}
		.statistic:nth-child(2n) {
			&::after {
				content: '';
				position: absolute;
				left: 100%;
				top: 0;
				width: 0;
				height: 100%;
				border-right: 1px dotted $c-light-grey;
			}
		}
	}

	#filters {
		overflow: scroll;

		.inner {
			padding: 30px;

			p {
				padding: 10px 0 5px 0;
				font-size: $t-main;
				font-style: italic;
				color: $c-light-grey;
			}
			.active-filters {
				width: 100%;
				display: flex;
				flex-wrap: wrap;

				/*.tag {
					display: flex;
					align-items: center;
					border: 1px solid $c-light-grey;
					padding: 0 0 0 10px;
					margin: 2.5px;
					background-color: #FFF;
					font-size: $t-small;
					line-height: 1.5em;
					color: $c-light-grey;

					label {
						cursor: pointer;
					}
					.type {
						flex-shrink: 0;
						font-size: $t-xsmall;
						padding-right: 5px;
						border-right: 1px dotted $c-light-grey;
					}
					.name {
						margin: 0 10px 0 5px;
						white-space: nowrap;
						color: $c-dark-grey;
					}
					.close {
						flex-shrink: 0;
						display: inline-block;
						width: calc(#{$t-mid-small} * 1.5);
						padding: 0 0;
						background-color: $c-light-grey;
						text-align: center;
						color: #FFF;
						font-size: $t-mid-small;
						line-height: 1.5em;

						&::before {

						}
						&::after {

						}
					}
				}*/

				.tag {
					display: inline-block;
					height: calc(#{$t-small} * 1.5);
					padding: 0;
					margin: 2.5px;
					font-size: $t-small;
					line-height: 1.5em;
					border: 1px solid $c-light-grey;
					color: $c-light-grey;
					white-space: nowrap;

					label {
						cursor: pointer;
						vertical-align: top;
					}
					.type {
						font-size: $t-xsmall;
						padding-right: 5px;
						margin: 0 0 0 5px;
						border-right: 1px dotted $c-light-grey;
					}
					.name {
						margin: 0 5px 0 5px;
						white-space: nowrap;
						color: $c-dark-grey;
					}
					.close {
						display: inline-block;
						position: relative;
						width: calc(#{$t-small} * 1.5);
						height: calc(#{$t-small} * 1.5);
						background-color: $c-light-grey;

						&::before {
							content: '';
							position: absolute;
							height: 100%;
							width: 0;
							left: 50%;
							border-left: 1px solid #FFF;
							transform: rotate(45deg);
							transform-origin: center;
						}
						&::after {
							content: '';
							position: absolute;
							height: 100%;
							width: 0;
							left: 50%;
							border-left: 1px solid #FFF;
							transform: rotate(-45deg);
							transform-origin: center;
						}
					}
				}
			}
		}
	}
}


/*header {
	position: fixed;
	width: 100%;
	height: 45px;
	top: 30px;
	background-color: #FFF;
	box-shadow: 0 10px 10px rgba(175,175,175,.15);
	z-index: 10000;

	.primary {
		width: 100%;
		height: 45px;
		padding: 0;
		overflow: hidden;
		text-align: center;
		font-size: 0;

		li {
			display: inline-block;
			vertical-align: top;
			height: 45px;
			text-align: center;
			font-size: $t-main;
			border-top: 5px solid transparent;

			a {
				position: relative;

				button {
					border: none;
					outline: none;
					height: 45px;
					background-color: transparent;
					margin-top: -5px;
					padding: 0 30px;
					font-size: $t-main;
					cursor: pointer;
					transition: background-color .25s;
				}
				i {
					vertical-align: middle;
					margin: 0 -5px 0 5px;
					color: $c-light-red;
				}
			}
		}
		li.user-id {
			border-top: 0;
			margin-right: 15px;
		}
		li:not(.active):not(.temp-active):hover {
			border-top-color: $c-mid-blue;
		}
		li.active {
			background-color: $c-dark-blue;
			button {
				color: #FFF;
			}
		}
		li.temp-active {
			border-color: $c-mid-blue;
		}
		li.user-id {
			position: absolute;
			right: 0;
			font-size: $t-small;
			line-height: 45px;
		}
		li.pending-save.saved {
			pointer-events: none;
		}
	}
	.secondary {
		width: 100%;
		height: 30px;
		overflow: hidden;
		box-shadow: 0 10px 10px rgba(175,175,175,.15);
		background-color: $c-light-2;
		z-index: 1000;

		.inner {
			display: flex;
			width: 615px;
			height: 100%;
			margin: auto;
			text-align: center;

			a {
				flex-grow: 1;
				color: $c-dark-blue;

				li {
					height: 30px;
					background-color: $c-light-2;
					line-height: 30px;
					font-size: $t-small;
				}
			}
			li.active {
				background-color: #FFF;
				text-decoration: underline;
				font-weight: 700;
			}
		}
	}
}*/
