@import 'vars.m';

div.public-page-header {
	min-height: 100vh;
	div.carousel {
		position: relative;

		div.slides {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-flow: row nowrap;
			scroll-snap-type: x mandatory;
			height: 75vh;
			width: 100%;
			margin-top: 30px;
			overflow: scroll;

			div.slide {
				position: relative;
				width: 100%;
				height: 100%;
				flex: none;
				scroll-snap-align: center;

				.media-txt {
					position: absolute;
					left: 120px;
					width: calc((100vw - (300px * 2 + 15px * 3)) / 2);
					bottom: 30px;
					color: $c-dark-blue;

					span {
						background-color: #FFF;
						padding: 2px 0;
					}

					h1 {
						font-size: $t-large;
						line-height: 1.3em;
						text-align: left;
						margin: 0 0 15px 0;

						span {
							padding: 0;
						}
					}
				}
				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					margin: auto;
				}
			}
		}
		div.dots {
			position: absolute;
			bottom: 15px;
			width: 100%;
			text-align: center;

			.dot {
				height: 15px;
				width: 15px;
				margin: 0 2.5px;
				background-color: rgba(0,0,0,.1);
				border-radius: 50%;
				display: inline-block;
				transition: background-color 0.25s ease;
				cursor: pointer;
			}
			.highlight {
				background-color: $c-mid-blue;
			}
		}
	}
	h1 {
		margin: 60px 60px 45px 60px;
		text-align: center;
		font-size: $t-xlarge;
		line-height: 1.2em;
	}
	h2 {
		margin: 15px 60px 60px 60px;
		text-align: center;
		line-height: 1.5em;
		color: $c-light-blue;
		font-weight: normal;
	}
	p.lead {
		width: calc(300px * 2 + 15px);
		margin: auto;
		font-size: $t-mid;
		line-height: 1.5em;
	}
}

div.browse {
	display: block;
	width: calc(300px * 2 + 15px);
	padding: 120px 15px 0 15px;
	margin: auto;
	background-color: #FFF;
	min-height: calc(100% - 120px);

	nav#search-and-filter {
		padding: 5px 14px 15px 14px;
		border: 1px dotted $c-light-grey;

		form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			.search,
			.filter:not(.add) {
				position: relative;
				width: 100%;
				height: 65px;
				border-bottom: 1px solid $c-light-grey;

				input[type=text],
				input[type=list] {
					float: left;
					position: relative;
					width: calc(100% - 15px - 65px);
					height: 50px;
					margin: 15px 0 0 15px;
					border: none;
					outline: none;
					background-color: transparent;
					font-size: $t-large;
					line-height: 1.5em;
					color: $c-dark-blue;
				}
				label {
					position: absolute;
					top: 5px;
					left: 15px;
					font-size: $t-main;
					line-height: 1.5em;
					color: $c-light-grey;
					transform: translateY(calc(#{$t-main}));
					transition: transform .25s, font-size .25s;
				}
				input[type=text] + label {
					pointer-events: none;
				}
				input[type=text]:focus + label,
				input[type=text].has-value + label {
					font-size: $t-small;
					line-height: 1.5em;
					transform: translateY(0);
				}
				input:-webkit-autofill,
				input:-webkit-autofill:hover,
				input:-webkit-autofill:focus,
				input:-webkit-autofill:active  {
					-webkit-box-shadow: 0 0 0 40px #FFF inset !important;
					-webkit-text-fill-color: $c-dark-blue !important;
				}
				button {
					float: left;
					width: 65px;
					height: 60px;
					margin-top: 5px;
					background-color: transparent;
					border: none;
					outline: none;
					color: $c-dark-blue;
					cursor: pointer;
				}
				img {
					width: 30px;
					height: 30px;
					margin: auto;
				}
			}
			.status {
				display: inline-block;

				menu {
					li {
						p {
							margin: 5px 0;
						}
					}
				}
			}

			.global-actions {
				min-width: 50%;

				.add {
					display: inline-block;
					position: relative;
					width: 300px;
					margin-right: 15px;

					input[type=text] {
						position: relative;
						width: 100%;
						height: 30px;
						padding: 0;
						margin-top: 10px;
						border: none;
						outline: none;
						background-color: transparent;
						border-bottom: 1px dotted $c-light-grey;
						font-size: $t-small;
						color: $c-dark-blue;
					}
					input[type=text]:focus {
						border-bottom-color: $c-light-grey;
					}
					label {
						position: absolute;
						left: 0;
						font-size: $t-small;
						line-height: 1.5em;
						color: $c-light-grey;
						transform: translateY(15px);
						transition: transform .25s, font-size .25s;
						pointer-events: none;

						/*&::after {
							content: '';
							position: absolute;
							top: 4px;
							left: calc(100% + 5px);
							width: 15px;
							height: 15px;
							margin: auto;
							background: url('../imgs/icons/i-search-sm.svg');
						}*/
					}
					input[type=text]:focus + label,
					input[type=text].has-value + label {
						font-size: $t-xsmall;
						line-height: 1.5em;
						transform: translateY(2.5px);
					}

					.dropdown {
						position: absolute;
						width: 100%;
						max-height: 0;
						left: 0;
						top: 100%;
						background-color: #FFF;
						box-shadow: 0px 10px 10px rgba(0,0,0,.1);
						overflow: scroll;
						z-index: 10;
						transition: max-height 0.25s ease-out;

						menu {
							width: 100%;

							li {
								display: inline-block;
								width: 100%;
								margin: 0;
								list-style: none;

								input[type=radio] {
									display: none;
								}
								label {
									display: flex;
									align-items: center;
									position: static;
									padding: 5px 20px 5px 15px;
									cursor: pointer;
									font-size: $t-mid-small;
									line-height: 1.5em;
									color: $c-dark-grey;
									transform: none;
									pointer-events: all;
									cursor: pointer;

									.count {
										margin-left: auto;
										padding-left: 10px;
										color: $c-light-grey;
									}
								}
								input:checked + label {
									background-color: $c-light-2;
								}

								&:hover {
									background-color: $c-light-3;
								}
							}
						}
					}
				}
				button.download {
					min-height: 30px;
					padding: 0 10px;
					border: 1px solid $c-light-grey;
					outline: none;
					background-color: transparent;
					font-size: $t-small;
					line-height: 1.5em;
					color: $c-light-grey;
					cursor: pointer;
				}
			}
			.expand-filters {
				position: relative;
				vertical-align: middle;
				float: right;
				width: 30px;
				height: 30px;
				margin: 15px 15px 0 0;
				background-color: transparent;
				outline: none;
				border: none;
				cursor: pointer;

				.line {
					position: absolute;
					top: 0;
					left: 0;
					height: 2px;
					background-color: $c-light-grey;
					transition: transform .25s, width .25s;
				}
				.l1 {
					width: 20px;
					transform: translate(5px, 7.5px)rotate(0deg);
					transform-origin: center;
					transition-delay: .1s;
				}
				.l2 {
					width: 15px;
					transform: translate(7.5px, 12.5px)rotate(0deg);
					transform-origin: center;
				}
				.l3 {
					width: 10px;
					transform: translate(10px, 17.5px)rotate(0deg);
					transform-origin: center;
					transition-delay: .1s;
				}
			}
			.expand-filters.close {
				.l1 {
					width: 25px;
					transform: translate(2.5px, 15px)rotate(-45deg);
					transform-origin: center;
				}
				.l2 {
					width: 0;
					transform: translate(15px, 12.5px)rotate(0deg);
				}
				.l3 {
					width: 25px;
					transform: translate(2.5px, 15px)rotate(45deg);
					transform-origin: center;
				}
			}
			.filters {
				display: flex;
				flex-wrap: wrap;
				width: calc(100% - 15px);
				max-height: 0;
				padding: 0 7.5px;
				overflow: hidden;
				background: repeating-linear-gradient(
					45deg,
					transparent,
					transparent 3px,
					rgba(150, 150, 150, .1) 3px,
					rgba(150, 150, 150, .1) 6px
				);
				transition: max-height 0.25s ease-out;

				section {
					flex-grow: 1;
					margin-top: 15px;
					padding: 0 7.5px;

					.filter {
						position: relative;
						width: 100%;
						height: 45px;
						background-color: #FFF;
						margin-bottom: 15px;

						input[type=text] {
							width: calc(100% - 30px);
							height: 30px;
							margin-left: 0;
							padding: 0 15px;
							font-size: $t-main;
							line-height: 1.5em;
						}
						label {
							left: 15px;
							font-size: $t-small;
							line-height: 1.5em;
							transform: translateY(10px);
						}
						input[type=text]:focus + label,
						input[type=text].has-value + label {
							font-size: $t-xsmall;
							line-height: 1.5em;
							transform: translateY(0);
						}
						.dropdown {
							position: absolute;
							width: 100%;
							max-height: 0;
							left: 0;
							top: calc(100% + 1px);
							background-color: #FFF;
							box-shadow: 0px 10px 10px rgba(0,0,0,.1);
							overflow: scroll;
							z-index: 100;
							transition: max-height 0.25s ease-out;

							menu {
								width: 100%;

								li {
									width: 100%;
									margin: 0;

									input {
										display: none;
									}
									label {
										display: block;
										position: static;
										width: calc(100% - 35px);
										padding: 5px 20px 5px 15px;
										color: $c-dark-grey;
										font-size: $t-mid-small;
										line-height: 1.5em;
										transform: none;

										.count {
											float: right;
											color: $c-light-grey;
										}
									}
									input:checked + label {
										background-color: $c-light-blue;

										.count {
											color: #FFF;
										}
									}
								}
								li:hover {
									background-color: $c-light-3;
								}
							}
						}
					}
					.filter:last-child {
						margin-bottom: 0;
					}
				}
				/*section:nth-child(odd):not(:last-child) {
					margin-right: 15px;
				}*/
				.break {
					flex-basis: 100%;
					width: 0;
				}
				button.submit-filters {
					width: calc(100% - 15px);
					height: 30px;
					padding: 0 10px;
					margin: 15px 0 15px 7.5px;
					border: 1px solid $c-dark-blue;
					outline: none;
					background-color: transparent;
					font-size: $t-mid-small;
					line-height: 1.5em;
					cursor: pointer;
				}
			}
		}
	}

	nav:not(.tabs) {
		width: 100%;
		margin: 0 0 30px -15px;

		menu,
		ul  {
			li {
				display: inline-block;
				margin: 0 15px 0 0;

				a {
					button {
						height: 45px;
						padding: 0 10px 0 30px;
						border: none;
						outline: none;
						border-radius: 45px;
						border: 1px solid $c-mid-blue;
						background-color: transparent;
						font-size: $t-mid-small;
						line-height: 1.5em;
						color: $c-mid-blue;
						cursor: pointer;

						.count {
							vertical-align: middle;
							display: inline-block;
							width: 30px;
							height: 30px;
							background-color: $c-mid-blue;
							border-radius: 30px;
							margin: -1px 0 0 10px;
							line-height: 30px;
							font-size: $t-xsmall;
							line-height: 1.5em;
							font-weight: bold;
							color: #FFF;
						}
					}
				}
			}
			li.active {
				a {
					button {
						background-color: $c-mid-blue;
						color: #FFF;

						.count {
							background-color: #FFF;
							color: $c-mid-blue;
						}
					}
				}
			}
		}
		p {
			margin: 15px 0 0 0;
			font-size: $t-small;
			line-height: 1.5em;
			color: $c-light-grey;
		}
	}

	main {
		padding-bottom: 90px;

		.inner {
			small.no-results {
				font-size: $t-small;
				color: $c-light-grey;
			}
			.meta-status {
				top: 30px;
				width: 100%;
				min-height: 60px;
				margin: -15px 0 30px -15px;
				padding: 15px;
				z-index: 100;

				form {
					display: flex;

					.opts {
						flex-grow: 1;
						list-style: none;

						li {
							display: inline-block;
							vertical-align: top;
							padding-right: 15px;
							margin-right: 15px;
							border-right: 1px dotted $c-light-grey;

							p {
								display: inline-block;
								font-size: $t-small;
								line-height: 1.5em;
								color: $c-light-grey;
							}
							p.disabled {
								color: $c-light-2;
							}
							input.toggle + label {
								display: inline-block;
								vertical-align: middle;
								margin-top: 5px;
								margin-bottom: 5px;
							}

							ul {
								li {
									display: block;
									border: none;
									padding: 0;
									margin: 0;
								}
							}
						}
					}
					.btn-group {
						height: 30px;
						padding: 15px 0;
						margin: 0 0 0 auto;
						text-align: right;

						button {
							height: 30px;
							padding: 0 10px;
							border: 1px solid $c-dark-blue;
							outline: none;
							background-color: transparent;
							font-size: $t-mid-small;
							line-height: 1.5em;
							cursor: pointer;
						}
						button.publish {
							background-color: $c-light-blue;
							border-color: $c-light-blue;
							color: #FFF;
						}
						button:disabled {
							background-color: transparent;
							border: 1px solid $c-light-2;
							color: $c-light-2;
							pointer-events: none;
							cursor: default;
						}
					}
				}
			}
			.meta-status.status-0 {
				background: repeating-linear-gradient(
					-45deg,
					transparent,
					transparent 3px,
					rgba(255, 193, 14, .1) 3px,
					rgba(255, 193, 14, .1) 6px
				);
			}
			.meta-status.status-1 {
				background: repeating-linear-gradient(
					-45deg,
					transparent,
					transparent 3px,
					rgba(50, 190, 225, .1) 3px,
					rgba(50, 190, 225, .1) 6px
				);
			}
			.meta-status.status-2 {
				background: repeating-linear-gradient(
					-45deg,
					transparent,
					transparent 3px,
					rgba(150, 150, 150, .1) 3px,
					rgba(150, 150, 150, .1) 6px
				);
			}
			.head {
				position: relative;
				width: 100%;
				margin: 25px 0 15px 0;

				.return {
					display: block;
					margin-bottom: 15px;
				}
				.title {
					width: 100%;
					outline: none;
					margin-bottom: 15px;
					border-bottom: 1px solid transparent;
					font-size: $t-xlarge;
					line-height: 1.3em;
					font-weight: 700;
				}
				.title:focus {
					border-bottom-color: $c-light-yellow;
				}
				.contributor {
					font-size: $t-small;
					line-height: 1.5em;
					color: $c-mid-blue;
				}
				.description {
					margin-bottom: 25px;
					padding-bottom: 5px;
					font-size: $t-mid;
					line-height: 1.5em;
					border-top: none;
					outline: none;
					color: $c-dark-blue;
					border-bottom: 1px solid transparent;
					white-space: pre-line;
				}
				.description:focus {
					border-bottom-color: $c-light-yellow;
				}
			}
			.meta-status + .head {
				margin: 0 0 15px 0;
			}

			section {
				.layout {
					margin-top: 15px;

					article {
						position: relative;
						display: flex;
						padding: 15px 0 0 0;
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;

						.inner {
							display: flex;
							flex-flow: row wrap;
							flex-grow: 1;
							transition: width .25s;

							.head {
								flex: 0 0 100%;
								margin-top: 0;
								margin-bottom: 0;

								.meta-group {
									display: flex;
									justify-content: space-between;
									align-items: flex-end;

									.meta-data {
										margin-bottom: 0;

										.meta-contributor {
											font-size: $t-mid-small;
											line-height: 1.5em;
											color: $c-mid-blue;
										}
										.meta-date {
											font-size: $t-small;
											line-height: 1.5em;
											color: $c-mid-blue;
										}
									}
									.btn-group {
										margin-bottom: 5px;

										form {
											position: relative;
											display: inline-block;
											margin: 0 2px;

											button {
												min-height: 30px;
												padding: 0 10px;
												border: 1px solid $c-light-grey;
												outline: none;
												background-color: transparent;
												font-size: $t-small;
												line-height: 1.5em;
												color: $c-light-grey;
												cursor: pointer;
											}
											button.publish,
											button.share,
											button.active {
												background-color: $c-light-blue;
												border-color: $c-light-blue;
												color: #FFF;
											}
											button.delete.active,
											button.unpublish.active {
												border-color: $c-dark-red;
												background-color: $c-dark-red;
											}
											button:disabled {
												background-color: transparent;
												border: 1px solid $c-light-2;
												color: $c-light-2;
												pointer-events: none;
												cursor: default;
											}
											.dropdown {
												position: absolute;
												min-width: 100%;
												max-height: 0;
												right: 0;
												top: calc(100% - 1px);
												background-color: #FFF;
												box-shadow: 0px 10px 10px rgba(0,0,0,.1);
												/*transform: translateX(-50%);*/
												overflow: hidden;
												z-index: 10;
												transition: max-height 0.15s ease-out;

												menu {
													width: 100%;
													border-top: 1px solid $c-light-grey;

													li {
														width: 100%;
														margin: 0;
														list-style: none;

														button {
															width: 100%;
															padding: 5px 10px;
															border: none;
															text-align: left;
															white-space: nowrap;
														}
														button.highlight {
															background-color: $c-light-blue;
															color: #FFF;
														}
													}
													li:hover {
														button:not(:disabled) {
															background-color: $c-light-3;
														}
														button.highlight {
															background-color: $c-light-grey;
														}
													}
													li:not(:last-child) {
														button {
															border-bottom: 1px dotted $c-light-grey;
														}
														button.highlight {
															border-color: #FFF;
														}
														button:disabled {
															border-color: $c-light-2;
														}
													}
												}
											}
										}
										form:first-child {
											margin-left: 0;
										}
										form:last-child {
											margin-right: 0;
										}
									}
								}
							}
							.body {
								flex: 0 0 calc(100% - 330px);
								padding-right: 30px;
								/*padding-bottom: 10px;*/

								.meta, .media {
									margin: 5px 0;
								}
								.media-title {
									margin-top: 10px;
									margin-bottom: 0;

									a {
										color: $c-dark-blue;

										h1 {
											font-size: $t-mid;
											line-height: 1.3em;
											font-weight: bold;
											cursor: pointer;

											img {
												vertical-align: text-bottom;
												width: 30px;
												height: 30px;
												cursor: pointer;
											}
										}
									}
								}
								.media-txt {
									display: block;
									margin-bottom: 10px;
									font-size: $t-mid-small;
									line-height: 1.5em;
									white-space: pre-line;

									a {
										color: $c-dark-grey;

										.read-more {
											color:  $c-light-blue;
										}
									}
									a:hover {
										text-decoration: none;

										.read-more {
											text-decoration: underline;
										}
									}
								}
								.meta-mobilization,
								.meta-template {
									display: inline-block;
									font-size: $t-small;
									line-height: 1.5em;
									margin-bottom: 10px;
								}
								.meta-mobilization,
								.meta-template,
								.meta-followup,
								.meta-forward,
								.meta-public,
								.meta-copy,
								.meta-child {
									color: $c-light-grey;
									margin-top: 0;
									margin-bottom: 0;
								}
								.meta-mobilization {
									padding-right: 10px;
									margin-right: 10px;
									border-right: 1px solid $c-light-grey;
								}
								.meta-followup,
								.meta-forward,
								.meta-public,
								.meta-copy,
								.meta-child {
									width: 100%;
									margin: 10px 0 0 0;
								}
								.create {
									position: relative;
									display: inline-block;
									margin: 5px 10px 10px 0;

									button {
										padding: 0 5px;
										border: 1px solid $c-light-blue;
										outline: none;
										background-color: transparent;
										font-size: $t-small;
										line-height: 1.5em;
										color: $c-light-blue;
										cursor: pointer;
									}
									.dropdown {
										position: absolute;
										min-width: 100%;
										width: 300px;
										max-height: 0;
										left: 0;
										top: 100%;
										margin-top: -2px;
										background-color: #FFF;
										box-shadow: 0px 10px 10px rgba(0,0,0,.1);
										overflow: scroll;
										z-index: 10;
										transition: max-height 0.25s ease-out;

										menu {
											width: 100%;
											border-top: 1px solid $c-light-grey;

											li {
												display: inline-block;
												width: 100%;
												margin: 0;
												list-style: none;
												white-space: pre;

												a {
													button {
														height: auto;
														padding: 5px 10px;
														font-size: $t-small;
														background-color: transparent;
														border: none;
														color: $c-dark-grey;
														text-align: left;
													}
												}

												&:hover {
													background-color: $c-light-3;
												}
											}
										}
									}
								}
							}
							.body.full-width {
								flex: 0 0 100%;

								.media-title {
									width: calc(100% - 330px);
								}
							}
							.foot {
								align-self: top;

								.media-img {
									position: relative;
									width: 300px;
									height: 200px;
									display: flex;
									align-items: flex-end;

									.bookmark {
										display: none;
										justify-content: center;
										align-items: center;
										position: absolute;
										width: 30px;
										height: 90px;
										top: -10px;
										right: 10px;
										background-color: $c-mid-blue;
										font-size: $t-small;
										line-height: 1.5em;
										text-align: center;
										color: #FFF;
										z-index: 100;
										transform: translateY(-10px);
										transform-origin: top center;
										transition: transform .15s ease-out, background-color .25s;
										cursor: pointer;

										.label {
											transform: rotate(-90deg);
										}
									}
									.bookmark::before {
										content: '';
										position: absolute;
										right: 0;
										top: 0;
										transform: translateY(90px);
										width: 0;
										height: 0;
										border-top: 7px solid $c-mid-blue;
										border-left: 15px solid transparent;
										transform-origin: top center;
										transition: transform .15s ease-out, border-top-color .25s;
									}
									.bookmark::after {
										content: '';
										position: absolute;
										left: 0;
										top: 0;
										transform: translateY(90px);
										width: 0;
										height: 0;
										border-top: 7px solid $c-mid-blue;
										border-right: 15px solid transparent;
										transform-origin: top center;
										transition: transform .15s ease-out, border-top-color .25s;
									}
									.bookmark:hover,
									.bookmark.active {
										display: flex;
										transform: translateY(0);
										background-color: $c-dark-blue;
									}
									.bookmark:hover::before,
									.bookmark:hover::after,
									.bookmark.active::before,
									.bookmark.active::after {
										border-top-color: $c-dark-blue;
									}
									.bookmark.active {
										transform: translateY(0)scaleY(.5);

										.label {
											display: none;
										}
									}
									.bookmark.active::before,
									.bookmark.active::after {
										transform: translateY(90px)scaleY(2);
									}
									a {
										display: block;
										position: relative;
										width: 100%;
										height: 100%;
										color: $c-dark-blue;

										img {
											display: block;
											width: 100%;
											background-color: $c-light-2;
											height: 100%;
											font-size: $t-small;
											line-height: 1.5em;
											line-height: 200px;
											text-align: center;
										}
									}
								}
								.meta-group {
									display: flex;
									justify-content: space-around;
									align-items: center;
									width: 300px;
									height: calc(100% - 15px);
									padding-bottom: 15px;

									.meta-stats {
										margin: auto 5px;

										a {
											h1 {
												text-align: center;
												cursor: pointer;

												small {
													font-size: $t-small;
													line-height: 1.5em;
													display: block;
													font-weight: normal;
													cursor: pointer;
												}
												small.total {
													display: inline-block;
													font-weight: normal;
												}
											}
										}
										a:hover {
											text-decoration: none;

											h1 {
												small {
													text-decoration: underline;
												}
											}
										}
										a.disabled {
											color: $c-dark-blue;

											h1 {
												small {
													text-decoration: none !important;
													font-weight: normal;
												}
											}
										}
									}
								}
							}
							.pinboard-group {
								width: 100%;
								margin-top: 5px;

								.add {
									position: relative;
									width: 100%;

									input[type=text] {
										position: relative;
										width: 100%;
										height: 30px;
										padding: 0;
										margin-top: 10px;
										border: none;
										outline: none;
										background-color: transparent;
										border-bottom: 1px dotted $c-light-grey;
										font-size: $t-small;
										color: $c-dark-blue;
									}
									input[type=text]:focus {
										border-bottom-color: $c-light-grey;
									}
									label {
										position: absolute;
										left: 0;
										font-size: $t-small;
										line-height: 1.5em;
										color: $c-light-grey;
										transform: translateY(15px);
										transition: transform .25s, font-size .25s;
										pointer-events: none;

										/*&::after {
											content: '';
											position: absolute;
											top: 4px;
											left: calc(100% + 5px);
											width: 15px;
											height: 15px;
											margin: auto;
											background: url('../imgs/icons/i-search-sm.svg');
										}*/
									}
									input[type=text]:focus + label,
									input[type=text].has-value + label {
										font-size: $t-xsmall;
										line-height: 1.5em;
										transform: translateY(2.5px);
									}

									.dropdown {
										position: absolute;
										width: 100%;
										max-height: 0;
										left: 0;
										top: 100%;
										background-color: #FFF;
										box-shadow: 0px 10px 10px rgba(0,0,0,.1);
										overflow: scroll;
										z-index: 10;
										transition: max-height 0.25s ease-out;

										menu {
											width: 100%;

											li {
												display: inline-block;
												width: 100%;
												margin: 0;
												list-style: none;

												input[type=checkbox] {
													display: none;
												}
												label {
													display: flex;
													align-items: center;
													position: static;
													padding: 5px 20px 5px 15px;
													cursor: pointer;
													font-size: $t-mid-small;
													line-height: 1.5em;
													color: $c-dark-grey;
													transform: none;
													pointer-events: all;
													cursor: pointer;

													.count {
														margin-left: auto;
														padding-left: 10px;
														color: $c-light-grey;
													}
												}
												input:checked + label {
													background-color: $c-light-2;
												}

												&:hover {
													background-color: $c-light-3;
												}
											}
										}
									}
								}
								.pin {
									display: inline-block;
									height: 15px;
									padding: 0;
									margin-right: 5px;
									font-size: $t-xsmall;
									line-height: 15px;
									border: 1px solid $c-light-grey;
									color: $c-light-grey;

									label {
										cursor: pointer;
										vertical-align: top;
									}
									.type {
										flex-shrink: 0;
										/*font-size: $t-xsmall;*/
									}
									.name {
										flex-grow: 1;
										margin: 0 5px 0 5px;
										white-space: nowrap;
									}
									.close {
										display: inline-block;
										position: relative;
										width: 15px;
										height: 15px;
										background-color: $c-light-grey;
										text-align: center;
										font-size: $t-small;
										color: #FFF;

										&::before {
											content: '';
											position: absolute;
											height: 100%;
											width: 0;
											left: 50%;
											border-left: 1px solid #FFF;
											transform: rotate(45deg);
											transform-origin: center;
										}
										&::after {
											content: '';
											position: absolute;
											height: 100%;
											width: 0;
											left: 50%;
											border-left: 1px solid #FFF;
											transform: rotate(-45deg);
											transform-origin: center;
										}
									}
								}
							}
						}
						.outer {
							position: relative;
							flex-grow: 0;
							flex-shrink: 0;
							background-color: #FFF;

							.inner {
								display: flex;
								position: relative;
								z-index: 1;
								width: 0;
								height: calc(100% + 15px);
								padding: 15px 0 0 0;
								margin-top: -15px;
								/*border-bottom: 1px dotted $c-light-grey;*/
								transition: width .25s;
								overflow: hidden;

								background: repeating-linear-gradient(
									45deg,
									#FFF,
									#FFF 3px,
									rgba(165, 30, 65, .1) 3px,
									rgba(165, 30, 65, .1) 6px
								);

								form {
									display: flex;
									flex-direction: column;
									justify-content: center;
									width: 100%;

									button {
										width: calc(100% - 30px);
										height: 45px;
										margin: 5px 15px;
										border: none;
										outline: none;
										border: 1px solid $c-dark-red;
										background-color: transparent;
										font-size: $t-mid-small;
										line-height: 1.5em;
										color: $c-dark-red;
										cursor: pointer;
										overflow: hidden;
									}
									button.cancel {
										border-color: $c-mid-grey;
										color: $c-mid-grey;
									}
								}
							}
							&::before {
								content: '';
								position: absolute;
								z-index: 0;
								width: 100%;
								height: 15px;
								top: -15px;
								background-color: #FFF;
							}
							&::after {
								content: '';
								position: absolute;
								z-index: 0;
								width: 100%;
								height: 15px;
								top: 100%;
								background-color: #FFF;
							}
						}
						.outer.expand {
							.inner {
								width: 120px;
							}
						}
						/*&::after {
							content: '';
							position: absolute;
							width: 100%;
							height: 100%;
							left: 0;
							top: 0;
							background-color: rgba(100,100,100,.1);
							opacity: 0;
							pointer-events: none;
							transition: opacity .15s;
						}*/
					}
					article:hover {
						background-color: $c-light-3;
					}
					article:not(.pad):not(.review):not(.contributor) {
						border-bottom: 1px dotted $c-light-grey;
						padding-top: 15px;
						padding-bottom: 15px;
					}
					article.status--1 {
						filter: grayscale(1);
						background: repeating-linear-gradient(
							-45deg,
							transparent,
							transparent 3px,
							rgba(150, 150, 150, .1) 3px,
							rgba(150, 150, 150, .1) 6px
						);
					}
					article.status-0 {
						background: repeating-linear-gradient(
							-45deg,
							transparent,
							transparent 3px,
							rgba(255, 193, 14, .1) 3px,
							rgba(255, 193, 14, .1) 6px
						);
					}
					article.status-1 {
						background: repeating-linear-gradient(
							-45deg,
							transparent,
							transparent 3px,
							rgba(50, 190, 225, .1) 3px,
							rgba(50, 190, 225, .1) 6px
						);
					}
					/*article.mobilization.status-1 {
						background: none;
					}*/
					article.mobilization.status-0 {
						background: repeating-linear-gradient(
							-45deg,
							transparent,
							transparent 3px,
							rgba(150, 150, 150, .1) 3px,
							rgba(150, 150, 150, .1) 6px
						);
					}
					/*article:hover {
						&::after {
							opacity: 1;
						}
					}*/
					.tag-group {
						.meta-tags {
							margin-left: -2px;

							a {
								display: inline-block;
								color: $c-mid-blue;

								/*.tag {
									border: 1px solid $c-mid-blue;
									padding: 0 10px;
									margin-right: 5px;
									font-size: $t-small;
									line-height: 1.5em;

									label {
										cursor: pointer;
									}
								}*/

								.tag {
									border: none;
									padding: 0 10px;
									margin: 0 2.5px 2.5px 0;
									background-color: $c-light-2;
									border-radius: calc(#{$t-small} * 1.75);
									font-size: $t-small;
									line-height: 1.75em;
									color: $c-mid-grey;

									label {
										cursor: pointer;
									}
								}
							}
							a:hover {
								text-decoration: none;
							}
						}
						.meta-sdgs {
							font-size: $t-small;
							line-height: 1.5em;

							span {
								margin-right: 5px;
								color: $c-light-grey;
							}
							a {
								display: inline-block;
								margin: 0 5px;
								font-size: $t-mid-small;
								line-height: 1.2em;
								font-weight: bold;
							}
						}
					}
					.engagement-group {
						margin-top: 10px;

						.engagement {
							display: inline-block;
							border: none;
							outline: none;
							background-color: transparent;

							img {
								vertical-align: middle;
								width: 30px;
								height: 30px;
								cursor: pointer;
							}
							span {
								display: inline-block;
								margin-right: 5px;
								text-align: center;
								font-size: $t-small;
								color: $c-light-grey;
							}
						}
						.engagement:disabled {
							img {
								cursor: initial;
								opacity: .5;
							}
						}
					}
				}
				.layout.columns {
					display: grid;
					grid-template-columns: repeat(2, 300px);
					grid-gap: 15px;

					article {
						flex-direction: column;
						width: 100%;
						height: 100%;
						vertical-align: top;
						grid-column: span 1;
						padding-top: 0;
						padding-bottom: 0;
						border-bottom: none;

						.inner {
							display: block;

							.head {
								display: block;

								.btn-group {
									text-align: left;

									form {
										position: relative;
										display: inline-block;
										margin: 0 2px;

										button {
											min-height: 30px;
											padding: 0 10px;
											border: 1px solid $c-light-grey;
											outline: none;
											background-color: transparent;
											font-size: $t-small;
											line-height: 1.5em;
											color: $c-light-grey;
											cursor: pointer;
										}
										button.publish,
										button.share,
										button.active,
										button.accept {
											background-color: $c-light-blue;
											border-color: $c-light-blue;
											color: #FFF;
										}
										button.delete.active,
										button.unpublish.active {
											border-color: $c-dark-red;
											background-color: $c-dark-red;
										}
										button:disabled {
											background-color: transparent;
											border: 1px solid $c-light-2;
											color: $c-light-2;
											pointer-events: none;
											cursor: default;
										}

										.dropdown {
											position: absolute;
											min-width: 100%;
											max-height: 0;
											left: 50%;
											top: calc(100% - 1px);
											background-color: #FFF;
											box-shadow: 0px 10px 10px rgba(0,0,0,.1);
											transform: translateX(-50%);
											overflow: hidden;
											z-index: 10;
											transition: max-height 0.15s ease-out;

											menu {
												width: 100%;
												border-top: 1px solid $c-light-grey;

												li {
													width: 100%;
													margin: 0;
													list-style: none;

													button {
														width: 100%;
														padding: 5px 10px;
														border: none;
														text-align: center;
														white-space: nowrap;
													}
												}
												li:hover {
													button:not(:disabled) {
														background-color: $c-light-3;
													}
												}
												li:not(:last-child) {
													button {
														border-bottom: 1px dotted $c-light-grey;
													}
													button:disabled {
														border-color: $c-light-2;
													}
												}
											}
										}
									}
									form:first-child {
										margin-left: 0;
									}
									form:last-child {
										margin-right: 0;
									}
								}
								.btn-group:empty {
									margin: 0;
								}
								.media-img {
									position: relative;
									width: 300px;
									height: 200px;
									margin-bottom: 10px;
									display: flex;
									align-items: flex-end;

									.bookmark {
										display: none;
										justify-content: center;
										align-items: center;
										position: absolute;
										width: 30px;
										height: 90px;
										top: -10px;
										right: 10px;
										background-color: $c-mid-blue;
										font-size: $t-small;
										line-height: 1.5em;
										text-align: center;
										color: #FFF;
										z-index: 100;
										transform: translateY(-10px);
										transform-origin: top center;
										transition: transform .15s ease-out, background-color .25s;
										cursor: pointer;

										.label {
											transform: rotate(-90deg);
										}
									}
									.bookmark::before {
										content: '';
										position: absolute;
										right: 0;
										top: 0;
										transform: translateY(90px);
										width: 0;
										height: 0;
										border-top: 7px solid $c-mid-blue;
										border-left: 15px solid transparent;
										transform-origin: top center;
										transition: transform .15s ease-out, border-top-color .25s;
									}
									.bookmark::after {
										content: '';
										position: absolute;
										left: 0;
										top: 0;
										transform: translateY(90px);
										width: 0;
										height: 0;
										border-top: 7px solid $c-mid-blue;
										border-right: 15px solid transparent;
										transform-origin: top center;
										transition: transform .15s ease-out, border-top-color .25s;
									}
									.bookmark:hover,
									.bookmark.active {
										display: flex;
										transform: translateY(0);
										background-color: $c-dark-blue;
									}
									.bookmark:hover::before,
									.bookmark:hover::after,
									.bookmark.active::before,
									.bookmark.active::after {
										border-top-color: $c-dark-blue;
									}
									.bookmark.active {
										transform: translateY(0)scaleY(.5);

										.label {
											display: none;
										}
									}
									.bookmark.active::before,
									.bookmark.active::after {
										transform: translateY(90px)scaleY(2);
									}
									a {
										display: block;
										position: relative;
										width: 100%;
										height: 100%;
										color: $c-dark-blue;

										img {
											display: block;
											width: 100%;
											background-color: $c-light-2;
											height: 100%;
											font-size: $t-small;
											line-height: 1.5em;
											line-height: 200px;
											text-align: center;
										}
									}
								}
							}
							.body {
								display: block;
								width: 100%;
								padding: 0;

								.meta-data {
									margin: 0 0 5px 0;

									.meta-contributor {
										display: inline-block;
										margin: 0 5px 0 0;
										font-size: $t-mid-small;
										line-height: 1.5em;
										color: $c-mid-blue;

										&::after {
											content: ', ';
											font-size: $t-mid-small;
											line-height: 1.5em;
											color: $c-light-blue;
										}
									}
									.meta-date {
										display: inline-block;
										margin: 0;
										font-size: $t-small;
										line-height: 1.5em;
										color: $c-mid-blue;
									}
								}
								.media-title {
									a {
										h1 {
											font-size: $t-mid;
											line-height: 1.2em;
											margin: 0;
											text-align: left;

											img {
												vertical-align: text-bottom;
											}
										}
									}
								}
								.meta-mobilization,
								.meta-template {
									display: block;
									padding: 0;
									margin: 0;
									border: none;
								}
								.meta-followup,
								.meta-forward,
								.meta-public,
								.meta-copy,
								.meta-child {
									margin: 10px 0;
								}
							}
							.foot {
								.meta, .media {
									margin: 5px 0;
								}
								.meta-group {
									width: 100%;
									padding-top: 5px;
									padding-bottom: 15px;

									.meta-stats {
										width: 25%;
									}
								}
							}
							.pinboard-group {
								.add {
									input[type=text] {
										border-bottom-color: transparent;
									}
									input[type=text]:focus {
										border-bottom-color: $c-light-grey;
									}
								}
							}
						}
						.outer {
							height: 0;
							transition: height .25s;
							overflow: hidden;

							.inner {
								width: 100%;
								height: auto;
								margin-top: 0;
								padding: 15px 0;
							}
							&::before {
								height: 0;
								top: 0;
							}
							&::after {
								height: 0;
							}
						}
						.outer.expand {
							height: calc(55px * 2 + 15px * 2);
						}
					}
				}
			}
		}
	}
}
div.browse.public {
	padding-top: 90px;
}
div.browse.slideshow {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100vw;
	padding: 0;
	margin: 0;
	border: none;
	min-height: 0;
	height: calc(100vh - 30px);

	nav.tabs {
		left: calc((100vw - (300px * 2 + 15px)) / 2);
	}
	button.slide-nav {
		position: fixed;
		top: 0;
		width: 60px;
		height: 100vh;
		background: repeating-linear-gradient(
			-45deg,
			transparent,
			transparent 3px,
			rgba(150, 150, 150, .1) 3px,
			rgba(150, 150, 150, .1) 6px
		);

		border: none;
		outline: none;
		color: $c-light-grey;
		font-size: $t-xxlarge;
		line-height: 1.5em;
		cursor: pointer;
		transition: background .25s;
		z-index: 1001;
	}
	button.slide-nav.prev {
		left: 0;
	}
	button.slide-nav.next {
		right: 0;
	}
	button.slide-nav:hover {
		background: repeating-linear-gradient(
			-45deg,
			transparent,
			transparent 3px,
			rgba(50, 190, 225, .1) 3px,
			rgba(50, 190, 225, .1) 6px
		);
	}

	main {
		position: relative;
		height: 100%;
		padding-bottom: 0;

		.inner {
			height: 100%;

			section {
				height: 100%;

				.layout {
					display: flex;
					position: relative;
					flex-flow: row nowrap;
					height: 100%;
					scroll-snap-type: x mandatory;
					overflow: scroll;
					margin-top: 0;

					article {
						position: relative;
						width: 100vw;
						height: 100%;
						scroll-snap-align: center;
						padding: 0;

						.inner {
							display: flex;
							justify-content: flex-end;
							flex-flow: unset;
							flex-direction: column;
							flex: none;
							width: 100vw;
							max-height: 100%;
							box-sizing: border-box;
							padding: 0 calc((100vw - (300px * 2 + 15px)) / 2) 60px calc((100vw - (300px * 2 + 15px)) / 2);

							.head {
								flex: unset;
								position: static;
								.meta-group {
									position: relative;
									z-index: 10;
								}
								.media-img {
									position: absolute;
									top: 0;
									left: 0;
									width: 100vw;
									height: calc(100vh - 30px);
									z-index: 0;
									overflow: hidden;

									a {
										display: flex;
										justify-content: center;
										align-items: center;
										position: relative;
										width: 100%;
										height: 100%;
										color: $c-dark-blue;
										pointer-events: none;

										img {
											display: block;
											width: 100%;
											background-color: $c-light-2;
											font-size: $t-small;
											line-height: 1.5em;
											line-height: calc(75vh);
											text-align: center;
											object-fit: contain;
										}
									}
								}
							}
							.body {
								position: relative;
								flex: unset;
								margin-bottom: 90px;
								z-index: 10;
							}
						}
						.inner.centered {
							justify-content: center;

							.body {
								margin-bottom: 0;
							}
						}
						.outer {
							display: none;
						}
					}
				}
			}
		}
	}
}
div.browse.slideshow + footer {
	position: fixed;
	bottom: 0;
	background-color: transparent;

	.inner {
		border: none;
		width: 100%;
		box-sizing: border-box;

		div.dots {
			width: 100%;
			text-align: center;

			.dot {
				height: 15px;
				width: 15px;
				margin: 0 5px;
				background-color: rgba(0,0,0,.1);
				border-radius: 50%;
				display: inline-block;
				transition: background-color 0.25s ease;
				cursor: pointer;
			}
			.highlight {
				background-color: $c-mid-blue;
			}
		}
	}
}

footer {
	border: none;
	width: 100%;

	nav.pagination {
		width: 100%;
		text-align: center;
		padding-bottom: 60px;

		.inner {
			display: initial;
			position: static;

			ul {
				padding: 0 15px;
				text-align: center;
				li {
					display: inline-block;
					margin: 0 5px;

					a.page-link.active {
						font-weight: 700;
						text-decoration: underline;
					}
				}
				li.disabled {
					color: $c-light-grey;
				}
			}
		}

		img {
			width: 180px;
			height: auto;
		}
	}

}
