@import 'vars.lg';

div.table {
	/*display: block;
	float: left;
	width: calc(85% - 5%);
	padding: 30px 0 0 0;
	background-color: #FFF;
	min-height: calc(100vh - 60px);*/
	/*box-shadow: 0 0 10px rgba(100, 100, 100, .25);*/
	/*border-left: 1px solid $c-light-2;*/
	/*border-right: 1px solid $c-light-2;*/

	display: block;
	float: left;
	/*width: calc(300px * 3 + 15px * 2);*/
	width: calc(100vw - ((100vw - (300px * 3 + 15px * 4)) / 2) - 120px);
	padding: 30px 0 0 0;
	background-color: #FFF;
	min-height: calc(100vh - 60px);

	main {
		.inner {
			.head {
				position: fixed;
				top: 30px;
				left: calc((100vw - (300px * 3 + 15px * 4)) / 2);
				width: calc(100vw - ((100vw - (300px * 3 + 15px * 4)) / 2) - 120px);
				/*height: 75px;*/
				margin: 0;
				/*border-bottom: 1px solid $c-dark-blue;*/
				background-color: #FFF;
				z-index: 100;

				.btn-group {
					height: 30px;
					padding: 15px 10px 15px 0;
					margin: 0 0 0 auto;
					text-align: right;
					z-index: 100;

					form {
						position: relative;
						display: inline-block;
						margin: 0 5px 0 5px;


						button {
							min-height: 30px;
							padding: 0 10px;
							border: 1px solid $c-dark-blue;
							outline: none;
							background-color: transparent;
							font-size: $t-mid-small;
							line-height: 1.5em;
							cursor: pointer;
						}

						button:disabled {
							background-color: transparent;
							border: 1px solid $c-light-2;
							color: $c-light-2;
							pointer-events: none;
							cursor: default;
						}
					}
				}
			}
			.meta-status.status-0 {
				background: repeating-linear-gradient(
					-45deg,
					transparent,
					transparent 3px,
					rgba(255, 193, 14, .1) 3px,
					rgba(255, 193, 14, .1) 6px
				);
			}
			.meta-status.status-1 {
				background: repeating-linear-gradient(
					-45deg,
					transparent,
					transparent 3px,
					rgba(50, 190, 225, .1) 3px,
					rgba(50, 190, 225, .1) 6px
				);
			}
			.body {
				margin-top: 75px;

				.input-group {
					position: relative;
					display: flex;
					width: 100%;
					min-height: calc(100vh - 180px);
					overflow: hidden;
					background: repeating-linear-gradient(
						-45deg,
						transparent,
						transparent 3px,
						rgba(100, 100, 100, .1) 3px,
						rgba(100, 100, 100, .1) 6px
					);

					.drop-zone {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						width: 100%;
						margin: 30px;
						border: 2px dotted $c-light-blue;
						transition: margin .25s;

						input {
							display: none;
						}

						button {
							width: 100%;
							height: 100%;
							background-color: transparent;
							border: none;
							outline: none;
							cursor: pointer;

							label {
								display: block;
								text-align: center;
								font-size: $t-main;
								cursor: pointer;
							}
						}
					}
				}
				.input-group.accept {
					background: repeating-linear-gradient(
						-45deg,
						transparent,
						transparent 3px,
						rgba(50, 190, 225, .1) 3px,
						rgba(50, 190, 225, .1) 6px
					) !important;

					.drop-zone {
						margin: 45px;
						border-color: $c-light-blue !important;
					}
				}
				.input-group.reject {
					background: repeating-linear-gradient(
						-45deg,
						#FFF,
						#FFF 3px,
						rgba(165, 30, 65, .1) 3px,
						rgba(165, 30, 65, .1) 6px
					);
					.drop-zone {
						border-color: $c-dark-red;
					}
				}
				.btn-group {
					position: fixed;
					display: flex;
					justify-content: center;
					top: 0;
					left: calc((100vw - (300px * 3 + 15px * 4)) / 2);
					width: calc(100vw - ((100vw - (300px * 3 + 15px * 4)) / 2) - 120px);
					padding-top: 120px;
					border-bottom: 1px solid $c-light-2;
					background-color: #FFF;
					z-index: 10;

					form {
						border-top: 1px solid $c-light-2;
						/*border-bottom: 1px solid $c-light-2;*/
						background-color: #FFF;

						button {
							height: 60px;
							width: 60px;
							outline: none;
							border: none;
							background-color: transparent;
							font-size: $t-mid-small;
							line-height: 1.5em;
							color: $c-mid-grey;
							cursor: pointer;

							i {
								font-size: $t-mid;
							}
						}
						button.publish {
							background-color: $c-light-blue;
							border-color: $c-light-blue;
							color: #FFF;
						}
						button:disabled {
							background-color: transparent;
							border: 1px solid $c-light-2;
							color: $c-light-2;
							pointer-events: none;
							cursor: default;
						}
					}
					form:first-child {
						border-left: 1px solid $c-light-2;
					}
					form:last-child {
						border-left: 1px solid $c-light-2;
						border-right: 1px solid $c-light-2;
					}
				}
				table {
					width: 100%;
					margin: 175px auto 30px auto;
					border-collapse: collapse;
					background-color: #FFF;
					font-size: $t-small;
					z-index: 10;

					thead {
						background: repeating-linear-gradient(
							-45deg,
							transparent,
							transparent 3px,
							rgba(100, 100, 100, .1) 3px,
							rgba(100, 100, 100, .1) 6px
						);

						th {
							position: relative;
							padding: 5px 10px;
							font-weight: 400;
						}
						th.selected::after {
							content: '';
							position: absolute;
							top: 0;
							left: -1px;
							width: 100%;
							height: calc(100% - 1px);
							border: 1px solid transparent;
						}
						th.selected.top::after {
							border-top: 1px solid $c-mid-yellow;
						}
						th.selected.left::after {
							border-left: 1px solid $c-mid-yellow;
						}
						th.selected.right::after {
							border-right: 1px solid $c-mid-yellow;
						}
						th.selected.bottom::after {
							border-bottom: 1px solid $c-mid-yellow;
						}

						.column-selection {
							height: 30px;
							background-color: #FFF;

							th {
								border: none;
								padding: 0 10px;
								-webkit-touch-callout: none;
								-webkit-user-select: none;
								-khtml-user-select: none;
								-moz-user-select: none;
								-ms-user-select: none;
								user-select: none;
							}
							.selection {
								color: $c-mid-grey;
								cursor: pointer;

								i {
									font-size: $t-main;
									line-height: 30px;
									cursor: pointer;
								}
							}
							.selection.selected {
								background-color: $c-light-yellow;
								/*color: #FFF;*/
							}
						}
						.column-names {
							background-color: #FFF;

							th {
								border: none;
								font-weight: bold;
							}
							th:focus {
								outline: 1px solid $c-light-yellow;
							}
						}
						.data-types {
							height: 30px;
							/*border-left: 1px dotted $c-light-grey;
							border-right: 1px dotted $c-light-grey;
							border-top: 1px dotted $c-light-grey;*/

							th {
								padding: 0 10px;
								font-style: italic;
								color: $c-mid-grey;

								button {
									vertical-align: middle;
									border: none;
									outline: none;
									margin-left: 15px;
									background-color: transparent;
									color: $c-mid-grey;

									i {
										margin-top: 5px;
										font-size: $t-mid;
										cursor: pointer;
									}
								}
							}
						}
						.media-types {
							/*border-left: 1px dotted $c-light-grey;*/
							/*border-bottom: 1px dotted $c-light-grey;*/

							th {
								/*border-right: 1px dotted $c-light-grey;*/

								select {
									width: 100%;
								}
							}
						}
					}
					tbody {
						td {
							position: relative;
							padding: 5px 10px;
							border: 1px solid $c-light-2;
							color: $c-dark-grey;
						}
						td.selected::after {
							content: '';
							position: absolute;
							top: 0;
							left: -1px;
							width: 100%;
							height: calc(100% - 1px);
							border: 1px solid transparent;
						}
						td.selected.top::after {
							border-top: 1px solid $c-mid-yellow;
						}
						td.selected.left::after {
							border-left: 1px solid $c-mid-yellow;
						}
						td.selected.right::after {
							border-right: 1px solid $c-mid-yellow;
						}
						td.selected.bottom::after {
							border-bottom: 1px solid $c-mid-yellow;
						}
						.column-values {
							position: relative;

							.preview {
								position: absolute;
								display: flex;
								justify-content: center;
								align-items: center;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background-color: rgba(100,100,100,.1);
								/*background-color: rgba(229,229,229,.75);*/
								color: $c-dark-blue;
								font-size: $t-main;
								cursor: pointer;

								span {
									padding: 0 5px;
									background-color: $c-light-yellow;
									color: $c-dark-grey;
								}
								i {
									font-size: $t-main;
									cursor: pointer;
								}
							}

						}
					}
				}
			}
			.foot {
				.summary {
					padding-bottom: 30px;
					font-size: $t-small;
					color: $c-light-grey;
				}
			}
		}
	}
}

.modal.pad-preview {
	align-self: flex-start;
	width: auto;
	margin: 0;

	.close {
		position: sticky;
		top: 0px;
	}

	.document {
		float: none;
		margin: auto;

		main {
			padding: 0;
			margin: 0 auto;

			.inner {
				border-top: 0;
				box-shadow: none;
			}
		}
	}

}
