<%
	// CREATE ALIASES
	const activity = locals.metadata.page.activity
	const publicpage = locals.metadata.page.public || activity === 'preview'
%>

<div class='org-footer'>	
	<div class='footer-row'>
		<div class='footer-column left'>
			<div class='outer'>
				<img class='logo' src='/imgs/branding/UNDP_accelerator_labs_logo_vertical_white.png' alt='UNDP accelerator labs logo'>
				<small>UNDP Accelerator Labs</small>
			</div>
			<div class='inner'>
				<h3>Links</h3>
				<!-- TO DO: TRANSLATE -->
				<ul>
					<li>
						<a target='_blank' href='https://www.undp.org/acceleratorlabs'>
						About Us
						</a>
						<!-- TO DO: TRANSLATE -->
					</li>
					<li>
						<a target='_blank' href='https://www.undp.org/accountability/audit/investigations'>
						Report fraud, abuse, misconduct
						<!-- TO DO: TRANSLATE -->
						</a>
					</li>
					<li>
						<a target='_blank' href='https://www.undp.org/scam-alert'>
						Scam Alert
						<!-- TO DO: TRANSLATE -->
						</a>
					</li>
					<li>
						<a target='_blank' href='https://www.undp.org/copyright-terms-use'>
						Terms of Use
						<!-- TO DO: TRANSLATE -->
						</a>
					</li>
					<li>
						<a target='_blank' href='https://github.com/UNDP-Accelerator-Labs/platform-global/issues'>
						Submit / report an issue
						<!-- TO DO: TRANSLATE -->
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class='footer-column center'>
			<div class='inner'>
				<h3>Our Partners</h3>
				<!-- TO DO: TRANSLATE -->
				<img class='footer-img' src='/imgs/branding/UNDP_Acc_Labs_All_Partners_horiz_white.png'	alt='UNDP accelerator Partnerslogo'>
			</div>
		</div>
		<div class='footer-column right'>
			<div class='inner'>
				<h3>Follow Us</h3>
				<!-- TO DO: TRANSLATE -->
				<div class='social-media-links'>
					<ul>
						<li>
							<a target='_blank' href='https://www.linkedin.com/company/undp-accelerator-labs'>
								<i class='fa fa-linkedin' > </i>
							</a>
						</li>
						<li>
							<a target='_blank' href='https://twitter.com/UNDPAccLabs'>
								<i class='fa fa-twitter'> </i>
							</a>
						</li>
						<li>
							<a target='_blank' href='https://www.instagram.com/acceleratorlabs/'>
								<i class='fa fa-instagram'> </i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class='footer-row signature'>
		<div class='inner'>
			<p>&copy; 2023 United Nations Development Programme</p>
		</div>
		<!-- TO DO: TRANSLATE -->
	</div>
</div>