<%
	// CREATE ALIASES
	const total_contributions = locals.platform_stats.total
    const chat_data = locals.platform_stats.data
%>
<div class="b-card b-card-flush h-md-50 mb-5 mb-xl-10 p-5 bg-light">
    <div class="b-card-header pt-5">
        <div class="b-card-title d-flex flex-column">
            <div class="d-flex align-items-center">
                <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2"><%= total_contributions %></span>
                <span class="badge badge-light-success fs-base">
                    Contributions
                </span>
            </div>
            <span class="text-gray-400 pt-1 fw-semibold fs-6">Global statistics</span>
        </div>
    </div>
    <div class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center">
        <div class="d-flex flex-center me-5 pt-2">
            <canvas id="pieChart" height="70" width="70"></canvas>
        </div>
        <div class="d-flex flex-column content-justify-center flex-row-fluid">
            <% chat_data.forEach(item => { %>
            <div class="d-flex fw-semibold align-items-center">
                <div class="bullet w-8px h-3px rounded-2 me-3" style="background-color: <%= item.color %>"></div>
                <div class="text-gray-500 flex-grow-1 me-4"><%= item.label %></div>
                <div class=" fw-bolder text-gray-700 text-xxl-end"><%= item.value %></div>
            </div>
            <% }); %>
        </div>
    </div>
</div>