<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, target-densitydpi=device-dpi'>
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta names='apple-mobile-web-app-status-bar-style' content='black-translucent'>

<title><%- locals.metadata?.page?.title || locals.title %></title>

<script type='text/javascript' src='/scripts/d3/dist/d3.min.js'></script>
<script type='text/javascript' src='/scripts/d3-selection-multi/build/d3-selection-multi.min.js'></script>

<script type='text/javascript' src='/scripts/uuid/dist/umd/uuidv4.min.js'></script>

<script type='text/javascript' src='/js/d3.prototype.extensions.js'></script>
<script type='text/javascript' src='/js/String.prototype.extensions.js'></script>
<script type='text/javascript' src='/js/Math.extensions.js'></script>
<script type='text/javascript' src='/js/Array.prototype.extensions.js'></script>
<script type='text/javascript' src='/js/Date.prototype.extensions.js'></script>
<script type='text/javascript' src='/js/basics.js'></script>
<script type='text/javascript' src='/js/upload.js'></script>

<!-- <script src = '/socket.io/socket.io.js'></script> -->

<link rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css'
	integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=='
	crossorigin=''/>
<script src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js'
	integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=='
	crossorigin=''></script>

<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined'>
<link rel='stylesheet' type='text/css' href='/css/dispatch.css'>
