<%
	// CREATE ALIASES
	const language = locals.metadata.page.language
	const languages = locals.metadata.site.languages
	const page_language = locals.metadata.page.page_language
%>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, target-densitydpi=device-dpi'>
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta names='apple-mobile-web-app-status-bar-style' content='black-translucent'>

<title><%- locals.metadata?.page?.title || locals.title %></title>

<script type='text/javascript' src='/scripts/d3/dist/d3.min.js'></script>
<script type='text/javascript' src='/scripts/d3-selection-multi/build/d3-selection-multi.min.js'></script>

<script type='text/javascript' src='/scripts/uuid/dist/umd/uuidv4.min.js'></script>

<script type='text/javascript' src='/js/d3.prototype.extensions.js'></script>
<script type='text/javascript' src='/js/String.prototype.extensions.js'></script>
<script type='text/javascript' src='/js/Math.extensions.js'></script>
<script type='text/javascript' src='/js/Array.prototype.extensions.js'></script>
<script type='text/javascript' src='/js/Date.prototype.extensions.js'></script>
<script type='text/javascript' src='/js/basics.js'></script>
<script type='text/javascript' src='/js/upload.js'></script>

<!-- Google Translate CDN -->
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<link rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css'
	integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=='
	crossorigin=''/>
<script src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js'
	integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=='
	crossorigin=''></script>

<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined'>
<link rel='stylesheet' type='text/css' href='/css/dispatch.css'>

<script type="text/javascript">
	var languageAlias = '<%= page_language %>';
	var googleTranslateElement;
	var languages= ('<%= languages.map(p=> p.language) %>').split(',');

	function setCookie(key, value, expiry) {
	  var expires = new Date();
	  expires.setTime(expires.getTime() + (expiry * 24 * 60 * 60 * 1000));
	  document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
	}
	function googleTranslateElementInit() {
		setCookie('GoogleAccountsLocale_session', `${languageAlias}`);
		setCookie('googtrans', `/en/${languageAlias}`, 1);

		d3.select("#gtranslate-dummy-lang").style("display", "none");
		new google.translate.TranslateElement({
		   pageLanguage: 'en',
		   layout: google.translate.TranslateElement.InlineLayout.SIMPLE
		}, 'google_translate_element');

	}

	function rewriteUrl(lang, reload = false){
		const currentUrl = new URL(window.location);
		const languagePattern = /^\/[a-z]{2,3}\//;
		const newPath = currentUrl.pathname.replace(languagePattern, "/" + lang + "/");
		currentUrl.pathname = newPath;
		const newUrl = `${currentUrl}`;

		if(reload) window.location.href = newUrl;
		else window.history.replaceState({}, "", newUrl);
	}

	//IF THE SELECTED LANGUAGE IS ONE OF THE MODULE LANGUAGES, IGNORE GOOGLE TRANSLATE FOR VOCABULARY OBJ
	//THIS MEANS THE SOURCE OF TRUTH FOR TRANSLATION ON MODULE LANGUAGES IS THE VOCABULARY OBJECT.
	function updateDomTree(lang) {
		const isMainLanguage = languages.includes(lang) && lang !== 'en'
		d3.selectAll('.google-translate-attr')
  			.classed('notranslate', function() {
				return d3.select(this).classed('notranslate') || isMainLanguage;
			});
	}

	//LISTEN TO CHANGES IN LANGUAGE COOKIES
	cookieStore.addEventListener('change', ({changed}) => {
		for (const {name, value} of changed) {
			if(name === 'googtrans'){
				var lang = value?.split('/')[2]
				updateDomTree(lang)
				rewriteUrl(lang)
			}
		}
		if(!changed.length){
			rewriteUrl('en', true);
		}
	});

</script>