<div class="card">
    <div class="card-body p-17">
        <div class="mb-18">
            <div class="mb-10">
                <div class="text-center mb-15">
                    <h2 class="h2 fs-2hx text-dark mb-5">Thematic areas</h2>
                    <div class="fs-5 text-muted fw-semibold">
                        Explore the thematic areas across the Accelerator Labs network of 60 labs serving 78 countries aiming to find
                        <br/> radically new approaches to address the Sustainable Development Goals (SDGs).
                    </div>
                </div>
                <div class="overlay">
                    <img class=" w-50" style="margin-left: 20%;" src="/imgs/branding/ai-map.png" alt="">
                    <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                        <a target="_blank" href="https://undp-accelerator-labs.github.io/ALP-map/" class="btn btn-native">Explore</a>
                    </div>
                </div>
            </div>
            <div class="fs-5 fw-semibold text-center text-gray-600">
                <p class="mb-8">
                    Grassroots innovations are home-grown solutions that have never been codified, applied elsewhere, nor taken to scale.
                    <br/> These customized solutions are naturally frugal, grounded in a specific context, and might be more relevant, given their proximity to the problem.
                    <br/> These solutions are often the result of innovation—people solving problems from the bottom up.
                </p>
            </div>
        </div>
        <div class="card bg-light mb-18">
            <div class="card-body py-15">
                <div class="d-flex flex-center">
                    <div class="d-flex flex-center flex-wrap mb-10 mx-auto gap-5 w-xl-900px">
                        <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-10">
                            <div class="text-center">
                                <i class="ki-duotone ki-element-11 fs-2tx text-primary"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                <div class="mt-1">
                                    <div class="fs-lg-2hx fs-2x fw-bold text-gray-800 d-flex align-items-center">
                                        <div class="min-w-70px counted">60</div>
                                    </div>
                                    <span class="text-gray-600 fw-semibold fs-5 lh-0">Labs</span>
                                </div>
                            </div>
                        </div>
                        <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-10">
                            <div class="text-center">
                                <i class="ki-duotone ki-chart-pie-4 fs-2tx text-success"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                <div class="mt-1">
                                    <div class="fs-lg-2hx fs-2x fw-bold text-gray-800 d-flex align-items-center">
                                        <div class="min-w-50px counted">3K+</div>
                                    </div>
                                    <span class="text-gray-600 fw-semibold fs-5 lh-0">Articles</span>
                                </div>
                            </div>
                        </div>
                        <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-10">
                            <div class="text-center">
                                <i class="ki-duotone ki-basket fs-2tx text-info"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                <div class="mt-1">
                                    <div class="fs-lg-2hx fs-2x fw-bold text-gray-800 d-flex align-items-center">
                                        <div class="min-w-50px counted">5K+</div>
                                    </div>
                                    <span class="text-gray-600 fw-semibold fs-5 lh-0">Solutions</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fs-2 fw-semibold text-muted text-center mb-3">
                    <span class="fs-1 lh-1 text-gray-700">“</span>
                    In the drive for a fairer world, we have an—often-overlooked—asset: what 8 billion people around the world know about solving problems.
                    <span class="fs-1 lh-1 text-gray-700">“</span>
                </div>
                <div class="fs-2 fw-semibold text-muted text-center">
                    <a href="#" class="link-primary fs-4 fw-bold">Gina Lucarelli</a>
                </div>
            </div>
        </div>
        <div class="mb-16">
            <div class="text-center mb-12">
                <h3 class="h3 fs-2hx text-dark mb-5">Articles</h3>
                <div class="fs-5 text-muted fw-semibold">
                    As we aim to establish ourselves as a dynamic learning network in the realm of sustainable development, we have undertaken a voyage where blogging and documentation serves as our medium to openly share our progress. This approach empowers the UNDP Accelerator Lab Network to not only document valuable insights on sustainable development but also disseminate actionable information, thereby nurturing the growth of our shared knowledge base.
                </div>
            </div>
            <div class="overlay">
                <img class=" w-50" style="margin-left: 20%;" src="/imgs/branding/search.png" alt="">
                <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                    <a href="/en/browse/blog/preview" class="btn btn-native">Explore</a>
                </div>
            </div>
        </div>
    </div>
</div>