.DS_Store
*.diff
node_modules/
*.sublime-workspace
*.sublime-project
values.sql
version.txt
pads.env
pads-distant.env
public/*uploads/
dep.*
*.env
tmp/
routes/scripts/
public/generated/
presentations/
dump/
*.uploads.zip
_00_inspiration.png
