<!DOCTYPE html>
<head>
<%- include ('partials/head.ejs') %>
</head>
<body>

<%- include ('partials/translations.ejs') %>
<%- include ('partials/menu-languages.ejs') %>

<div class='screen'>
	<div class='login-module' style="text-align: center!important;">
        <h1 style="padding-bottom: 10px;">Ooops!</h1>
        <p>We can't find that page.</p>
		<img src='/imgs/branding/404-error.png' width="400" height="400">
        <div class="btn-group">
			<hr/>
			<p class='btn-group' > <a href="/"> Return home </a></p>
		</div>
	</div>
</div>

<header>
	<div class='inner'>
		<%- include ('partials/menu-logo.ejs') %>
	</div>
</header>

</main>

</body>
</html>
