<!DOCTYPE html>
<head>
<%- include ('partials/head.ejs') %>
</head>
<body>

<%- include ('partials/translations.ejs') %>
<%- include ('partials/menu-languages.ejs') %>

<div class='screen blue pt-40'>
	<div class='login-module' style="text-align: center!important;">
        <h1 style="padding-bottom: 10px;">Ooops!</h1>
        <p>We can't find that page.</p>
		<img src='/imgs/branding/404-error.png' width="400" height="250">
        <div >
			<hr/>
			<button class='btn-1 btn-1-secondary' style="margin-top: 10px;" > <a href="/"> Return home </a></button>
		</div>
	</div>
</div>

<header>
	<div class='inner'>
		<%- include ('partials/menu-logo.ejs') %>
	</div>
</header>

</main>

</body>
</html>
