/*@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
/*$c-dark-blue: #0A4C73;*/
/*$c-dark-1: $c-dark-blue;
$c-mid-1: $c-dark-red;
$c-mid-2: $c-light-green;
$c-mid-2-light: rgba(87,100,140,.25);
$c-mid-3: #F4ED6E;
$c-light-1: $c-light-red;
$c-light-2: #E5E5E5;
$c-light-3: #F0F0F0;*/
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes anim-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-down {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  /*background-color: #F3F3F3;*/
}

body, text, textarea, input[type=text], button, *:empty:not(:focus):before {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  color: #005687;
}

ul {
  list-style: none;
}

a {
  /*color: $c-light-red;*/
  color: #32BEE1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
  display: none !important;
}

/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 60px white inset !important;
}

.screen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 30px);
  overflow: scroll;
  /*background-color: rgba(255,255,255,.75);*/
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75) 3px, rgba(229, 229, 229, 0.75) 3px, rgba(229, 229, 229, 0.75) 6px);
  animation: fade-in 0.25s;
  z-index: 99999;
}
.screen .modal .close {
  float: right;
  border: none;
  outline: none;
  background-color: #005687;
  color: #FFF;
  cursor: pointer;
}
.screen .modal .inner {
  border-top: 2px solid #005687;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.screen.bis {
  /*background-color: $c-mid-1;*/
}
.screen.bis .modal .close {
  /*background-color: $c-mid-2;*/
}
.screen.bis .modal .inner {
  /*border-top: 3px solid $c-mid-2;*/
}

.screen.ter {
  background-color: #F3F3F3;
  /*background: linear-gradient(135deg, $c-light-2 0%, $c-light-3 100%);*/
}
.screen.ter .modal .close {
  background-color: #333D51;
}
.screen.ter .modal .inner {
  border-top: 3px solid #333D51;
}

*:empty:not(:focus):before {
  content: attr(data-placeholder);
  font-weight: 400;
  /*color: $c-light-1;*/
  color: #969696;
  pointer-events: none;
}

input.toggle {
  display: none;
}

input.toggle + label {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #969696;
  margin: 15px auto 0px auto;
  background-color: #969696;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

input.toggle:checked + label {
  /*border-color: $c-dark-blue;*/
  background-color: transparent;
}

input.toggle:checked + label[for=status--1] {
  /*border-color: $c-mid-yellow;*/
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(150, 150, 150, 0.1) 3px, rgba(150, 150, 150, 0.1) 6px);
}

input.toggle:checked + label[for=status-0] {
  /*border-color: $c-mid-yellow;*/
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(255, 193, 14, 0.25) 3px, rgba(255, 193, 14, 0.25) 6px);
}

input.toggle:checked + label[for=status-1] {
  /*border-color: $c-light-blue;*/
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(50, 190, 225, 0.25) 3px, rgba(50, 190, 225, 0.25) 6px);
}

input.toggle + label::after {
  content: attr(data-content);
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  margin: -1px 0 0 -1px;
  background-color: #FFF;
  border: 1px solid #969696;
  border-radius: 20px;
  font-size: 8px;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  color: #969696;
  transition: transform 0.25s;
}

input.toggle:checked + label[for=status-0]::after {
  /*background-color: $c-mid-yellow;*/
  /*border-color: $c-mid-yellow;*/
}

input.toggle:checked + label[for=status-1]::after {
  /*background-color: $c-light-blue;*/
  /*border-color: $c-light-blue;*/
}

input.toggle:checked + label::after {
  transform: translate(20px, 0);
  background-color: #005687;
  border-color: #005687;
  color: #FFF;
}

input.toggle:disabled + label {
  background-color: #E5E5E5;
  border-color: #E5E5E5;
}

input.toggle:disabled + label::after {
  color: #E5E5E5;
  background-color: #FFF;
  border-color: #E5E5E5;
}

/* https://loading.io/css/ */
.lds-ellipsis {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  text-align: center;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  /*background: $c-mid-2;*/
  background: #969696;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
html, body {
  font-size: 16px;
  line-height: 1.5em;
}

.lg {
  display: none !important;
}

.modal {
  width: 300px;
  margin-bottom: 75px;
}
.modal .close {
  padding: 5px 10px;
  font-size: 12px;
}
.modal .inner {
  clear: both;
  padding: 15px 15px 5px 15px;
  background-color: #FFF;
}
.modal .inner .headline {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #C2B4D6;
  font-size: 16px;
  text-align: center;
}
.modal .inner .message {
  margin-bottom: 15px;
  font-size: 16px;
}
.modal .inner .message input[type=text],
.modal .inner .message input[type=number] {
  width: 65px;
  border: none;
  border-bottom: 1px solid #FFC10E;
  outline: none;
  text-align: center;
  font-weight: 700;
  color: #FFC10E;
}
.modal .inner .message small {
  font-size: 12px;
  color: #C2B4D6;
}
.modal .inner ul li {
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
}
.modal .inner ul li button {
  width: 100%;
  min-height: 45px;
  border: 1px solid #005687;
  outline: none;
  background-color: transparent;
  padding: 0 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.modal .inner ul li button .sub {
  font-size: 12px;
  color: #969696;
}
.modal .inner ul li button.padded {
  padding: 10px 30px;
}
.modal .inner ul li textarea {
  width: 100%;
  min-height: 300px;
  border: none;
  border-bottom: 1px solid #969696;
  outline: none;
  background-color: transparent;
  font-size: 24px;
  resize: none;
  box-sizing: border-box;
}
.modal .inner ul li label {
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 16px;
  color: #FFC10E;
  transform: translateY(calc(16px));
  transition: transform 0.25s, font-size 0.25s;
  cursor: pointer;
}
.modal .inner ul li textarea:focus + label,
.modal .inner ul li textarea.has-value + label {
  font-size: 12px;
  transform: translateY(0px);
}
.modal .inner ul li input[type=date] {
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #969696;
  outline: none;
  font-size: 16px;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  color: #005687;
}
.modal .inner ul li input[type=date]::before {
  content: none;
}
.modal .inner ul li:hover button {
  background-color: #005687;
  color: #FFF;
}
.modal .inner .foot {
  margin: 10px 0;
  text-align: center;
}
.modal .inner .foot button {
  border: none;
  outline: none;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  padding: 0 30px;
  font-size: 16px;
  background-color: #E5E5E5;
  color: #333D51;
  cursor: pointer;
  transition: background-color 0.25s;
}
.modal .inner .foot button:hover {
  background-color: #333D51;
  color: #FFF;
}

.add-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 20px;
  background-color: #969696;
  color: #FFF;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  vertical-align: text-top;
}

div.public-page-header {
  min-height: 100vh;
}
div.public-page-header div.carousel {
  position: relative;
}
div.public-page-header div.carousel div.slides {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  height: 75vh;
  width: 100%;
  margin-top: 30px;
  overflow: scroll;
}
div.public-page-header div.carousel div.slides div.slide {
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
  scroll-snap-align: center;
  background-color: #FFF32A;
}
div.public-page-header div.carousel div.slides div.slide .media-txt {
  position: absolute;
  left: calc((100vw - 960px) / 2);
  bottom: 60px;
  max-width: 480px;
  color: #FFF;
}
div.public-page-header div.carousel div.slides div.slide .media-txt h1 {
  font-size: 24px;
  line-height: 1.3em;
  text-align: left;
  margin: 0;
}
div.public-page-header div.carousel div.slides div.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.public-page-header div.carousel div.slides div.slide:nth-child(2n) {
  background-color: #32BEE1;
}
div.public-page-header div.carousel div.dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
div.public-page-header div.carousel div.dots .dot {
  height: 15px;
  width: 15px;
  margin: 0 2.5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.25s ease;
  cursor: pointer;
}
div.public-page-header div.carousel div.dots .highlight {
  background-color: #0468B1;
}
div.public-page-header h1 {
  margin: 60px 60px 45px 60px;
  text-align: center;
  font-size: 36px;
  line-height: 1.2em;
}
div.public-page-header h2 {
  margin: 15px 60px 60px 60px;
  text-align: center;
  line-height: 1.5em;
  color: #32BEE1;
  font-weight: normal;
}
div.public-page-header p.lead {
  width: 100vw;
  padding: 0 60px;
  font-size: 20px;
  line-height: 1.5em;
  box-sizing: border-box;
}

div.browse {
  display: block;
  width: calc(100vw - 30px);
  padding: 120px 15px 0 15px;
  background-color: #FFF;
  min-height: calc(100% - 120px);
}
div.browse nav#search-and-filter {
  display: none;
}
div.browse nav:not(.tabs) {
  width: 100%;
  margin: 0 0 30px 0;
}
div.browse nav:not(.tabs) menu li,
div.browse nav:not(.tabs) ul li {
  display: inline-block;
  margin: 0 15px 0 0;
}
div.browse nav:not(.tabs) menu li a button,
div.browse nav:not(.tabs) ul li a button {
  height: 45px;
  padding: 0 10px 0 30px;
  border: none;
  outline: none;
  border-radius: 45px;
  border: 1px solid #0468B1;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.5em;
  color: #0468B1;
  cursor: pointer;
}
div.browse nav:not(.tabs) menu li a button .count,
div.browse nav:not(.tabs) ul li a button .count {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #0468B1;
  border-radius: 30px;
  margin: -1px 0 0 10px;
  line-height: 30px;
  font-size: 10px;
  line-height: 1.5em;
  font-weight: bold;
  color: #FFF;
}
div.browse nav:not(.tabs) menu li.active a button,
div.browse nav:not(.tabs) ul li.active a button {
  background-color: #0468B1;
  color: #FFF;
}
div.browse nav:not(.tabs) menu li.active a button .count,
div.browse nav:not(.tabs) ul li.active a button .count {
  background-color: #FFF;
  color: #0468B1;
}
div.browse nav:not(.tabs) p {
  margin: 15px 0 0 0;
  font-size: 12px;
  line-height: 1.5em;
  color: #969696;
}
div.browse main {
  padding-bottom: 15px;
}
div.browse main .inner small.no-results {
  display: block;
  width: 100%;
  font-size: 12px;
  color: #969696;
  text-align: center;
}
div.browse main .inner .meta-status {
  top: 30px;
  width: 100%;
  min-height: 60px;
  margin: -15px 0 30px -15px;
  padding: 15px;
  z-index: 100;
}
div.browse main .inner .meta-status form {
  display: flex;
}
div.browse main .inner .meta-status form .opts {
  flex-grow: 1;
  list-style: none;
}
div.browse main .inner .meta-status form .opts li {
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px dotted #969696;
}
div.browse main .inner .meta-status form .opts li p {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5em;
  color: #969696;
}
div.browse main .inner .meta-status form .opts li p.disabled {
  color: #E5E5E5;
}
div.browse main .inner .meta-status form .opts li input.toggle + label {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}
div.browse main .inner .meta-status form .opts li ul li {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
}
div.browse main .inner .meta-status form .btn-group {
  height: 30px;
  padding: 15px 0;
  margin: 0 0 0 auto;
  text-align: right;
}
div.browse main .inner .meta-status form .btn-group button {
  height: 30px;
  padding: 0 10px;
  border: 1px solid #005687;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.5em;
  cursor: pointer;
}
div.browse main .inner .meta-status form .btn-group button.publish {
  background-color: #32BEE1;
  border-color: #32BEE1;
  color: #FFF;
}
div.browse main .inner .meta-status form .btn-group button:disabled {
  background-color: transparent;
  border: 1px solid #E5E5E5;
  color: #E5E5E5;
  pointer-events: none;
  cursor: default;
}
div.browse main .inner .meta-status.status-0 {
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(255, 193, 14, 0.1) 3px, rgba(255, 193, 14, 0.1) 6px);
}
div.browse main .inner .meta-status.status-1 {
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(50, 190, 225, 0.1) 3px, rgba(50, 190, 225, 0.1) 6px);
}
div.browse main .inner .meta-status.status-2 {
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(150, 150, 150, 0.1) 3px, rgba(150, 150, 150, 0.1) 6px);
}
div.browse main .inner .head {
  position: relative;
  width: 100%;
  margin: 0 0 15px 0;
}
div.browse main .inner .head .return {
  display: block;
  margin-bottom: 15px;
}
div.browse main .inner .head .title {
  width: 100%;
  outline: none;
  margin-bottom: 15px;
  border-bottom: 1px solid transparent;
  font-size: 36px;
  line-height: 1.3em;
  font-weight: 700;
}
div.browse main .inner .head .title:focus {
  border-bottom-color: #FFF32A;
}
div.browse main .inner .head .contributor {
  font-size: 12px;
  line-height: 1.5em;
  color: #0468B1;
}
div.browse main .inner .head .description {
  margin-bottom: 25px;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 1.5em;
  border-top: none;
  outline: none;
  color: #005687;
  border-bottom: 1px solid transparent;
  white-space: pre-line;
}
div.browse main .inner .head .description:focus {
  border-bottom-color: #FFF32A;
}
div.browse main .inner section {
  /* LIKELY THE .layout:not(.columns) SHOULD BE REMOVABLE */
}
div.browse main .inner section .layout {
  margin-top: 15px;
}
div.browse main .inner section .layout article {
  position: relative;
  display: flex;
  padding: 25px 0 0 0;
  /*&::after {
  	content: '';
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	left: 0;
  	top: 0;
  	background-color: rgba(100,100,100,.1);
  	opacity: 0;
  	pointer-events: none;
  	transition: opacity .15s;
  }*/
}
div.browse main .inner section .layout article .inner {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  transition: width 0.25s;
}
div.browse main .inner section .layout article .inner .head {
  flex: 0 0 100%;
  margin-bottom: 0;
}
div.browse main .inner section .layout article .inner .head .meta-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
div.browse main .inner section .layout article .inner .head .meta-group .meta-data {
  margin-bottom: 0;
}
div.browse main .inner section .layout article .inner .head .meta-group .meta-data .meta-contributor {
  font-size: 14px;
  line-height: 1.5em;
  color: #0468B1;
}
div.browse main .inner section .layout article .inner .head .meta-group .meta-data .meta-date {
  font-size: 12px;
  line-height: 1.5em;
  color: #0468B1;
}
div.browse main .inner section .layout article .inner .head .meta-group .btn-group {
  margin-bottom: 5px;
}
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form {
  position: relative;
  display: inline-block;
  margin: 0 2px;
}
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form button {
  height: 30px;
  padding: 0 10px;
  border: 1px solid #969696;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5em;
  color: #969696;
  cursor: pointer;
}
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form button.publish,
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form button.share,
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form button.active {
  background-color: #32BEE1;
  border-color: #32BEE1;
  color: #FFF;
}
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form button.delete.active,
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form button.unpublish.active {
  border-color: #A51E41;
  background-color: #A51E41;
}
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form button:disabled {
  background-color: transparent;
  border: 1px solid #E5E5E5;
  color: #E5E5E5;
  pointer-events: none;
  cursor: default;
}
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form .dropdown {
  position: absolute;
  /*width: 100%;*/
  min-width: 200px;
  max-height: 0;
  left: 0;
  top: calc(100% - 1px);
  background-color: #FFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 100;
  transition: max-height 0.15s ease-out;
}
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form .dropdown menu {
  width: 100%;
  border-top: 1px solid #969696;
}
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form .dropdown menu li {
  width: 100%;
  margin: 0;
  list-style: none;
}
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form .dropdown menu li button {
  border: none;
  /*color: $c-dark-grey;*/
}
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form .dropdown menu li:hover {
  background-color: #F3F3F3;
}
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form:first-child {
  margin-left: 0;
}
div.browse main .inner section .layout article .inner .head .meta-group .btn-group form:last-child {
  margin-right: 0;
}
div.browse main .inner section .layout article .inner .body {
  flex: 0 0 calc(100% - 330px);
  padding-right: 30px;
  /*padding-bottom: 10px;*/
}
div.browse main .inner section .layout article .inner .body .meta, div.browse main .inner section .layout article .inner .body .media {
  margin: 5px 0;
}
div.browse main .inner section .layout article .inner .body .media-title {
  margin-top: 15px;
  margin-bottom: 0;
}
div.browse main .inner section .layout article .inner .body .media-title a {
  color: #005687;
}
div.browse main .inner section .layout article .inner .body .media-title a h1 {
  font-size: 20px;
  line-height: 1.3em;
  font-weight: bold;
  cursor: pointer;
}
div.browse main .inner section .layout article .inner .body .media-title a h1 img {
  vertical-align: sub;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
div.browse main .inner section .layout article .inner .body .media-txt {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5em;
  white-space: pre-line;
}
div.browse main .inner section .layout article .inner .body .media-txt a {
  color: #000000;
}
div.browse main .inner section .layout article .inner .body .media-txt a .read-more {
  color: #32BEE1;
}
div.browse main .inner section .layout article .inner .body .media-txt a:hover {
  text-decoration: none;
}
div.browse main .inner section .layout article .inner .body .media-txt a:hover .read-more {
  text-decoration: underline;
}
div.browse main .inner section .layout article .inner .body .meta-mobilization,
div.browse main .inner section .layout article .inner .body .meta-template {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5em;
  margin-bottom: 10px;
}
div.browse main .inner section .layout article .inner .body .meta-mobilization,
div.browse main .inner section .layout article .inner .body .meta-template,
div.browse main .inner section .layout article .inner .body .meta-followup,
div.browse main .inner section .layout article .inner .body .meta-forward,
div.browse main .inner section .layout article .inner .body .meta-public,
div.browse main .inner section .layout article .inner .body .meta-copy,
div.browse main .inner section .layout article .inner .body .meta-child {
  color: #969696;
  margin-top: 0;
  /*margin-bottom: 10px;*/
}
div.browse main .inner section .layout article .inner .body .meta-mobilization {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #969696;
}
div.browse main .inner section .layout article .inner .body .meta-followup,
div.browse main .inner section .layout article .inner .body .meta-forward,
div.browse main .inner section .layout article .inner .body .meta-public,
div.browse main .inner section .layout article .inner .body .meta-copy,
div.browse main .inner section .layout article .inner .body .meta-child {
  width: 100%;
  margin: 0 0 10px 0;
}
div.browse main .inner section .layout article .inner .body .create {
  position: relative;
  display: inline-block;
  margin: 5px 10px 10px 0;
}
div.browse main .inner section .layout article .inner .body .create button {
  height: 45px;
  padding: 0 15px;
  border: 1px solid #32BEE1;
  outline: none;
  background-color: #32BEE1;
  font-size: 16px;
  line-height: 1.5em;
  color: #FFF;
  cursor: pointer;
}
div.browse main .inner section .layout article .inner .body .create .dropdown {
  position: absolute;
  min-width: 100%;
  max-width: 300px;
  max-height: 0;
  left: 0;
  top: 100%;
  background-color: #FFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  z-index: 10;
  transition: max-height 0.25s ease-out;
}
div.browse main .inner section .layout article .inner .body .create .dropdown menu {
  width: 100%;
  border-top: 1px solid #969696;
}
div.browse main .inner section .layout article .inner .body .create .dropdown menu li {
  display: inline-block;
  width: 100%;
  margin: 0;
  list-style: none;
  white-space: pre;
}
div.browse main .inner section .layout article .inner .body .create .dropdown menu li a button {
  min-height: 45px;
  padding: 5px 15px;
  font-size: 12px;
  background-color: transparent;
  border: none;
  color: #000000;
  text-align: left;
}
div.browse main .inner section .layout article .inner .body .create .dropdown menu li:hover {
  background-color: #F3F3F3;
}
div.browse main .inner section .layout article .inner .body.full-width {
  flex: 0 0 100%;
}
div.browse main .inner section .layout article .inner .body.full-width .media-title {
  width: calc(100% - 330px);
}
div.browse main .inner section .layout article .inner .foot {
  align-self: top;
}
div.browse main .inner section .layout article .inner .foot .media-img {
  position: relative;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: flex-end;
}
div.browse main .inner section .layout article .inner .foot .media-img .bookmark {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 90px;
  top: -10px;
  right: 10px;
  background-color: #0468B1;
  font-size: 12px;
  line-height: 1.5em;
  text-align: center;
  color: #FFF;
  z-index: 100;
  transform: translateY(-10px);
  transform-origin: top center;
  transition: transform 0.15s ease-out, background-color 0.25s;
  cursor: pointer;
}
div.browse main .inner section .layout article .inner .foot .media-img .bookmark .label {
  transform: rotate(-90deg);
}
div.browse main .inner section .layout article .inner .foot .media-img .bookmark::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(90px);
  width: 0;
  height: 0;
  border-top: 7px solid #0468B1;
  border-left: 15px solid transparent;
  transform-origin: top center;
  transition: transform 0.15s ease-out, border-top-color 0.25s;
}
div.browse main .inner section .layout article .inner .foot .media-img .bookmark::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(90px);
  width: 0;
  height: 0;
  border-top: 7px solid #0468B1;
  border-right: 15px solid transparent;
  transform-origin: top center;
  transition: transform 0.15s ease-out, border-top-color 0.25s;
}
div.browse main .inner section .layout article .inner .foot .media-img .bookmark:hover,
div.browse main .inner section .layout article .inner .foot .media-img .bookmark.active {
  display: flex;
  transform: translateY(0);
  background-color: #005687;
}
div.browse main .inner section .layout article .inner .foot .media-img .bookmark:hover::before,
div.browse main .inner section .layout article .inner .foot .media-img .bookmark:hover::after,
div.browse main .inner section .layout article .inner .foot .media-img .bookmark.active::before,
div.browse main .inner section .layout article .inner .foot .media-img .bookmark.active::after {
  border-top-color: #005687;
}
div.browse main .inner section .layout article .inner .foot .media-img .bookmark.active {
  transform: translateY(0) scaleY(0.5);
}
div.browse main .inner section .layout article .inner .foot .media-img .bookmark.active .label {
  display: none;
}
div.browse main .inner section .layout article .inner .foot .media-img .bookmark.active::before,
div.browse main .inner section .layout article .inner .foot .media-img .bookmark.active::after {
  transform: translateY(90px) scaleY(2);
}
div.browse main .inner section .layout article .inner .foot .media-img a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #005687;
}
div.browse main .inner section .layout article .inner .foot .media-img a img {
  display: block;
  width: 100%;
  background-color: #E5E5E5;
  height: 100%;
  font-size: 12px;
  line-height: 1.5em;
  line-height: 200px;
  text-align: center;
}
div.browse main .inner section .layout article .inner .foot .meta-group {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
div.browse main .inner section .layout article .inner .foot .meta-group .meta-stats {
  margin: auto 15px;
}
div.browse main .inner section .layout article .inner .foot .meta-group .meta-stats a h1 {
  text-align: center;
  cursor: pointer;
}
div.browse main .inner section .layout article .inner .foot .meta-group .meta-stats a h1 small {
  font-size: 12px;
  line-height: 1.5em;
  display: block;
  cursor: pointer;
}
div.browse main .inner section .layout article .inner .foot .meta-group .meta-stats a h1 small.total {
  display: inline-block;
  font-weight: normal;
}
div.browse main .inner section .layout article .inner .foot .meta-group .meta-stats a:hover {
  text-decoration: none;
}
div.browse main .inner section .layout article .inner .foot .meta-group .meta-stats a:hover h1 small {
  text-decoration: underline;
}
div.browse main .inner section .layout article .inner .foot .meta-group .meta-stats a.disabled {
  color: #005687;
}
div.browse main .inner section .layout article .inner .foot .meta-group .meta-stats a.disabled h1 small {
  text-decoration: none !important;
}
div.browse main .inner section .layout article .inner .pinboard-group {
  width: 100%;
  margin-top: 10px;
}
div.browse main .inner section .layout article .inner .pinboard-group .add {
  position: relative;
  width: 100%;
}
div.browse main .inner section .layout article .inner .pinboard-group .add input[type=text] {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-top: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px dotted #969696;
  font-size: 12px;
  color: #005687;
}
div.browse main .inner section .layout article .inner .pinboard-group .add label {
  position: absolute;
  left: 0;
  font-size: 12px;
  line-height: 1.5em;
  color: #969696;
  transform: translateY(15px);
  transition: transform 0.25s, font-size 0.25s;
  pointer-events: none;
  /*&::after {
  	content: '';
  	position: absolute;
  	top: 4px;
  	left: calc(100% + 5px);
  	width: 15px;
  	height: 15px;
  	margin: auto;
  	background: url('../imgs/icons/i-search-sm.svg');
  }*/
}
div.browse main .inner section .layout article .inner .pinboard-group .add input[type=text]:focus + label,
div.browse main .inner section .layout article .inner .pinboard-group .add input[type=text].has-value + label {
  font-size: 10px;
  line-height: 1.5em;
  transform: translateY(2.5px);
}
div.browse main .inner section .layout article .inner .pinboard-group .add .dropdown {
  position: absolute;
  width: 100%;
  max-height: 0;
  left: 0;
  top: 100%;
  background-color: #FFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  z-index: 10;
  transition: max-height 0.25s ease-out;
}
div.browse main .inner section .layout article .inner .pinboard-group .add .dropdown menu {
  width: 100%;
}
div.browse main .inner section .layout article .inner .pinboard-group .add .dropdown menu li {
  display: inline-block;
  width: 100%;
  margin: 0;
  list-style: none;
}
div.browse main .inner section .layout article .inner .pinboard-group .add .dropdown menu li input[type=checkbox] {
  display: none;
}
div.browse main .inner section .layout article .inner .pinboard-group .add .dropdown menu li label {
  display: block;
  position: static;
  padding: 5px 20px 5px 15px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5em;
  color: #000000;
  transform: none;
  pointer-events: all;
  cursor: pointer;
}
div.browse main .inner section .layout article .inner .pinboard-group .add .dropdown menu li label .count {
  float: right;
  color: #969696;
}
div.browse main .inner section .layout article .inner .pinboard-group .add .dropdown menu li input:checked + label {
  background-color: #E5E5E5;
}
div.browse main .inner section .layout article .inner .pinboard-group .add .dropdown menu li:hover {
  background-color: #F3F3F3;
}
div.browse main .inner section .layout article .inner .pinboard-group .pin {
  display: inline-block;
  height: 15px;
  padding: 0 0 0 5px;
  margin-right: 5px;
  font-size: 10px;
  line-height: 1.5em;
  border: 1px solid #969696;
  color: #969696;
}
div.browse main .inner section .layout article .inner .pinboard-group .pin label {
  cursor: pointer;
  vertical-align: top;
}
div.browse main .inner section .layout article .inner .pinboard-group .pin .type {
  flex-shrink: 0;
  /*font-size: $t-xsmall;*/
}
div.browse main .inner section .layout article .inner .pinboard-group .pin .name {
  flex-grow: 1;
  margin: 0 10px 0 5px;
  white-space: nowrap;
  font-weight: bold;
}
div.browse main .inner section .layout article .inner .pinboard-group .pin .close {
  display: inline-block;
  width: 15px;
  /*padding: 0 5px;*/
  background-color: #969696;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: #FFF;
  /*vertical-align: top;*/
}
div.browse main .inner section .layout article .outer {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #FFF;
  /*&::after {
  	content: '';
  	position: absolute;
  	z-index: 0;
  	width: 100%;
  	height: 15px;
  	top: 100%;
  	background-color: #FFF;
  }*/
}
div.browse main .inner section .layout article .outer .inner {
  display: flex;
  position: relative;
  z-index: 1;
  width: 0;
  height: calc(100% - 1px);
  padding: 25px 0 0 0;
  margin-top: -25px;
  border-bottom: 1px dotted #969696;
  transition: width 0.25s;
  overflow: hidden;
  background: repeating-linear-gradient(45deg, #FFF, #FFF 3px, rgba(165, 30, 65, 0.1) 3px, rgba(165, 30, 65, 0.1) 6px);
}
div.browse main .inner section .layout article .outer .inner form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
div.browse main .inner section .layout article .outer .inner form button {
  width: calc(100% - 30px);
  height: 45px;
  margin: 5px 15px;
  border: none;
  outline: none;
  border: 1px solid #A51E41;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.5em;
  color: #A51E41;
  cursor: pointer;
  overflow: hidden;
}
div.browse main .inner section .layout article .outer .inner form button.cancel {
  border-color: #646464;
  color: #646464;
}
div.browse main .inner section .layout article .outer::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 25px;
  top: -25px;
  background-color: #FFF;
}
div.browse main .inner section .layout article .outer.expand .inner {
  width: 120px;
}
div.browse main .inner section .layout article:not(.pad) {
  border-bottom: 1px dotted #969696;
  padding-top: 15px;
}
div.browse main .inner section .layout article.status--1 {
  filter: grayscale(1);
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(150, 150, 150, 0.1) 3px, rgba(150, 150, 150, 0.1) 6px);
}
div.browse main .inner section .layout article.status-0 {
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(255, 193, 14, 0.1) 3px, rgba(255, 193, 14, 0.1) 6px);
}
div.browse main .inner section .layout article.status-1 {
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(50, 190, 225, 0.1) 3px, rgba(50, 190, 225, 0.1) 6px);
}
div.browse main .inner section .layout article.mobilization.status-0 {
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(150, 150, 150, 0.1) 3px, rgba(150, 150, 150, 0.1) 6px);
}
div.browse main .inner section .layout .tag-group .meta-tags {
  margin-left: -2px;
}
div.browse main .inner section .layout .tag-group .meta-tags a {
  display: inline-block;
  color: #0468B1;
  /*.tag {
  	border: 1px solid $c-mid-blue;
  	padding: 0 10px;
  	margin-right: 5px;
  	font-size: $t-small;
  	line-height: 1.5em;

  	label {
  		cursor: pointer;
  	}
  }*/
}
div.browse main .inner section .layout .tag-group .meta-tags a .tag {
  border: none;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  background-color: #E5E5E5;
  border-radius: calc(14px * 1.75);
  font-size: 14px;
  line-height: 1.75em;
  color: #646464;
}
div.browse main .inner section .layout .tag-group .meta-tags a .tag label {
  cursor: pointer;
}
div.browse main .inner section .layout .tag-group .meta-tags a:hover {
  text-decoration: none;
}
div.browse main .inner section .layout .tag-group .meta-sdgs {
  font-size: 12px;
  line-height: 1.5em;
}
div.browse main .inner section .layout .tag-group .meta-sdgs span {
  margin-right: 5px;
  color: #969696;
}
div.browse main .inner section .layout .tag-group .meta-sdgs a {
  display: inline-block;
  margin: 0 5px;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: bold;
}
div.browse main .inner section .layout .engagement-group {
  margin-top: 10px;
}
div.browse main .inner section .layout .engagement-group .engagement {
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
}
div.browse main .inner section .layout .engagement-group .engagement img {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
div.browse main .inner section .layout .engagement-group .engagement span {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  font-size: 12px;
  color: #969696;
}
div.browse main .inner section .layout .engagement-group .engagement:disabled img {
  cursor: initial;
  opacity: 0.5;
}
div.browse main .inner section .layout.columns article {
  flex-direction: column;
  width: 100%;
  height: 100%;
  vertical-align: top;
  grid-column: span 1;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 30px;
}
div.browse main .inner section .layout.columns article .inner {
  display: block;
}
div.browse main .inner section .layout.columns article .inner .head {
  display: block;
}
div.browse main .inner section .layout.columns article .inner .head .btn-group {
  margin-bottom: 5px;
  text-align: left;
}
div.browse main .inner section .layout.columns article .inner .head .btn-group form {
  position: relative;
  display: inline-block;
  margin: 0 2px;
}
div.browse main .inner section .layout.columns article .inner .head .btn-group form button {
  min-height: 45px;
  padding: 0 15px;
  border: 1px solid #969696;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.5em;
  color: #969696;
  cursor: pointer;
}
div.browse main .inner section .layout.columns article .inner .head .btn-group form button.publish,
div.browse main .inner section .layout.columns article .inner .head .btn-group form button.share,
div.browse main .inner section .layout.columns article .inner .head .btn-group form button.active {
  background-color: #32BEE1;
  border-color: #32BEE1;
  color: #FFF;
}
div.browse main .inner section .layout.columns article .inner .head .btn-group form button.delete.active,
div.browse main .inner section .layout.columns article .inner .head .btn-group form button.unpublish.active {
  border-color: #A51E41;
  background-color: #A51E41;
}
div.browse main .inner section .layout.columns article .inner .head .btn-group form button:disabled {
  background-color: transparent;
  border: 1px solid #E5E5E5;
  color: #E5E5E5;
  pointer-events: none;
  cursor: default;
}
div.browse main .inner section .layout.columns article .inner .head .btn-group form .dropdown {
  position: absolute;
  max-height: 0;
  left: 50%;
  top: calc(100% - 1px);
  background-color: #FFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 100;
  transition: max-height 0.15s ease-out;
}
div.browse main .inner section .layout.columns article .inner .head .btn-group form .dropdown menu {
  width: 100%;
  border-top: 1px solid #969696;
}
div.browse main .inner section .layout.columns article .inner .head .btn-group form .dropdown menu li {
  width: 100%;
  margin: 0;
  list-style: none;
}
div.browse main .inner section .layout.columns article .inner .head .btn-group form .dropdown menu li button {
  padding: 5px 15px;
  border: none;
}
div.browse main .inner section .layout.columns article .inner .head .btn-group form .dropdown menu li:hover {
  background-color: #F3F3F3;
}
div.browse main .inner section .layout.columns article .inner .head .btn-group form .dropdown menu li:not(:last-child) {
  border-bottom: 1px dotted #969696;
}
div.browse main .inner section .layout.columns article .inner .head .btn-group form:first-child {
  margin-left: 0;
}
div.browse main .inner section .layout.columns article .inner .head .btn-group form:last-child {
  margin-right: 0;
}
div.browse main .inner section .layout.columns article .inner .head .media-img {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 300px;
  min-height: 200px;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-end;
}
div.browse main .inner section .layout.columns article .inner .head .media-img .bookmark {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 90px;
  top: -10px;
  right: 10px;
  background-color: #0468B1;
  font-size: 12px;
  line-height: 1.5em;
  text-align: center;
  color: #FFF;
  z-index: 100;
  transform: translateY(-10px);
  transform-origin: top center;
  transition: transform 0.15s ease-out, background-color 0.25s;
  cursor: pointer;
}
div.browse main .inner section .layout.columns article .inner .head .media-img .bookmark .label {
  transform: rotate(-90deg);
}
div.browse main .inner section .layout.columns article .inner .head .media-img .bookmark::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(90px);
  width: 0;
  height: 0;
  border-top: 7px solid #0468B1;
  border-left: 15px solid transparent;
  transform-origin: top center;
  transition: transform 0.15s ease-out, border-top-color 0.25s;
}
div.browse main .inner section .layout.columns article .inner .head .media-img .bookmark::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(90px);
  width: 0;
  height: 0;
  border-top: 7px solid #0468B1;
  border-right: 15px solid transparent;
  transform-origin: top center;
  transition: transform 0.15s ease-out, border-top-color 0.25s;
}
div.browse main .inner section .layout.columns article .inner .head .media-img .bookmark:hover,
div.browse main .inner section .layout.columns article .inner .head .media-img .bookmark.active {
  display: flex;
  transform: translateY(0);
  background-color: #005687;
}
div.browse main .inner section .layout.columns article .inner .head .media-img .bookmark:hover::before,
div.browse main .inner section .layout.columns article .inner .head .media-img .bookmark:hover::after,
div.browse main .inner section .layout.columns article .inner .head .media-img .bookmark.active::before,
div.browse main .inner section .layout.columns article .inner .head .media-img .bookmark.active::after {
  border-top-color: #005687;
}
div.browse main .inner section .layout.columns article .inner .head .media-img .bookmark.active {
  transform: translateY(0) scaleY(0.5);
}
div.browse main .inner section .layout.columns article .inner .head .media-img .bookmark.active .label {
  display: none;
}
div.browse main .inner section .layout.columns article .inner .head .media-img .bookmark.active::before,
div.browse main .inner section .layout.columns article .inner .head .media-img .bookmark.active::after {
  transform: translateY(90px) scaleY(2);
}
div.browse main .inner section .layout.columns article .inner .head .media-img a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #005687;
}
div.browse main .inner section .layout.columns article .inner .head .media-img a img {
  display: block;
  width: 100%;
  background-color: #E5E5E5;
  height: 100%;
  font-size: 12px;
  line-height: 1.5em;
  line-height: 200px;
  text-align: center;
}
div.browse main .inner section .layout.columns article .inner .body {
  display: block;
  width: 100%;
  padding: 0;
}
div.browse main .inner section .layout.columns article .inner .body .meta-data {
  margin-bottom: 10px;
}
div.browse main .inner section .layout.columns article .inner .body .meta-data .meta-contributor {
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
  color: #0468B1;
}
div.browse main .inner section .layout.columns article .inner .body .meta-data .meta-date {
  margin: 0;
  font-size: 12px;
  line-height: 1.5em;
  color: #0468B1;
}
div.browse main .inner section .layout.columns article .inner .body .media-title {
  margin: 10px 0 5px 0;
}
div.browse main .inner section .layout.columns article .inner .body .meta-mobilization,
div.browse main .inner section .layout.columns article .inner .body .meta-template {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
}
div.browse main .inner section .layout.columns article .inner .foot .meta, div.browse main .inner section .layout.columns article .inner .foot .media {
  margin: 5px 0;
}
div.browse main .inner section .layout.columns article .inner .foot .meta-group {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 15px 0;
}
div.browse main .inner section .layout.columns article .inner .foot .meta-group .meta-stats {
  margin: auto 15px;
}
div.browse main .inner section .layout.columns article .inner .foot .meta-group .meta-stats a h1 {
  text-align: center;
  cursor: pointer;
}
div.browse main .inner section .layout.columns article .inner .foot .meta-group .meta-stats a h1 small {
  font-size: 12px;
  line-height: 1.5em;
  font-weight: normal;
  display: block;
  cursor: pointer;
}
div.browse main .inner section .layout.columns article .inner .foot .meta-group .meta-stats a h1 small.total {
  display: inline-block;
  font-weight: normal;
}
div.browse main .inner section .layout.columns article .inner .foot .meta-group .meta-stats a:hover {
  text-decoration: none;
}
div.browse main .inner section .layout.columns article .inner .foot .meta-group .meta-stats a:hover h1 small {
  text-decoration: underline;
}
div.browse main .inner section .layout.columns article .inner .foot .meta-group .meta-stats a.disabled {
  color: #005687;
}
div.browse main .inner section .layout.columns article .inner .foot .meta-group .meta-stats a.disabled h1 small {
  text-decoration: none !important;
}
div.browse main .inner section .layout.columns article .outer {
  height: 0;
  transition: height 0.25s;
  overflow: hidden;
}
div.browse main .inner section .layout.columns article .outer .inner {
  width: 100%;
  height: auto;
  margin-top: 0;
  padding: 15px 0;
}
div.browse main .inner section .layout.columns article .outer::before {
  height: 0;
  top: 0;
}
div.browse main .inner section .layout.columns article .outer::after {
  height: 0;
}
div.browse main .inner section .layout.columns article .outer.expand {
  height: 140px;
}
div.browse main .inner section .layout.columns article:not(.pad) {
  border-bottom: 1px dotted #969696;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

div.browse.public {
  padding: 60px 15px 0 15px;
}

nav.pagination {
  width: 100%;
  text-align: center;
  padding-bottom: 60px;
}
nav.pagination .inner {
  display: initial;
  position: static;
}
nav.pagination .inner ul {
  padding: 0 15px;
  text-align: center;
}
nav.pagination .inner ul li {
  display: inline-block;
  margin: 0 5px;
}
nav.pagination .inner ul li a.page-link.active {
  font-weight: 700;
  text-decoration: underline;
}
nav.pagination .inner ul li.disabled {
  color: #969696;
}
nav.pagination img {
  width: 180px;
  height: auto;
}

/*# sourceMappingURL=browse.xs.css.map */
