/*@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
/*$c-dark-blue: #0A4C73;*/
/*$c-dark-1: $c-dark-blue;
$c-mid-1: $c-dark-red;
$c-mid-2: $c-light-green;
$c-mid-2-light: rgba(87,100,140,.25);
$c-mid-3: #F4ED6E;
$c-light-1: $c-light-red;
$c-light-2: #E5E5E5;
$c-light-3: #F0F0F0;*/
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes anim-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-down {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  /*background-color: #F3F3F3;*/
}

body, text, textarea, input[type=text], button, *:empty:not(:focus):before {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  color: #005687;
}

ul {
  list-style: none;
}

a {
  /*color: $c-light-red;*/
  color: #32BEE1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
  display: none !important;
}

/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 60px white inset !important;
}

.screen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 30px);
  overflow: scroll;
  /*background-color: rgba(255,255,255,.75);*/
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75) 3px, rgba(229, 229, 229, 0.75) 3px, rgba(229, 229, 229, 0.75) 6px);
  animation: fade-in 0.25s;
  z-index: 99999;
}
.screen .modal .close {
  float: right;
  border: none;
  outline: none;
  background-color: #005687;
  color: #FFF;
  cursor: pointer;
}
.screen .modal .inner {
  border-top: 2px solid #005687;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.screen.bis {
  /*background-color: $c-mid-1;*/
}
.screen.bis .modal .close {
  /*background-color: $c-mid-2;*/
}
.screen.bis .modal .inner {
  /*border-top: 3px solid $c-mid-2;*/
}

.screen.ter {
  background-color: #F3F3F3;
  /*background: linear-gradient(135deg, $c-light-2 0%, $c-light-3 100%);*/
}
.screen.ter .modal .close {
  background-color: #333D51;
}
.screen.ter .modal .inner {
  border-top: 3px solid #333D51;
}

*:empty:not(:focus):before {
  content: attr(data-placeholder);
  font-weight: 400;
  /*color: $c-light-1;*/
  color: #969696;
  pointer-events: none;
}

input.toggle {
  display: none;
}

input.toggle + label {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #969696;
  margin: 15px auto 0px auto;
  background-color: #969696;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

input.toggle:checked + label {
  /*border-color: $c-dark-blue;*/
  background-color: transparent;
}

input.toggle:checked + label[for=status--1] {
  /*border-color: $c-mid-yellow;*/
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(150, 150, 150, 0.1) 3px, rgba(150, 150, 150, 0.1) 6px);
}

input.toggle:checked + label[for=status-0] {
  /*border-color: $c-mid-yellow;*/
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(255, 193, 14, 0.25) 3px, rgba(255, 193, 14, 0.25) 6px);
}

input.toggle:checked + label[for=status-1] {
  /*border-color: $c-light-blue;*/
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(50, 190, 225, 0.25) 3px, rgba(50, 190, 225, 0.25) 6px);
}

input.toggle + label::after {
  content: attr(data-content);
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  margin: -1px 0 0 -1px;
  background-color: #FFF;
  border: 1px solid #969696;
  border-radius: 20px;
  font-size: 8px;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  color: #969696;
  transition: transform 0.25s;
}

input.toggle:checked + label[for=status-0]::after {
  /*background-color: $c-mid-yellow;*/
  /*border-color: $c-mid-yellow;*/
}

input.toggle:checked + label[for=status-1]::after {
  /*background-color: $c-light-blue;*/
  /*border-color: $c-light-blue;*/
}

input.toggle:checked + label::after {
  transform: translate(20px, 0);
  background-color: #005687;
  border-color: #005687;
  color: #FFF;
}

input.toggle:disabled + label {
  background-color: #E5E5E5;
  border-color: #E5E5E5;
}

input.toggle:disabled + label::after {
  color: #E5E5E5;
  background-color: #FFF;
  border-color: #E5E5E5;
}

/* https://loading.io/css/ */
.lds-ellipsis {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  text-align: center;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  /*background: $c-mid-2;*/
  background: #969696;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.toppage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  margin: 20px;
}

.toppage > menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toppage a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 5px;
  margin: 10px;
  background-color: #F3F3F3;
  border-radius: 5px;
  width: 120px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.toppage a:hover {
  color: #E5E5E5;
  background-color: #0468B1;
}

html, body {
  font-size: 16px;
  line-height: 1.5em;
}

.lg {
  display: none !important;
}

.modal {
  width: 300px;
  margin-bottom: 75px;
}
.modal .close {
  padding: 5px 10px;
  font-size: 12px;
}
.modal .inner {
  clear: both;
  padding: 15px 15px 5px 15px;
  background-color: #FFF;
}
.modal .inner .headline {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #C2B4D6;
  font-size: 16px;
  text-align: center;
}
.modal .inner .message {
  margin-bottom: 15px;
  font-size: 16px;
}
.modal .inner .message input[type=text],
.modal .inner .message input[type=number] {
  width: 65px;
  border: none;
  border-bottom: 1px solid #FFC10E;
  outline: none;
  text-align: center;
  font-weight: 700;
  color: #FFC10E;
}
.modal .inner .message small {
  font-size: 12px;
  color: #C2B4D6;
}
.modal .inner ul li {
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
}
.modal .inner ul li button {
  width: 100%;
  min-height: 45px;
  border: 1px solid #005687;
  outline: none;
  background-color: transparent;
  padding: 0 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.modal .inner ul li button .sub {
  font-size: 12px;
  color: #969696;
}
.modal .inner ul li button.padded {
  padding: 10px 30px;
}
.modal .inner ul li textarea {
  width: 100%;
  min-height: 300px;
  border: none;
  border-bottom: 1px solid #969696;
  outline: none;
  background-color: transparent;
  font-size: 24px;
  resize: none;
  box-sizing: border-box;
}
.modal .inner ul li label {
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 16px;
  color: #FFC10E;
  transform: translateY(calc(16px));
  transition: transform 0.25s, font-size 0.25s;
  cursor: pointer;
}
.modal .inner ul li textarea:focus + label,
.modal .inner ul li textarea.has-value + label {
  font-size: 12px;
  transform: translateY(0px);
}
.modal .inner ul li input[type=date] {
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #969696;
  outline: none;
  font-size: 16px;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  color: #005687;
}
.modal .inner ul li input[type=date]::before {
  content: none;
}
.modal .inner ul li:hover button {
  background-color: #005687;
  color: #FFF;
}
.modal .inner .foot {
  margin: 10px 0;
  text-align: center;
}
.modal .inner .foot button {
  border: none;
  outline: none;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  padding: 0 30px;
  font-size: 16px;
  background-color: #E5E5E5;
  color: #333D51;
  cursor: pointer;
  transition: background-color 0.25s;
}
.modal .inner .foot button:hover {
  background-color: #333D51;
  color: #FFF;
}

.add-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 20px;
  background-color: #969696;
  color: #FFF;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  vertical-align: text-top;
}

nav#languages {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 45px;
  top: 0;
  font-size: 12px;
  background-color: #005687;
  text-align: center;
  z-index: 10000;
}
nav#languages menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav#languages menu li {
  display: inline-block;
  min-width: 30px;
  height: 45px;
  line-height: 45px;
}
nav#languages menu li a {
  color: #FFF;
}
nav#languages menu li a.active {
  color: #B4DC28;
  text-decoration: underline;
}
nav#languages menu li.home-btn {
  flex-grow: 1;
  padding-left: 15px;
  white-space: nowrap;
  text-align: left;
}
nav#languages menu li.home-btn a {
  color: #B4DC28;
}
nav#languages menu li.options {
  flex-grow: 1;
}
nav#languages menu li.options ul li {
  display: inline-block;
}
nav#languages menu li.disabled a {
  color: #646464;
  cursor: default;
}
nav#languages menu li.disabled a.active {
  text-decoration: underline;
}
nav#languages menu li.user-id {
  flex-grow: 1;
  padding-right: 15px;
  text-align: right;
  color: #FFF;
}
nav#languages menu li.user-id u {
  color: #B4DC28;
}

button#expand-nav {
  position: fixed;
  display: block;
  top: 60px;
  left: 15px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 1px solid #E5E5E5;
  outline: none;
  background-color: #FFF;
  z-index: 10000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
button#expand-nav .line {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: #969696;
  transition: transform 0.25s, width 0.25s;
}
button#expand-nav .l1 {
  width: 20px;
  transform: translate(20px, 22.5px) rotate(0deg);
  transform-origin: center;
  transition-delay: 0.1s;
}
button#expand-nav .l2 {
  width: 15px;
  transform: translate(22.5px, 27.5px) rotate(0deg);
  transform-origin: center;
}
button#expand-nav .l3 {
  width: 10px;
  transform: translate(25px, 32.5px) rotate(0deg);
  transform-origin: center;
  transition-delay: 0.1s;
}

button#expand-nav.close .l1 {
  width: 25px;
  transform: translate(17.5px, 27.5px) rotate(-45deg);
  transform-origin: center;
}
button#expand-nav.close .l2 {
  width: 0;
  transform: translate(30px, 30px) rotate(0deg);
}
button#expand-nav.close .l3 {
  width: 25px;
  transform: translate(17.5px, 27.5px) rotate(45deg);
  transform-origin: center;
}

nav.tabs {
  position: fixed;
  top: 45px;
  width: 100%;
  height: 60px;
  margin-left: -15px;
  border-bottom: 1px solid #005687;
  background-color: #FFF;
  z-index: 100;
}
nav.tabs .inner {
  width: 100%;
}
nav.tabs .inner button.space {
  float: left;
  position: relative;
  width: calc(100% - 60px);
  height: 60px;
  border: none;
  outline: none;
  padding-left: 60px;
  background-color: transparent;
  font-weight: bold;
}
nav.tabs .inner button.space::after {
  content: ">";
  position: absolute;
  height: 60px;
  top: 0;
  color: #969696;
  text-align: center;
  transform: rotate(90deg);
}
nav.tabs .inner .count {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  margin: 0 0 0 15px;
  color: #969696;
}
nav.tabs .inner .count::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 0;
  left: -10px;
  top: -2px;
  border-left: 1px dotted #969696;
}
nav.tabs .inner .dropdown {
  position: absolute;
  width: calc(100% - 60px);
  max-height: 0;
  left: 30px;
  top: calc(100% + 1px);
  background-color: #FFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 100;
  transition: max-height 0.25s ease-out;
}
nav.tabs .inner .dropdown menu,
nav.tabs .inner .dropdown ul {
  width: 100%;
}
nav.tabs .inner .dropdown menu li,
nav.tabs .inner .dropdown ul li {
  position: relative;
  display: block;
  vertical-align: top;
}
nav.tabs .inner .dropdown menu li a,
nav.tabs .inner .dropdown ul li a {
  display: block;
}
nav.tabs .inner .dropdown menu li button,
nav.tabs .inner .dropdown ul li button {
  position: relative;
  width: 100%;
  height: 45px;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #969696;
  font-weight: normal;
  cursor: pointer;
  overflow: hidden;
}
nav.tabs .inner .dropdown menu li input[type=text],
nav.tabs .inner .dropdown ul li input[type=text] {
  position: relative;
  width: calc(100% - 30px);
  height: 38px;
  padding: 4.5px 15px 0 15px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: #005687;
  text-align: center;
}
nav.tabs .inner .dropdown menu li label,
nav.tabs .inner .dropdown ul li label {
  position: absolute;
  width: 100%;
  left: 0;
  font-size: 14px;
  line-height: 1.5em;
  color: #969696;
  transform: translateY(10px);
  transition: transform 0.25s, font-size 0.25s;
  text-align: center;
}
nav.tabs .inner .dropdown menu li label .count,
nav.tabs .inner .dropdown ul li label .count {
  position: relative;
  display: inline-block;
  font-size: 12px;
  margin: 0 0 5px 15px;
  color: #969696;
}
nav.tabs .inner .dropdown menu li label .count::before,
nav.tabs .inner .dropdown ul li label .count::before {
  content: "";
  position: absolute;
  vertical-align: middle;
  height: 20px;
  width: 0;
  left: -10px;
  top: 0;
  border-left: 1px dotted #969696;
}
nav.tabs .inner .dropdown menu li label::after,
nav.tabs .inner .dropdown ul li label::after {
  content: "";
  position: absolute;
  top: 4px;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background: url("../imgs/icons/i-search-sm.svg");
}
nav.tabs .inner .dropdown menu li input[type=text] + label,
nav.tabs .inner .dropdown ul li input[type=text] + label {
  pointer-events: none;
}
nav.tabs .inner .dropdown menu li input[type=text]:focus + label,
nav.tabs .inner .dropdown menu li input[type=text].has-value + label,
nav.tabs .inner .dropdown ul li input[type=text]:focus + label,
nav.tabs .inner .dropdown ul li input[type=text].has-value + label {
  font-size: 12px;
  line-height: 1.5em;
  transform: translateY(-5px);
}
nav.tabs .inner .dropdown menu li input[type=text]:focus + label::after,
nav.tabs .inner .dropdown menu li input[type=text].has-value + label::after,
nav.tabs .inner .dropdown ul li input[type=text]:focus + label::after,
nav.tabs .inner .dropdown ul li input[type=text].has-value + label::after {
  top: 2px;
}
nav.tabs .inner .dropdown menu li .dropdown,
nav.tabs .inner .dropdown ul li .dropdown {
  position: absolute;
  width: calc(100% - 60px);
  max-height: 0;
  left: 30px;
  top: 100%;
  background-color: #FFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  z-index: 100;
  transition: max-height 0.25s ease-out;
}
nav.tabs .inner .dropdown menu li .dropdown menu,
nav.tabs .inner .dropdown ul li .dropdown menu {
  width: 100%;
  border-top: 1px solid #969696;
}
nav.tabs .inner .dropdown menu li .dropdown menu li,
nav.tabs .inner .dropdown ul li .dropdown menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
  min-height: 45px;
  margin: 0;
  padding: 5px 30px;
  text-align: center;
}
nav.tabs .inner .dropdown menu li .dropdown menu li a,
nav.tabs .inner .dropdown ul li .dropdown menu li a {
  display: block;
  position: static;
  width: 100%;
  color: #000000;
  font-size: 14px;
  line-height: 1.5em;
  transform: none;
}
nav.tabs .inner .dropdown menu li .dropdown menu li:hover,
nav.tabs .inner .dropdown ul li .dropdown menu li:hover {
  background-color: #F3F3F3;
}
nav.tabs .inner .dropdown menu li:hover input[type=text],
nav.tabs .inner .dropdown menu li.active input[type=text],
nav.tabs .inner .dropdown ul li:hover input[type=text],
nav.tabs .inner .dropdown ul li.active input[type=text] {
  border-color: #E5E5E5;
}
nav.tabs .inner .dropdown menu li.active button,
nav.tabs .inner .dropdown ul li.active button {
  font-weight: bold;
  color: #005687;
}
nav.tabs .inner .dropdown menu li.active button .count,
nav.tabs .inner .dropdown ul li.active button .count {
  font-weight: normal;
}
nav.tabs .inner .dropdown menu li.active input[type=text],
nav.tabs .inner .dropdown ul li.active input[type=text] {
  border-color: #005687;
}
nav.tabs .inner .btn-group {
  float: right;
}
nav.tabs .inner .btn-group a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 15px 15px 0 0;
  border-radius: 30px;
  border: 1px solid #969696;
  text-align: center;
}
nav.tabs .inner .btn-group a i {
  line-height: 30px;
  font-size: 16px;
  color: #969696;
}
nav.tabs .inner .btn-group a.active {
  background-color: #005687;
  border-color: #005687;
}
nav.tabs .inner .btn-group a.active i {
  color: #FFF;
}

header { /* LEFT COlUMN */
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #FFF;
  z-index: 1000;
  transform: translateX(calc(-100% - 10px));
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease-out;
}
header .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  top: 0;
}
header .inner nav#site-title {
  display: block;
  margin-top: 60px;
}
header .inner nav#site-title .inner {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  height: auto;
}
header .inner nav#site-title .inner .create,
header .inner nav#site-title .inner .save {
  position: relative;
  margin-top: 31px;
}
header .inner nav#site-title .inner .create button,
header .inner nav#site-title .inner .save button {
  /* width: 100px; */
  min-height: 45px;
  margin: 0;
  padding: 0 30px;
  border: 1px solid #005687;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
header .inner nav#site-title .inner .create .dropdown,
header .inner nav#site-title .inner .save .dropdown {
  display: block;
  position: absolute;
  top: calc(100% - 1px);
  left: 50%;
  max-height: 0;
  width: calc(100vw - 60px);
  background-color: #FFF;
  overflow: hidden;
  z-index: 1000;
  transform: translateX(-50%);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: max-height 0.25s ease-out;
}
header .inner nav#site-title .inner .create .dropdown ul,
header .inner nav#site-title .inner .save .dropdown ul {
  width: 100%;
  border-top: 2px solid #005687;
}
header .inner nav#site-title .inner .create .dropdown ul li,
header .inner nav#site-title .inner .save .dropdown ul li {
  position: relative;
  background-color: #FFF;
}
header .inner nav#site-title .inner .create .dropdown ul li img,
header .inner nav#site-title .inner .save .dropdown ul li img {
  position: absolute;
  left: 30px;
  top: 7.5px;
  vertical-align: text-bottom;
  width: 30px;
  height: 30px;
}
header .inner nav#site-title .inner .create .dropdown ul li button,
header .inner nav#site-title .inner .save .dropdown ul li button {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 45px;
  margin: 0;
  padding-right: 15px;
  background-color: #FFF;
  border: none;
  cursor: pointer;
  text-align: center;
  color: #969696;
}
header .inner nav#site-title .inner .create .dropdown ul li button label,
header .inner nav#site-title .inner .save .dropdown ul li button label {
  display: block;
  width: 100%;
  cursor: pointer;
  margin: 10px 0;
}
header .inner nav#site-title .inner .create .dropdown ul li button .expandable,
header .inner nav#site-title .inner .save .dropdown ul li button .expandable {
  position: absolute;
  right: 30px;
  top: 2px;
  cursor: pointer;
  transform: translateY(50%) rotate(90deg);
}
header .inner nav#site-title .inner .create .dropdown ul li button:hover,
header .inner nav#site-title .inner .save .dropdown ul li button:hover {
  background-color: #E5E5E5 !important;
}
header .inner nav#site-title .inner .create .dropdown ul li button.wrapable,
header .inner nav#site-title .inner .save .dropdown ul li button.wrapable {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  white-space: normal;
  padding-top: 5px;
  padding-bottom: 5px;
  /*height: 60px;*/
}
header .inner nav#site-title .inner .create .dropdown ul li button.wrapable .sub,
header .inner nav#site-title .inner .save .dropdown ul li button.wrapable .sub {
  font-size: 12px;
}
header .inner nav#site-title .inner .create .dropdown ul li a button,
header .inner nav#site-title .inner .create .dropdown ul li a button:hover,
header .inner nav#site-title .inner .save .dropdown ul li a button,
header .inner nav#site-title .inner .save .dropdown ul li a button:hover {
  color: #005687;
}
header .inner nav#site-title .inner .create .dropdown ul li a:hover,
header .inner nav#site-title .inner .save .dropdown ul li a:hover {
  text-decoration: none;
}
header .inner nav#site-title .inner .create .dropdown ul li form,
header .inner nav#site-title .inner .save .dropdown ul li form {
  width: calc(100% - 45px);
  height: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0 15px 0 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
header .inner nav#site-title .inner .create .dropdown ul li form input[type=file],
header .inner nav#site-title .inner .save .dropdown ul li form input[type=file] {
  display: none;
}
header .inner nav#site-title .inner .create .dropdown ul li form input[type=file] + label,
header .inner nav#site-title .inner .save .dropdown ul li form input[type=file] + label {
  display: block;
  width: 100%;
  cursor: inherit;
}
header .inner nav#site-title .inner .create .dropdown ul li .dropdown,
header .inner nav#site-title .inner .save .dropdown ul li .dropdown {
  width: calc(100vw - 120px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
header .inner nav#site-title .inner .create .dropdown ul li .dropdown ul,
header .inner nav#site-title .inner .save .dropdown ul li .dropdown ul {
  border-top: 1px solid #969696;
}
header .inner nav#site-title .inner .create .dropdown ul li .dropdown ul li .dropdown,
header .inner nav#site-title .inner .save .dropdown ul li .dropdown ul li .dropdown {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: calc(100vw - 150px);
}
header .inner nav#site-title .inner .create .dropdown ul li .dropdown ul li .dropdown button,
header .inner nav#site-title .inner .save .dropdown ul li .dropdown ul li .dropdown button {
  font-size: 14px;
  line-height: 1.5em;
}
header .inner nav#site-title .inner .create .dropdown ul li .dropdown ul li:hover .dropdown,
header .inner nav#site-title .inner .save .dropdown ul li .dropdown ul li:hover .dropdown {
  display: block;
}
header .inner nav#site-title .inner .create .dropdown ul li .dropdown ul li:first-child::before,
header .inner nav#site-title .inner .save .dropdown ul li .dropdown ul li:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #969696;
}
header .inner nav#site-title .inner .create .dropdown ul li:hover > button,
header .inner nav#site-title .inner .create .dropdown ul li:hover > form,
header .inner nav#site-title .inner .save .dropdown ul li:hover > button,
header .inner nav#site-title .inner .save .dropdown ul li:hover > form {
  background-color: #E5E5E5 !important;
}
header .inner nav#site-title .inner .create:hover button,
header .inner nav#site-title .inner .create:focus button {
  background-color: #005687;
  color: #FFF;
}
header .inner nav#site-title .inner h1 {
  margin-top: 15px;
  font-size: 24px;
  line-height: 1.2em;
}
header .inner nav#site-title .inner h2 {
  margin: 5px 0;
  /*font-family: 'Noto Serif', serif;*/
  font-weight: 300;
  color: #B4DC28;
  font-size: 16px;
}
header .inner nav#site-title .inner .search {
  margin-top: 15px;
}
header .inner nav#site-title .inner .search button {
  border: none;
  outline: none;
  background-color: transparent;
}
header .inner nav#site-title .inner .search button img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
header .inner nav#modules {
  margin-bottom: 120px;
}
header .inner nav#modules menu {
  list-style: none;
}
header .inner nav#modules menu li {
  position: relative;
  text-align: center;
}
header .inner nav#modules menu li a {
  display: block;
  width: 100%;
  max-width: 150px;
  margin: auto;
  padding: 15px 0;
  color: #969696;
}
header .inner nav#modules menu li a:hover {
  text-decoration: none;
}
header .inner nav#modules menu li.active a {
  font-weight: bold;
  color: #005687;
}
header .inner nav#modules menu li:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 0px;
  left: calc(50% - 50px);
  border-top: 1px dotted #969696;
}

header.open {
  transform: translateX(0);
}

#statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px dotted #969696;
  /*.statistic:nth-child(2n  1) {
  	&::after {
  		content: '';
  		position: absolute;
  		left: 100%;
  		top: 0;
  		width: 0;
  		height: 100%;
  		border-right: 1px dotted $c-light-grey;
  	}
  }*/
}
#statistics .statistic {
  position: relative;
  width: 25%;
  margin: 5px 0;
  text-align: center;
}
#statistics .statistic h1 {
  font-size: 16px;
  line-height: 1.5em;
  color: #005687;
}
#statistics .statistic p {
  margin: 0;
  font-style: normal;
  font-size: 12px;
  line-height: 1.2em;
  color: #005687;
}
#statistics .statistic small {
  font-size: 12px;
  line-height: 1.5em;
  color: #969696;
}
#statistics .statistic:first-child {
  width: 50%;
  margin: 15px 0;
}
#statistics .statistic:first-child h1 {
  font-size: 36px;
  line-height: 1.2em;
}
#statistics .statistic:first-child p {
  font-size: 16px;
}

nav#filters {
  display: inline-block;
  vertical-align: top;
  margin-top: 45px;
}
nav#filters .inner {
  position: fixed;
  padding: 15px 30px 15px 5px;
}
nav#filters .inner p {
  margin: 0 0 15px 5px;
  font-size: 16px;
  font-style: italic;
  color: #969696;
}
nav#filters .inner .active-filters {
  width: 100%;
  margin-bottom: 30px;
}
nav#filters .inner .active-filters .tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #969696;
  padding: 0 0 0 10px;
  margin: 5px;
  background-color: #FFF;
  font-size: 12px;
  color: #969696;
}
nav#filters .inner .active-filters .tag label {
  cursor: pointer;
}
nav#filters .inner .active-filters .tag .type {
  flex-shrink: 0;
  font-size: 10px;
  padding-right: 5px;
  border-right: 1px dotted #969696;
}
nav#filters .inner .active-filters .tag .name {
  flex-grow: 1;
  margin: 0 10px 0 5px;
  white-space: nowrap;
}
nav#filters .inner .active-filters .tag .close {
  flex-shrink: 0;
  width: 30px;
  padding: 5px 0;
  background-color: #969696;
  text-align: center;
  color: #FFF;
}

/*# sourceMappingURL=navigate.xs.css.map */
