/*@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
/*$c-dark-blue: #0A4C73;*/
/*$c-dark-1: $c-dark-blue;
$c-mid-1: $c-dark-red;
$c-mid-2: $c-light-green;
$c-mid-2-light: rgba(87,100,140,.25);
$c-mid-3: #F4ED6E;
$c-light-1: $c-light-red;
$c-light-2: #E5E5E5;
$c-light-3: #F0F0F0;*/
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes anim-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-down {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  /*background-color: #F3F3F3;*/
}

body, text, textarea, input[type=text], button, *:empty:not(:focus):before {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  color: #005687;
}

ul {
  list-style: none;
}

a {
  /*color: $c-light-red;*/
  color: #32BEE1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
  display: none !important;
}

/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 60px white inset !important;
}

.screen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 30px);
  overflow: scroll;
  /*background-color: rgba(255,255,255,.75);*/
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75) 3px, rgba(229, 229, 229, 0.75) 3px, rgba(229, 229, 229, 0.75) 6px);
  animation: fade-in 0.25s;
  z-index: 99999;
}
.screen .modal .close {
  float: right;
  border: none;
  outline: none;
  background-color: #005687;
  color: #FFF;
  cursor: pointer;
}
.screen .modal .inner {
  border-top: 2px solid #005687;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.screen.bis {
  /*background-color: $c-mid-1;*/
}
.screen.bis .modal .close {
  /*background-color: $c-mid-2;*/
}
.screen.bis .modal .inner {
  /*border-top: 3px solid $c-mid-2;*/
}

.screen.ter {
  background-color: #F3F3F3;
  /*background: linear-gradient(135deg, $c-light-2 0%, $c-light-3 100%);*/
}
.screen.ter .modal .close {
  background-color: #333D51;
}
.screen.ter .modal .inner {
  border-top: 3px solid #333D51;
}

*:empty:not(:focus):before {
  content: attr(data-placeholder);
  font-weight: 400;
  /*color: $c-light-1;*/
  color: #969696;
  pointer-events: none;
}

input.toggle {
  display: none;
}

input.toggle + label {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #969696;
  margin: 15px auto 0px auto;
  background-color: #969696;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

input.toggle:checked + label {
  /*border-color: $c-dark-blue;*/
  background-color: transparent;
}

input.toggle:checked + label[for=status--1] {
  /*border-color: $c-mid-yellow;*/
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(150, 150, 150, 0.1) 3px, rgba(150, 150, 150, 0.1) 6px);
}

input.toggle:checked + label[for=status-0] {
  /*border-color: $c-mid-yellow;*/
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(255, 193, 14, 0.25) 3px, rgba(255, 193, 14, 0.25) 6px);
}

input.toggle:checked + label[for=status-1] {
  /*border-color: $c-light-blue;*/
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(50, 190, 225, 0.25) 3px, rgba(50, 190, 225, 0.25) 6px);
}

input.toggle + label::after {
  content: attr(data-content);
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  margin: -1px 0 0 -1px;
  background-color: #FFF;
  border: 1px solid #969696;
  border-radius: 20px;
  font-size: 8px;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  color: #969696;
  transition: transform 0.25s;
}

input.toggle:checked + label[for=status-0]::after {
  /*background-color: $c-mid-yellow;*/
  /*border-color: $c-mid-yellow;*/
}

input.toggle:checked + label[for=status-1]::after {
  /*background-color: $c-light-blue;*/
  /*border-color: $c-light-blue;*/
}

input.toggle:checked + label::after {
  transform: translate(20px, 0);
  background-color: #005687;
  border-color: #005687;
  color: #FFF;
}

input.toggle:disabled + label {
  background-color: #E5E5E5;
  border-color: #E5E5E5;
}

input.toggle:disabled + label::after {
  color: #E5E5E5;
  background-color: #FFF;
  border-color: #E5E5E5;
}

/* https://loading.io/css/ */
.lds-ellipsis {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  text-align: center;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  /*background: $c-mid-2;*/
  background: #969696;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.toppage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  margin: 20px;
}

.toppage > menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toppage a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 5px;
  margin: 10px;
  background-color: #F3F3F3;
  border-radius: 5px;
  width: 120px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.toppage a:hover {
  color: #E5E5E5;
  background-color: #0468B1;
}

html, body {
  font-size: 16px;
  line-height: 1.5em;
}

.xs,
.sm,
.m {
  display: none;
}

.no-bg {
  background-color: transparent !important;
}

.modal {
  width: 300px;
  margin-bottom: 75px;
}
.modal .close {
  padding: 5px 10px;
  font-size: 12px;
}
.modal .inner {
  clear: both;
  padding: 15px 15px 5px 15px;
  background-color: #FFF;
}
.modal .inner .headline {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #C2B4D6;
  font-size: 16px;
  text-align: center;
}
.modal .inner .message {
  margin-bottom: 15px;
  font-size: 16px;
}
.modal .inner .message input[type=text],
.modal .inner .message input[type=number] {
  width: 65px;
  border: none;
  border-bottom: 1px solid #FFC10E;
  outline: none;
  text-align: center;
  font-weight: 700;
  color: #FFC10E;
}
.modal .inner .message small {
  font-size: 12px;
  color: #C2B4D6;
}
.modal .inner ul li {
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  /*button.dropbtn {
  	border: none;
  	border-bottom: 1px solid $c-light-grey;
  	color: $c-light-grey;
  	font-size: $t-mid-small;
  }*/
}
.modal .inner ul li button {
  width: 100%;
  min-height: 30px;
  border: 1px solid #005687;
  outline: none;
  background-color: transparent;
  padding: 0 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.modal .inner ul li button .sub {
  font-size: 12px;
  color: #969696;
}
.modal .inner ul li button.padded {
  padding: 10px 30px;
}
.modal .inner ul li textarea {
  width: 100%;
  min-height: 300px;
  border: none;
  border-bottom: 1px solid #969696;
  outline: none;
  background-color: transparent;
  font-size: 24px;
  resize: none;
  box-sizing: border-box;
}
.modal .inner ul li label {
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 16px;
  color: #969696;
  transform: translateY(calc(16px));
  transition: transform 0.25s, font-size 0.25s;
  cursor: pointer;
}
.modal .inner ul li input:not([type=checkbox]):not([type=radio]):focus + label,
.modal .inner ul li input.has-value:not([type=checkbox]):not([type=radio]) + label,
.modal .inner ul li textarea:focus + label,
.modal .inner ul li textarea.has-value + label {
  font-size: 12px;
  transform: translateY(-5px);
}
.modal .inner ul li input.full-width {
  width: 100%;
  margin: 5px 0 15px 0;
  padding: 15px 0 15px 0;
  border: none;
  border-bottom: 1px solid #005687;
  outline: none;
  font-size: 16px;
}
.modal .inner ul li input + label {
  top: 1px;
}
.modal .inner ul li input:focus {
  border-color: #FFF32A;
}
.modal .inner ul li input[type=date] {
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #969696;
  outline: none;
  font-size: 16px;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  color: #005687;
}
.modal .inner ul li input[type=date]::before {
  content: none;
}
.modal .inner ul li .filter input[type=text] {
  width: calc(100% - 30px);
  height: 45px;
  margin-left: 0;
  padding: 0 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid #969696;
  font-size: 16px;
  line-height: 1.5em;
}
.modal .inner ul li .filter input[type=text] + label {
  left: 15px;
  font-size: 14px;
  line-height: 1.5em;
  transform: translateY(12px);
}
.modal .inner ul li .filter input[type=text]:focus + label,
.modal .inner ul li .filter input[type=text].has-value + label {
  font-size: 12px;
  line-height: 1.5em;
  transform: translateY(-10px);
}
.modal .inner ul li .filter .dropdown {
  position: absolute;
  width: 100%;
  max-height: 0;
  left: 0;
  top: 100%;
  background-color: #FFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  z-index: 10;
  transition: max-height 0.25s ease-out;
}
.modal .inner ul li .filter .dropdown menu {
  width: 100%;
}
.modal .inner ul li .filter .dropdown menu li {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 5px 15px 5px 15px;
  list-style: none;
  box-sizing: border-box;
}
.modal .inner ul li .filter .dropdown menu li input[type=checkbox],
.modal .inner ul li .filter .dropdown menu li input[type=radio] {
  display: none;
}
.modal .inner ul li .filter .dropdown menu li label {
  display: block;
  position: static;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5em;
  color: #000000;
  transform: none;
  pointer-events: all;
  cursor: pointer;
}
.modal .inner ul li .filter .dropdown menu li label .count {
  float: right;
  color: #969696;
}
.modal .inner ul li .filter .dropdown menu li label.secondary {
  padding: 0;
  font-size: 12px;
  color: #969696;
  font-style: italic;
}
.modal .inner ul li .filter .dropdown menu li input:disabled + label {
  color: #969696;
}
.modal .inner ul li .filter .dropdown menu li:hover {
  background-color: #F3F3F3;
}
.modal .inner ul li .filter .dropdown menu li.active {
  background-color: #32BEE1;
}
.modal .inner ul li.default {
  text-align: left;
}
.modal .inner ul li.default label {
  position: static;
  margin-left: 10px;
  color: #000000;
  font-size: 14px;
}
.modal .inner ul li:hover {
  /*button {
  	background-color: $c-dark-blue;
  	color: #FFF;
  }*/
}
.modal .inner .foot {
  margin: 10px 0;
  text-align: center;
  /*button {
  	border: none;
  	outline: none;
  	height: 45px;
  	width: 100%;
  	border-radius: 5px;
  	padding: 0 30px;
  	font-size: $t-main;
  	background-color: $c-light-2;
  	color: $c-dark-1;
  	cursor: pointer;
  	transition: background-color .25s;
  }
  button:hover {
  	background-color: $c-dark-1;
  	color: #FFF;
  }*/
}
.modal .inner .foot button {
  width: 100%;
  min-height: 30px;
  border: 1px solid #005687;
  outline: none;
  background-color: transparent;
  padding: 0 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.modal .inner .foot button .sub {
  font-size: 12px;
  color: #969696;
}

.modal.longlist .inner {
  padding: 0;
}
.modal.longlist .inner .message {
  padding: 15px 15px 5px 15px;
  margin: 0;
}
.modal.longlist .inner ul {
  width: 100%;
  max-height: 500px;
  overflow: scroll;
}
.modal.longlist .inner ul li.filter {
  position: fixed;
  height: 45px;
  width: 300px;
  background-color: #FFF;
  border-bottom: 1px solid #969696;
  z-index: 100;
}
.modal.longlist .inner ul li.filter input[type=text] {
  position: relative;
  width: calc(100% - 30px);
  height: 30px;
  padding: 15px 15px 0 15px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: #005687;
}
.modal.longlist .inner ul li.filter label {
  position: absolute;
  left: 15px;
  /*width: calc(100% - 30px);*/
  font-size: 14px;
  line-height: 1.5em;
  color: #969696;
  transform: translateY(13.5px);
  transition: transform 0.25s, font-size 0.25s;
}
.modal.longlist .inner ul li.filter label::after {
  content: "";
  position: absolute;
  top: 4px;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background: url("../imgs/icons/i-search-sm.svg");
}
.modal.longlist .inner ul li.filter input[type=text] + label {
  pointer-events: none;
}
.modal.longlist .inner ul li.filter input[type=text]:focus + label,
.modal.longlist .inner ul li.filter input[type=text].has-value + label {
  font-size: 12px;
  line-height: 1.5em;
  transform: translateY(2px);
}
.modal.longlist .inner ul li.padding {
  width: 100%;
  height: 45px;
  margin: 0;
}
.modal.longlist .inner ul li.opt {
  margin: 0;
}
.modal.longlist .inner ul li.opt input[type=checkbox] {
  display: none;
}
.modal.longlist .inner ul li.opt label {
  display: block;
  padding: 5px 15px;
  margin: 0;
  transform: none;
}
.modal.longlist .inner ul li.opt label:hover {
  background-color: #F3F3F3;
}
.modal.longlist .inner ul li.opt input:checked + label {
  background-color: #32BEE1;
}
.modal.longlist .inner .foot {
  padding: 15px;
  margin: 0;
}

.add-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 20px;
  background-color: #969696;
  color: #FFF;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  vertical-align: text-top;
}

.fact-sheet {
  position: relative;
  display: block;
  float: left;
  width: 840px;
  padding: 30px 60px 0 60px;
  background-color: #FFF;
  min-height: calc(100vh - 30px);
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}
.fact-sheet main#profile .inner .meta-status {
  position: sticky;
  top: 30px;
  width: calc(100% + 120px);
  margin: 0 0 30px -60px;
  z-index: 100;
}
.fact-sheet main#profile .inner .meta-status .btn-group {
  height: 30px;
  padding: 15px 10px 15px 0;
  margin: 0 0 0 auto;
  text-align: right;
  z-index: 100;
}
.fact-sheet main#profile .inner .meta-status .btn-group button {
  height: 30px;
  padding: 0 10px;
  margin: 0 5px;
  border: 1px solid #005687;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.5em;
  cursor: pointer;
}
.fact-sheet main#profile .inner .meta-status .btn-group button.save {
  background-color: #32BEE1;
  border-color: #32BEE1;
  color: #FFF;
}
.fact-sheet main#profile .inner .meta-status .btn-group button:disabled {
  background-color: transparent;
  border: 1px solid #E5E5E5;
  color: #E5E5E5;
  pointer-events: none;
  cursor: default;
}
.fact-sheet main#profile .inner .meta-status.status-0 {
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(255, 193, 14, 0.1) 3px, rgba(255, 193, 14, 0.1) 6px);
}
.fact-sheet main#profile .inner .meta-status.status-1 {
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(50, 190, 225, 0.1) 3px, rgba(50, 190, 225, 0.1) 6px);
}
.fact-sheet main#profile .inner .meta-status.status-2 {
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(150, 150, 150, 0.1) 3px, rgba(150, 150, 150, 0.1) 6px);
}
.fact-sheet main#profile .inner .head {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.fact-sheet main#profile .inner .head .return {
  display: block;
  margin-bottom: 15px;
}
.fact-sheet main#profile .inner .head i {
  position: absolute;
  right: 100%;
}
.fact-sheet main#profile .inner .head .title {
  width: 100%;
  outline: none;
  border-bottom: 1px solid transparent;
  font-size: 36px;
  line-height: 1.3em;
  font-weight: 700;
}
.fact-sheet main#profile .inner .body form button.expand-collapsed {
  position: relative;
  width: 100%;
  min-height: 65px;
  padding: 10px;
  background: repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(150, 150, 150, 0.1) 3px, rgba(150, 150, 150, 0.1) 6px);
  border: none;
  outline: none;
  color: #005687;
  font-size: 16px;
  line-height: 1.5em;
  cursor: pointer;
  /*
  &::after {
  	content: '';
  	position: absolute;
  	top: 0;
  	width: 0;
  	height: 0;
  	border-left: 6px solid transparent;
  	border-right: 6px solid transparent;
  	border-bottom: 8px solid $c-light-grey;
  	transform: translate(-4px, -8px);
  }
  */
}
.fact-sheet main#profile .inner .body form div.info {
  margin: 30px 0;
}
.fact-sheet main#profile .inner .body form div.info ul li {
  position: relative;
  min-height: 45px;
  margin: 5px 0;
  /*border-bottom: 1px dotted $c-light-grey;*/
}
.fact-sheet main#profile .inner .body form div.info ul li .required {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -45px;
  width: 30px;
  top: -5px;
  height: 100%;
  margin: 5px 0;
  text-align: center;
}
.fact-sheet main#profile .inner .body form div.info ul li .required input {
  display: none;
}
.fact-sheet main#profile .inner .body form div.info ul li .required label {
  font-size: 20px;
  line-height: 1.5em;
  color: #969696;
  cursor: pointer;
  margin-top: 10px;
}
.fact-sheet main#profile .inner .body form div.info ul li .required input:checked + label,
.fact-sheet main#profile .inner .body form div.info ul li .required label.active {
  color: #A51E41;
}
.fact-sheet main#profile .inner .body form div.info ul li label.instruction {
  display: inline-block;
  width: 30%;
  color: #969696;
  padding: 5px 0 5px 10px;
  /*margin-bottom: 5px;*/
  border-left: 1px dotted #969696;
  font-size: 14px;
  line-height: 1.5em;
  vertical-align: middle;
}
.fact-sheet main#profile .inner .body form div.info ul li .input-group {
  display: inline-block;
  position: relative;
  width: 50%;
}
.fact-sheet main#profile .inner .body form div.info ul li .input-group input.toggle + label {
  margin: 0;
}
.fact-sheet main#profile .inner .body form div.info ul li .pinboard-group {
  display: inline-block;
  position: relative;
  width: 50%;
}
.fact-sheet main#profile .inner .body form div.info ul li .pinboard-group .pinboard {
  /*display: flex;
  justify-content: flex-start;
  align-items: top;*/
  width: 100%;
  min-height: 45px;
  margin-top: 10px;
}
.fact-sheet main#profile .inner .body form div.info ul li .pinboard-group .pinboard .pins {
  display: flex;
  margin: auto 0;
  flex-wrap: wrap;
}
.fact-sheet main#profile .inner .body form div.info ul li .pinboard-group .pinboard .pins .pin {
  display: inline-block;
  height: 30px;
  padding: 0 0 0 5px;
  margin: 0 5px 5px 0;
  font-size: 12px;
  line-height: 30px;
  border: 1px solid #969696;
  color: #969696;
  white-space: nowrap;
}
.fact-sheet main#profile .inner .body form div.info ul li .pinboard-group .pinboard .pins .pin label {
  vertical-align: top;
}
.fact-sheet main#profile .inner .body form div.info ul li .pinboard-group .pinboard .pins .pin .name {
  flex-grow: 1;
  margin: 0 10px 0 5px;
  white-space: nowrap;
  font-weight: normal;
}
.fact-sheet main#profile .inner .body form div.info ul li .pinboard-group .pinboard .pins .pin .close {
  display: inline-block;
  width: 30px;
  background-color: #969696;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: #FFF;
  cursor: pointer;
}
.fact-sheet main#profile .inner .body form div.info ul li .pinboard-group.margin-left {
  margin-left: calc(30% + 15px);
}
.fact-sheet main#profile .inner .body form div.info ul li input[type=text],
.fact-sheet main#profile .inner .body form div.info ul li input[type=email],
.fact-sheet main#profile .inner .body form div.info ul li input[type=password] {
  position: relative;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  padding: 15px 15px 0 15px;
  background-color: transparent;
  font-size: 14px;
  color: #005687;
  border-bottom: 1px solid #969696;
}
.fact-sheet main#profile .inner .body form div.info ul li input[type=text] + label,
.fact-sheet main#profile .inner .body form div.info ul li input[type=email] + label,
.fact-sheet main#profile .inner .body form div.info ul li input[type=password] + label {
  position: absolute;
  left: 15px;
  top: 5px;
  font-size: 14px;
  line-height: 1.5em;
  color: #969696;
  transform: translateY(13.5px);
  transition: transform 0.25s, font-size 0.25s;
  pointer-events: none;
}
.fact-sheet main#profile .inner .body form div.info ul li input[type=text]:focus + label,
.fact-sheet main#profile .inner .body form div.info ul li input[type=text].has-value + label,
.fact-sheet main#profile .inner .body form div.info ul li input[type=email]:focus + label,
.fact-sheet main#profile .inner .body form div.info ul li input[type=email].has-value + label,
.fact-sheet main#profile .inner .body form div.info ul li input[type=password]:focus + label,
.fact-sheet main#profile .inner .body form div.info ul li input[type=password].has-value + label {
  font-size: 12px;
  line-height: 1.5em;
  transform: translateY(-2px);
}
.fact-sheet main#profile .inner .body form div.info ul li input[type=email]:invalid,
.fact-sheet main#profile .inner .body form div.info ul li input[type=password].error {
  background: repeating-linear-gradient(45deg, #FFF, #FFF 3px, rgba(165, 30, 65, 0.1) 3px, rgba(165, 30, 65, 0.1) 6px);
}
.fact-sheet main#profile .inner .body form div.info ul li div.select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 33%;
}
.fact-sheet main#profile .inner .body form div.info ul li div.select input[type=text] + label {
  width: 100%;
}
.fact-sheet main#profile .inner .body form div.info ul li div.select input[type=text] + label::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
  width: 15px;
  height: 15px;
  margin: auto;
  background: url("../imgs/icons/i-search-sm.svg");
}
.fact-sheet main#profile .inner .body form div.info ul li div.select .dropdown {
  position: absolute;
  width: calc(100% + 30px);
  max-height: 0;
  left: 0;
  top: 100%;
  background-color: #FFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  z-index: 100;
  transition: max-height 0.25s ease-out;
}
.fact-sheet main#profile .inner .body form div.info ul li div.select .dropdown menu {
  width: 100%;
}
.fact-sheet main#profile .inner .body form div.info ul li div.select .dropdown menu li {
  width: 100%;
  min-height: 0;
  margin: 0;
  padding: 0;
  border: none;
}
.fact-sheet main#profile .inner .body form div.info ul li div.select .dropdown menu li input {
  display: none;
}
.fact-sheet main#profile .inner .body form div.info ul li div.select .dropdown menu li label {
  display: block;
  position: static;
  width: calc(100% - 35px);
  padding: 5px 20px 5px 15px;
  color: #000000;
  font-size: 14px;
  line-height: 1.5em;
  transform: none;
}
.fact-sheet main#profile .inner .body form div.info ul li div.select .dropdown menu li label .count {
  float: right;
  color: #969696;
}
.fact-sheet main#profile .inner .body form div.info ul li div.select .dropdown menu li input:checked + label {
  background-color: #32BEE1;
}
.fact-sheet main#profile .inner .body form div.info ul li div.select .dropdown menu li input:disabled + label {
  color: #969696;
}
.fact-sheet main#profile .inner .body form div.info ul li div.select .dropdown menu li:hover {
  background-color: #F3F3F3;
}
.fact-sheet main#profile .inner .body form div.info ul li button.add-info {
  min-height: 45px;
  /*width: 100%;*/
  border: none;
  outline: none;
  background-color: transparent;
  color: #969696;
  cursor: pointer;
  /*background: repeating-linear-gradient(
  	45deg,
  	transparent,
  	transparent 3px,
  	rgba(150, 150, 150, .1) 3px,
  	rgba(150, 150, 150, .1) 6px
  );*/
}
.fact-sheet main#profile .inner .body form div.info.collapsed {
  max-height: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
}
.fact-sheet main#profile .inner .body form div.info.collapsed button.expand-collapsed {
  margin-top: 15px;
}

/*# sourceMappingURL=profile.lg.css.map */
