/*@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
/*$c-dark-blue: #0A4C73;*/
/*$c-dark-1: $c-dark-blue;
$c-mid-1: $c-dark-red;
$c-mid-2: $c-light-green;
$c-mid-2-light: rgba(87,100,140,.25);
$c-mid-3: #F4ED6E;
$c-light-1: $c-light-red;
$c-light-2: #E5E5E5;
$c-light-3: #F0F0F0;*/
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes anim-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-down {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  /*background-color: #F3F3F3;*/
}

body, text, textarea, input[type=text], button, *:empty:not(:focus):before {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  color: #005687;
}

ul {
  list-style: none;
}

a {
  /*color: $c-light-red;*/
  color: #32BEE1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
  display: none !important;
}

/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 60px white inset !important;
}

.screen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 30px);
  overflow: scroll;
  /*background-color: rgba(255,255,255,.75);*/
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75) 3px, rgba(229, 229, 229, 0.75) 3px, rgba(229, 229, 229, 0.75) 6px);
  animation: fade-in 0.25s;
  z-index: 99999;
}
.screen .modal .close {
  float: right;
  border: none;
  outline: none;
  background-color: #005687;
  color: #FFF;
  cursor: pointer;
}
.screen .modal .inner {
  border-top: 2px solid #005687;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.screen.bis {
  /*background-color: $c-mid-1;*/
}
.screen.bis .modal .close {
  /*background-color: $c-mid-2;*/
}
.screen.bis .modal .inner {
  /*border-top: 3px solid $c-mid-2;*/
}

.screen.ter {
  background-color: #F3F3F3;
  /*background: linear-gradient(135deg, $c-light-2 0%, $c-light-3 100%);*/
}
.screen.ter .modal .close {
  background-color: #333D51;
}
.screen.ter .modal .inner {
  border-top: 3px solid #333D51;
}

*:empty:not(:focus):before {
  content: attr(data-placeholder);
  font-weight: 400;
  /*color: $c-light-1;*/
  color: #969696;
  pointer-events: none;
}

input.toggle {
  display: none;
}

input.toggle + label {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #969696;
  margin: 15px auto 0px auto;
  background-color: #969696;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

input.toggle:checked + label {
  /*border-color: $c-dark-blue;*/
  background-color: transparent;
}

input.toggle:checked + label[for=status--1] {
  /*border-color: $c-mid-yellow;*/
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(150, 150, 150, 0.1) 3px, rgba(150, 150, 150, 0.1) 6px);
}

input.toggle:checked + label[for=status-0] {
  /*border-color: $c-mid-yellow;*/
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(255, 193, 14, 0.25) 3px, rgba(255, 193, 14, 0.25) 6px);
}

input.toggle:checked + label[for=status-1] {
  /*border-color: $c-light-blue;*/
  background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(50, 190, 225, 0.25) 3px, rgba(50, 190, 225, 0.25) 6px);
}

input.toggle + label::after {
  content: attr(data-content);
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  margin: -1px 0 0 -1px;
  background-color: #FFF;
  border: 1px solid #969696;
  border-radius: 20px;
  font-size: 8px;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  color: #969696;
  transition: transform 0.25s;
}

input.toggle:checked + label[for=status-0]::after {
  /*background-color: $c-mid-yellow;*/
  /*border-color: $c-mid-yellow;*/
}

input.toggle:checked + label[for=status-1]::after {
  /*background-color: $c-light-blue;*/
  /*border-color: $c-light-blue;*/
}

input.toggle:checked + label::after {
  transform: translate(20px, 0);
  background-color: #005687;
  border-color: #005687;
  color: #FFF;
}

input.toggle:disabled + label {
  background-color: #E5E5E5;
  border-color: #E5E5E5;
}

input.toggle:disabled + label::after {
  color: #E5E5E5;
  background-color: #FFF;
  border-color: #E5E5E5;
}

/* https://loading.io/css/ */
.lds-ellipsis {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  text-align: center;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  /*background: $c-mid-2;*/
  background: #969696;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*# sourceMappingURL=vars.css.map */
