<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpRedirect enabled="true" destination="https://%{HTTP_HOST}" />
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://unpkg.com/leaflet@1.6.0/dist/leaflet.js; style-src 'self' 'unsafe-inline' https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css https://unpkg.com/leaflet@1.6.0/dist/leaflet.css; img-src 'self' data: https://acclabplatforms.blob.core.windows.net https://undp-accelerator-labs.github.io/national_innovation_ecosystems_toolkit; font-src 'self' https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined; connect-src 'self' https://nlpapi.azurewebsites.net" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>